/* Based on https://github.com/dempfi/ayu */

.cm-s-ayu-yellow.CodeMirror { background-color: #00000022 ;  color: black; font-size: 12px; font-weight: 700; }
.cm-s-ayu-yellow div.CodeMirror-selected { background: red; color: black;}
.cm-s-ayu-yellow .CodeMirror-line::selection, .cm-s-ayu-yellow .CodeMirror-line > span::selection, .cm-s-ayu-yellow .CodeMirror-line > span > span::selection { background: red; }
.cm-s-ayu-yellow .CodeMirror-line::-moz-selection, .cm-s-ayu-yellow .CodeMirror-line > span::-moz-selection, .cm-s-ayu-yellow .CodeMirror-line > span > span::-moz-selection { background: greenyellow; }
.cm-s-ayu-yellow .CodeMirror-gutters { background: #1e192f55; border-right: 0px;   }
.cm-s-ayu-yellow .CodeMirror-guttermarker { color: white; }
.cm-s-ayu-yellow .CodeMirror-guttermarker-subtle { color: #3d424d; }
.cm-s-ayu-yellow .CodeMirror-linenumber { color: #3d424d; }
.cm-s-ayu-yellow .CodeMirror-cursor { border-left: 1px solid #A32282; }

.cm-s-ayu-yellow span.cm-comment { color: white; }
.cm-s-ayu-yellow span.cm-atom { color: darkorchid; }
.cm-s-ayu-yellow span.cm-number { color: blue; }

.cm-s-ayu-yellow span.cm-comment.cm-attribute { color: green; }
.cm-s-ayu-yellow span.cm-comment.cm-def { color: rgba(57, 186, 230, 80); }
.cm-s-ayu-yellow span.cm-comment.cm-tag { color: #39bae6; }
.cm-s-ayu-yellow span.cm-comment.cm-type { color: #5998a6; }

.cm-s-ayu-yellow span.cm-property, .cm-s-ayu-yellow span.cm-attribute { color: black; }
.cm-s-ayu-yellow span.cm-keyword { color: darkred; }
.cm-s-ayu-yellow span.cm-builtin { color: black; }
.cm-s-ayu-yellow span.cm-string { color: seagreen; }

.cm-s-ayu-yellow span.cm-variable { color: red; }
.cm-s-ayu-yellow span.cm-variable-2 { color: purple; }
.cm-s-ayu-yellow span.cm-variable-3 { color: #39bae6; }
.cm-s-ayu-yellow span.cm-type { color: pink; }
.cm-s-ayu-yellow span.cm-def { color: greenyellow }
.cm-s-ayu-yellow span.cm-bracket { color: seagreen; }
.cm-s-ayu-yellow span.cm-tag { color: darkolivegreen; }
.cm-s-ayu-yellow span.cm-header { color: black; }
.cm-s-ayu-yellow span.cm-link { color: #39bae6; }
.cm-s-ayu-yellow span.cm-error { color: #ff3333; }

.cm-s-ayu-yellow .CodeMirror-activeline-background { background: #01060e; }
.cm-s-ayu-yellow .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: green !important;
}
