;; outliers kit config		
{:author   {:name "Ryan Robitaille"
            :email "ryan.robitaille@gmail.com"
            :x "@ryrobes"
            :site "https://ryrob.es/"}
;;  :repl     {:host "127.0.0.1"
;;             :port 42999} ;; or nil map for internal/managed launch
 ;:jar       nil   ;; for rabbit-managed runs to bootstrap the repl?
 :packages {:buffy {:fn (rvbbit-backend.assistants/buffy :query-name)
                    :name "Ask Buffy!"
                    :icon "zmdi-cocktail" ;; or "...png"
                    :run-on :queries ;; or :views or :both 
                    ;:when [:= :table-name "farto"]
                    :description "What does Buffy think about this data? Who knows!"}}}



