;; outliers kit config		
{:author   {:name "Ryan Robitaille"
            :email "ryan.robitaille@gmail.com"
            :x "@ryrobes"
            :site "https://ryrob.es/"}
 :repl     {:host "127.0.0.1"
            :port 42999} ;; or nil map for internal/managed launch
 ;:jar       nil   ;; for rabbit-managed runs to bootstrap the repl?
 :packages {:outliers {:fn (rabbit-kit-outliers.core/get-outliers :query-name :panel-name :query  )
                       :name "Outliers"
                       :icon "zmdi-functions" ;; or "...png"
                       :image-url "images/outliers-image.png"
                       :run-on :queries ;; or :views or :both 
                       ;:when [:= :table-name "farto"]
                       :description "A basic multivariate outlier detection runstream. Highlight outliers in various dimensional groupings as a launch pad for further exploration."}
            :forecast {:fn (rabbit-kit-outliers.core/get-forecast :query-name :panel-name :query)
                       :name "Forecasting"
                       :icon "zmdi-brightness-7" ;; or "...png"
                       :run-on :queries ;; or :views or :both 
                       ;:when [:= :table-name "farto"]
                       :description "WIP: basic timeseries forecasting based on previous values"}
        ;;     :buffy {:fn (rabbit-kit-outliers.core/get-outliers :query-name :panel-name :query)
        ;;             :name "Ask Buffy!"
        ;;             :icon "zmdi-cocktail" ;; or "...png"
        ;;             :run-on :queries ;; or :views or :both 
        ;;             ;:when [:= :table-name "farto"]
        ;;             :description "What does Buffy think about this data? Who knows!"}
            ;; :forecast {:fn (get-outliers :query-name :panel-name :query)
            ;;             :name "Outliers2"
            ;;             :icon "zmdi-turd" ;; or "...png"
            ;;             :run-on :queries ;; or :views or :both 
            ;;            ;:when [:= :table-name "farto"]
            ;;             :description "detect basic outliers in various dimensional groupings as a launch pad for further exploration"}
            }}