{:description "Samuel is a SQL master. Can write or modify all RVBBIT queries."
 :personality "hey"
 :name-style {:font-family "Poppins"
              :color "#7FFFD4"}
 :image "assets/ai-workers/Samuel.jpg"
 :elevenlabs-voice "Denzel"
 :model "o1-preview"
 :platform "OpenAI"
 :chat-style {}}



