
{:auto-commit        true
 :read-only          true
 :connection-timeout 30000
 :validation-timeout 5000
 :idle-timeout       600000
 :max-lifetime       1800000
 :minimum-idle       10
 :maximum-pool-size  10
 :jdbc-url           "jdbc:postgresql://localhost:5432/postgres"
 :adapter            "postgresql"
;; :username           "postgres"
;; :password           "test"
;; :database-name      "rabbit"
 :server-name        "localhost"
 :port-number        5432
 :register-mbeans    false}

