{:flowmaps
 {:turds-are-not-a-number
  {:y 1275,
   :w 175,
   :right-click? true,
   :types nil,
   :z 0,
   :ports {:in {}, :out {:out {:out :string}}},
   :inputs nil,
   :h 85,
   :x 1850,
   :data {:drag-meta {:type :open-block}, :flow-item {:expandable? true}, :user-input "turds"}},
  :a-number
  {:w 150,
   :h 85,
   :z 0,
   :data {:drag-meta {:type :open-block}, :flow-item {:expandable? true}, :user-input 123},
   :right-click? true,
   :ports {:in {}, :out {:out :integer}},
   :x 2050,
   :y 1275},
  :addition
  {:y 1400,
   :w 275,
   :right-click? true,
   :icon "zmdi-plus",
   :z 0,
   :ports {:in {:args+ [:integer :float]}, :out {:out [:integer :float]}},
   :h 160,
   :x 1950,
   :data
   {:flow-item
    {:category ":clojure-base",
     :name ":+",
     :type :+,
     :icon "zmdi-plus",
     :defaults nil,
     :types {:args+ [:integer :float], :out [:integer :float]},
     :style nil,
     :selected-style nil,
     :inputs [:args+],
     :expandable? true,
     :required nil},
    :drag-meta {:type :+}}}},
 :opts {:retry-on-error? true, :retries 5, :close-on-done? true},
 :zoom [-1827.24 -1605.57 1.4],
 :flow-id "beaver-flow-656",
 :flowmaps-connections [[:turds-are-not-a-number :addition/args+] [:a-number :addition/args+] [:addition :done]]}