{:flowmaps
 {:kick-1
  {:w 200,
   :h 100,
   :x 1641.669515306122,
   :y 1499.7198371731504,
   :z 0,
   :data
   {:flow-item
    {:description "Push items to the client UI.",
     :category ":rabbit-base",
     :fn
     (fn [destination
          ref
          item-key
          thread-id
          message-name
          thread-desc
          &
          args]
       (rvbbit-backend.websockets/kick
         destination
         ref
         item-key
         thread-id
         message-name
         thread-desc
         args)),
     :name ":kick",
     :type :kick,
     :icon "images/pink-rabbit-head.png",
     :defaults
     {:destination :client-name,
      :item-key ":base",
      :thread-id :flow-id,
      :message-name "Unnamed Message",
      :thread-desc :flow-id,
      :ref :flow-id},
     :types
     {:destination [:keyword :vector :list :set],
      :ref :string,
      :item-key :keyword,
      :thread-id :string,
      :message-name :string,
      :thread-desc :string,
      :out :any},
     :pill-name "content",
     :input_types
     "[[:keyword :vector :list :set] :string :keyword :string :string :string]",
     :style {:color "#fc0fc0"},
     :selected-style {:color "#fc0fc0"},
     :inputs
     "[:destination :ref :item-key :thread-id :message-name :thread-desc]",
     :output_types ":any",
     :expandable? true,
     :full_map
     "{:description \"Push items to the client UI.\", :fn (fn [destination ref item-key thread-id message-name thread-desc & args] (rvbbit-backend.websockets/kick destination ref item-key thread-id message-name thread-desc args)), :type :kick, :icon \"images/pink-rabbit-head.png\", :defaults {:destination :client-name, :item-key \":base\", :thread-id :flow-id, :message-name \"Unnamed Message\", :thread-desc :flow-id, :ref :flow-id}, :types {:destination [:keyword :vector :list :set], :ref :string, :item-key :keyword, :thread-id :string, :message-name :string, :thread-desc :string, :out :any}, :pill-name \"content\", :style {:color \"#fc0fc0\"}, :selected-style {:color \"#fc0fc0\"}, :inputs [:destination :ref :item-key :thread-id :message-name :thread-desc], :expandable? true, :required [:destination :ref :item-key :thread-id :message-name :thread-desc]}",
     :required
     [:destination
      :ref
      :item-key
      :thread-id
      :message-name
      :thread-desc]},
    :name "drag-from-",
    :w 5,
    :source-panel :flow-fn-list*,
    :root [390 159.66665649414062],
    :h 6,
    :connection-id nil,
    :queries
    {:name-drag-8
     {:select
      [:name
       :full_map
       :description
       :inputs
       :icon
       :input_types
       :output_types
       :category],
      :from [[:query/flow-fn-sys :yy431]],
      :where [:= :name ":kick"]}},
    :drag-meta
    {:data-type "string",
     :source-query :flow-fn-sys,
     :param-full ":kick",
     :param-field :name,
     :source-panel-key :flow-fn-list*,
     :type :kick,
     :param-table :flow-fn-sys,
     :source-table :query/flow-fn-sys,
     :connection-id nil,
     :target :name,
     :row-num 3}},
   :icon "images/pink-rabbit-head.png",
   :ports
   {:in
    {:destination [:keyword :vector :list :set],
     :ref :string,
     :item-key :keyword,
     :thread-id :string,
     :message-name :string,
     :thread-desc :string,
     :content-6 :any,
     :content-7 :any},
    :out {:out :any}}},
  :open-input
  {:w 200,
   :h 100,
   :data
   {:drag-meta {:type :open-block},
    :flow-item {:expandable? true},
    :user-input "good-evening-ryan"},
   :z 0,
   :ports {:out {:out :string}},
   :x 1180.0546745455993,
   :y 1403.906948541135},
  :open-input-1
  {:w 200,
   :h 100,
   :data
   {:drag-meta {:type :open-block},
    :flow-item {:expandable? true},
    :user-input [:speak :value-0]},
   :z 0,
   :ports
   {:out {:idx0 :keyword, :idx1 :string, :* :vector},
    :in {:value-0 :any}},
   :x 1203.261112882653,
   :y 1561.4820342394771},
  :open-input-2
  {:w 200,
   :h 100,
   :data
   {:drag-meta {:type :open-block},
    :flow-item {:expandable? true},
    :user-input "hey, I can talk? maybe"},
   :z 0,
   :ports {:out {:out :string}},
   :x 823.5213795731706,
   :y 1571.3986280487807},
  :open-input-3
  {:w 200,
   :h 100,
   :data
   {:drag-meta {:type :open-block},
    :flow-item {:expandable? true},
    :user-input []},
   :z 0,
   :ports {:out {:* :vector}},
   :x 888.5022651486282,
   :y 1725.0510015720276},
  :open-input-4
  {:w 200,
   :h 100,
   :data
   {:drag-meta {:type :open-block},
    :flow-item {:expandable? true},
    :user-input :engaging-octohedral-rabbit-hailing-from-knoll},
   :z 0,
   :ports {:out {:out :keyword}},
   :x 772.276219383446,
   :y 1372.9180320945943}},
 :flow-id "callie-packet",
 :flowmaps-connections
 [[:open-input :kick-1/ref]
  [:open-input :kick-1/thread-desc]
  [:open-input-1/* :kick-1/content-6]
  [:open-input-2 :open-input-1/value-0]
  [:open-input-3 :kick-1/content-7]
  [:open-input-4 :kick-1/destination]
  [:kick-1 :done]
  [:open-input :kick-1/thread-id]
  [:open-input :kick-1/message-name]]}