{:flowmaps
 {:kick-1
  {:w 200,
   :h 100,
   :x 1576.9781841856063,
   :y 1145.0634632457388,
   :z 0,
   :data
   {:flow-item
    {:description "Push items to the client UI.",
     :category ":rabbit-base",
     :fn
     (fn [destination
          ref
          item-key
          thread-id
          message-name
          thread-desc
          &
          args]
       (rvbbit-backend.websockets/kick
         destination
         ref
         item-key
         thread-id
         message-name
         thread-desc
         args)),
     :name ":kick",
     :type :kick,
     :icon "images/pink-rabbit-head.png",
     :defaults
     {:destination :client-name,
      :item-key ":base",
      :thread-id :flow-id,
      :message-name "Unnamed Message",
      :thread-desc :flow-id,
      :ref :flow-id},
     :types
     {:destination [:keyword :vector :list :set],
      :ref :string,
      :item-key :keyword,
      :thread-id :string,
      :message-name :string,
      :thread-desc :string,
      :out :any},
     :pill-name "content",
     :input_types
     "[[:keyword :vector :list :set] :string :keyword :string :string :string]",
     :style {:color "#fc0fc0"},
     :selected-style {:color "#fc0fc0"},
     :inputs
     "[:destination :ref :item-key :thread-id :message-name :thread-desc]",
     :output_types ":any",
     :expandable? true,
     :full_map
     "{:description \"Push items to the client UI.\", :fn (fn [destination ref item-key thread-id message-name thread-desc & args] (rvbbit-backend.websockets/kick destination ref item-key thread-id message-name thread-desc args)), :type :kick, :icon \"images/pink-rabbit-head.png\", :defaults {:destination :client-name, :item-key \":base\", :thread-id :flow-id, :message-name \"Unnamed Message\", :thread-desc :flow-id, :ref :flow-id}, :types {:destination [:keyword :vector :list :set], :ref :string, :item-key :keyword, :thread-id :string, :message-name :string, :thread-desc :string, :out :any}, :pill-name \"content\", :style {:color \"#fc0fc0\"}, :selected-style {:color \"#fc0fc0\"}, :inputs [:destination :ref :item-key :thread-id :message-name :thread-desc], :expandable? true, :required [:destination :ref :item-key :thread-id :message-name :thread-desc]}",
     :required
     [:destination
      :ref
      :item-key
      :thread-id
      :message-name
      :thread-desc]},
    :name "drag-from-",
    :w 5,
    :source-panel :flow-fn-list*,
    :root [503 83.5],
    :h 6,
    :connection-id nil,
    :queries
    {:name-drag-18
     {:select
      [:name
       :full_map
       :description
       :inputs
       :icon
       :input_types
       :output_types
       :category],
      :from [[:query/flow-fn-sys :hh902]],
      :where [:= :name ":kick"]}},
    :drag-meta
    {:data-type "string",
     :source-query :flow-fn-sys,
     :param-full ":kick",
     :param-field :name,
     :source-panel-key :flow-fn-list*,
     :type :kick,
     :param-table :flow-fn-sys,
     :source-table :query/flow-fn-sys,
     :connection-id nil,
     :target :name,
     :row-num 3}},
   :icon "images/pink-rabbit-head.png",
   :ports
   {:in
    {:destination [:keyword :vector :list :set],
     :ref :string,
     :item-key :keyword,
     :thread-id :string,
     :message-name :string,
     :thread-desc :string,
     :content-6 :any,
     :content-7 :any},
    :out {:out :any}}},
  :open-input-1
  {:w 200,
   :h 100,
   :data
   {:drag-meta {:type :open-block},
    :flow-item {:expandable? true},
    :user-input
    [:speak
     "Ok, I sent it over. Let me know that you can see it properly before we start. "]},
   :z 0,
   :ports {:out {:idx0 :keyword, :idx1 :string, :* :vector}},
   :x 732.8020566998108,
   :y 980.5245997573389},
  :open-input-2
  {:w 200,
   :h 100,
   :data
   {:drag-meta {:type :open-block},
    :flow-item {:expandable? true},
    :user-input :free-pyramidal-goat-exiled-from-blowhole},
   :z 0,
   :ports {:out {:out :keyword}},
   :x 768.5293738162881,
   :y 1132.8323390151518},
  :open-input-3
  {:w 200,
   :h 100,
   :data
   {:drag-meta {:type :open-block},
    :flow-item {:expandable? true},
    :user-input "evening-ryan-3456"},
   :z 0,
   :ports {:out {:out :string}},
   :x 733.7272017045456,
   :y 1290.3333377722538},
  :open-input
  {:w 200,
   :h 100,
   :data
   {:drag-meta {:type :open-block},
    :flow-item {:expandable? true},
    :user-input
    [:execute
     {[:panels :block-630]
      {:h 8,
       :w 29,
       :connection-id "bigfoot-ufos",
       :name "select-all-ufo_sightings",
       :queries
       {:ufo-sightings-drag-18
        {:select
         [:city
          :comments
          :country
          :date_posted
          :datetime
          :duration_hours
          :duration_seconds
          :duration_seconds_int
          :id
          :latitude
          :longitude
          :shape
          :state],
         :from [[:ufo_sightings :tt91]]}},
       :root [1 8],
       :tab "ufo board for ryanr",
       :selected-view :ufo-sightings-drag-18},
      [:panels :block-3970]
      {:name "block-3970",
       :w 5,
       :selected-view :gen-viz-667,
       :root [10 1],
       :h 7,
       :connection-id "bigfoot-ufos",
       :queries
       {:gen-viz-667
        {:select [[[[:count 1]] :rows] :country],
         :from
         [{:select
           [:city
            :comments
            :country
            :date_posted
            :datetime
            :duration_hours
            :duration_seconds
            :duration_seconds_int
            :id
            :latitude
            :longitude
            :shape
            :state],
           :from [[:ufo_sightings :tt91]]}],
         :group-by [:country]}},
       :tab "ufo board for ryanr",
       :views
       {:hi
        [:box
         :align
         :center
         :justify
         :center
         :attr
         {:id ":block-3970.:hi"}
         :style
         {:font-size "106px",
          :font-weight 700,
          :padding-top "6px",
          :padding-left "14px",
          :margin-top "-8px",
          :color "#33ffb7",
          :font-family "Oxygen Mono"}
         :child
         "hi!"],
        :stack
        [:layout
         {:panels {:hello-there {:h 0.99, :w 0.99, :root [0 0]}}}]}},
      [:panels :block-269]
      {:mad-libs-combo-hash ["1219947676" "ufo_sightings_drag_18"],
       :name "recharts_h_bar - \"country, rows\" - 850",
       :w 9,
       :selected-view :gen-viz-667,
       :root [1 1],
       :h 7,
       :connection-id "bigfoot-ufos",
       :queries {},
       :tab "ufo board for ryanr",
       :conditionals nil,
       :views
       {:reech
        [:>
         :ResponsiveContainer
         {:width "100%", :height :panel-height+50}
         [:>
          :BarChart
          {:data :gen-viz-667,
           :margin {:top 5, :bottom 5, :right 30, :left 20}}
          [:> :CartesianGrid {:strokeDasharray "1 4", :opacity 0.33}]
          [:> :Tooltip]
          [:> :XAxis {:dataKey :country}]
          [:>
           :Bar
           {:dataKey :rows, :stroke "#8884d8", :fill "#8884d8"}]]]}},
      [:panels :block-643]
      {:mad-libs-combo-hash ["-1910738998" "ufo_sightings_drag_18"],
       :name
       "basic_h_bar - \"by_year_sqlite_date_posted*, rows\" - 66",
       :w 15,
       :root [15 1],
       :h 7,
       :connection-id "bigfoot-ufos",
       :queries
       {:gen-viz-736
        {:select
         [[[:count 1] :rows]
          [[:substr :date_posted 0 5] :by_year_sqlite_date_posted]],
         :from
         [{:select
           [:city
            :comments
            :country
            :date_posted
            :datetime
            :duration_hours
            :duration_seconds
            :duration_seconds_int
            :id
            :latitude
            :longitude
            :shape
            :state],
           :from [[:ufo_sightings :tt91]]}],
         :group-by [[:substr :date_posted 0 5]]}},
       :tab "ufo board for ryanr",
       :conditionals nil,
       :views
       {:oz
        [:vega-lite
         {:layer
          [{:encoding
            {:x {:field :by_year_sqlite_date_posted, :type "ordinal"},
             :y {:aggregate "sum", :field :rows, :type "quantitative"},
             :row {:field nil, :legend nil},
             :size {:legend nil},
             :shape {:legend nil},
             :column {:field nil, :legend nil},
             :color
             {:scale {:scheme "accent"},
              :legend nil,
              :field 1,
              :type "ordinal"}},
            :mark {:type "bar", :tooltip {:content "encoding"}}}],
          :data {:values :gen-viz-736},
          :config
          {:view {:stroke "transparent"},
           :axis
           {:domainColor "#ffffff22",
            :grid true,
            :font "Lato",
            :labelColor "#ffffff88",
            :titleFont "Lato",
            :titleColor "#ffffff99",
            :labelFont "Lato",
            :domain false,
            :gridColor "#ffffff22",
            :tickColor "#ffffff22",
            :axisFont "Lato"},
           :legend
           {:labelFont "Lato",
            :legendFont "Lato",
            :labelColor "#ffffff99",
            :titleColor "#ffffff99",
            :stroke "#ffffff99",
            :titleFont "Lato"},
           :header
           {:labelFont "Lato",
            :titleFont "Lato",
            :titleColor "#ffffff99"},
           :mark {:font "Lato"},
           :title
           {:font "Lato",
            :subtitleFont "Lato",
            :labelFont "Lato",
            :titleFont "Lato",
            :titleColor "#ffffff99"}},
          :width "container",
          :height :panel-height,
          :padding 4,
          :background "transparent"}
         {:actions false}]}},
      [:selected-tab] "ufo board for ryanr"}],
    :width 750},
   :z 0,
   :ports {:out {:idx0 :keyword, :idx1 :map, :* :vector}},
   :x 892.9668886126893,
   :y 1464.0701319839018}},
 :flow-id "callie-4",
 :flowmaps-connections
 [[:open-input-1 :kick-1/content-6]
  [:open-input-2 :kick-1/destination]
  [:kick-1 :done]
  [:open-input-3 :kick-1/ref]
  [:open-input-3 :kick-1/thread-id]
  [:open-input-3 :kick-1/message-name]
  [:open-input/* :kick-1/content-7]]}