{:flowmaps
 {:kick-1
  {:w 200,
   :h 100,
   :x 1576.9781841856063,
   :y 1145.0634632457388,
   :z 0,
   :data
   {:flow-item
    {:description "Push items to the client UI.",
     :category ":rabbit-base",
     :fn
     (fn [destination
          ref
          item-key
          thread-id
          message-name
          thread-desc
          &
          args]
       (rvbbit-backend.websockets/kick
         destination
         ref
         item-key
         thread-id
         message-name
         thread-desc
         args)),
     :name ":kick",
     :type :kick,
     :icon "images/pink-rabbit-head.png",
     :defaults
     {:destination :client-name,
      :item-key ":base",
      :thread-id :flow-id,
      :message-name "Unnamed Message",
      :thread-desc :flow-id,
      :ref :flow-id},
     :types
     {:destination [:keyword :vector :list :set],
      :ref :string,
      :item-key :keyword,
      :thread-id :string,
      :message-name :string,
      :thread-desc :string,
      :out :any},
     :pill-name "content",
     :input_types
     "[[:keyword :vector :list :set] :string :keyword :string :string :string]",
     :style {:color "#fc0fc0"},
     :selected-style {:color "#fc0fc0"},
     :inputs
     "[:destination :ref :item-key :thread-id :message-name :thread-desc]",
     :output_types ":any",
     :expandable? true,
     :full_map
     "{:description \"Push items to the client UI.\", :fn (fn [destination ref item-key thread-id message-name thread-desc & args] (rvbbit-backend.websockets/kick destination ref item-key thread-id message-name thread-desc args)), :type :kick, :icon \"images/pink-rabbit-head.png\", :defaults {:destination :client-name, :item-key \":base\", :thread-id :flow-id, :message-name \"Unnamed Message\", :thread-desc :flow-id, :ref :flow-id}, :types {:destination [:keyword :vector :list :set], :ref :string, :item-key :keyword, :thread-id :string, :message-name :string, :thread-desc :string, :out :any}, :pill-name \"content\", :style {:color \"#fc0fc0\"}, :selected-style {:color \"#fc0fc0\"}, :inputs [:destination :ref :item-key :thread-id :message-name :thread-desc], :expandable? true, :required [:destination :ref :item-key :thread-id :message-name :thread-desc]}",
     :required
     [:destination
      :ref
      :item-key
      :thread-id
      :message-name
      :thread-desc]},
    :name "drag-from-",
    :w 5,
    :source-panel :flow-fn-list*,
    :root [503 83.5],
    :h 6,
    :connection-id nil,
    :queries
    {:name-drag-18
     {:select
      [:name
       :full_map
       :description
       :inputs
       :icon
       :input_types
       :output_types
       :category],
      :from [[:query/flow-fn-sys :hh902]],
      :where [:= :name ":kick"]}},
    :drag-meta
    {:data-type "string",
     :source-query :flow-fn-sys,
     :param-full ":kick",
     :param-field :name,
     :source-panel-key :flow-fn-list*,
     :type :kick,
     :param-table :flow-fn-sys,
     :source-table :query/flow-fn-sys,
     :connection-id nil,
     :target :name,
     :row-num 3}},
   :icon "images/pink-rabbit-head.png",
   :ports
   {:in
    {:destination [:keyword :vector :list :set],
     :ref :string,
     :item-key :keyword,
     :thread-id :string,
     :message-name :string,
     :thread-desc :string,
     :content-6 :any,
     :content-7 :any},
    :out {:out :any}}},
  :open-input-2
  {:w 200,
   :h 100,
   :data
   {:drag-meta {:type :open-block},
    :flow-item {:expandable? true},
    :user-input :free-pyramidal-goat-exiled-from-blowhole},
   :z 0,
   :ports {:out {:out :keyword}},
   :x 709.7092773437502,
   :y 1349.1979640151517},
  :open-input-3
  {:w 200,
   :h 100,
   :data
   {:drag-meta {:type :open-block},
    :flow-item {:expandable? true},
    :user-input "evening-ryan-3456"},
   :z 0,
   :ports {:out {:out :string}},
   :x 722.4639973958334,
   :y 1163.5682291666667},
  :open-input-1
  {:w 200,
   :h 100,
   :data
   {:drag-meta {:type :open-block},
    :flow-item {:expandable? true},
    :user-input
    [:h-box
     :size
     "auto"
     :width
     "580px"
     :justify
     :between
     :children
     [[:box :child "UFOs please."]
      [:md-icon
       :style
       {:font-size "13px", :margin-top "-3px"}
       :md-icon-name
       "zmdi-mic"]]]},
   :z 0,
   :ports
   {:out
    {:idx7 :keyword,
     :idx5 :keyword,
     :* :vector,
     :idx2 :string,
     :idx4 :string,
     :idx1 :keyword,
     :idx6 :keyword,
     :idx3 :keyword,
     :idx8 :vector,
     :idx0 :keyword}},
   :x 1118.7689660274623,
   :y 1374.2367305871214}},
 :flow-id "callie-ufos",
 :flowmaps-connections
 [[:open-input-2 :kick-1/destination]
  [:kick-1 :done]
  [:open-input-3 :kick-1/ref]
  [:open-input-3 :kick-1/thread-id]
  [:open-input-3 :kick-1/message-name]
  [:open-input-1/* :kick-1/content-7]]}