{:flowmaps
 {:old-convo
  {:y 1200,
   :fn (fn [x] (get-in x [:body :messages])),
   :w 150,
   :raw-fn (fn [x] (get-in x [:body :messages])),
   :icon "zmdi-functions",
   :types nil,
   :z 0,
   :ports {:in {:x :any}, :out {:out :any}},
   :inputs nil,
   :h 110,
   :x 2050,
   :data
   {:flow-item
    {:category ":rabbit-base",
     :fn (fn [x] (get-in x [:body :messages])),
     :name ":open-fn",
     :raw-fn (fn [x] (get-in x [:body :messages])),
     :type :open-fn,
     :icon "zmdi-functions",
     :types {:x :any, :out :any},
     :expandable? true,
     :drag-meta {:type :open-fn}}}},
  :package-up-response-map
  {:y 1700,
   :fn (fn [x] x),
   :w 150,
   :raw-fn (fn [x] [{:role "user", :content (str x)}]),
   :right-click? true,
   :icon "zmdi-functions",
   :types nil,
   :cond {},
   :z 0,
   :ports {:in {:x :any}, :out {:out :any}},
   :inputs nil,
   :h 85,
   :x 2100,
   :data
   {:flow-item
    {:category ":rabbit-base",
     :fn (fn [x] x),
     :name ":open-fn",
     :raw-fn (fn [x] x),
     :type :open-fn,
     :icon "zmdi-functions",
     :types {:x :any, :out :any},
     :expandable? true,
     :drag-meta {:type :open-fn}}}},
  :convo-seed-or-fetch-old
  {:y 925,
   :w 175,
   :right-click? true,
   :types nil,
   :z 0,
   :ports {:in {}, :out {:out {:idx0 :map, :* :vector}}},
   :inputs nil,
   :h 110,
   :x 1675,
   :data
   {:drag-meta {:type :open-block},
    :flow-item {:expandable? true},
    :user-input [{:role "user", :content "Howdy, Claude! What's new?"}]}},
  :convo-merge-point
  {:y 925,
   :fn (fn [x] x),
   :w 175,
   :raw-fn (fn [x] x),
   :right-click? true,
   :icon "zmdi-functions",
   :types nil,
   :cond {},
   :z 0,
   :ports {:in {:x :any}, :out {:out :any}},
   :inputs nil,
   :h 85,
   :x 1875,
   :data
   {:flow-item
    {:category ":rabbit-base",
     :fn (fn [x] x),
     :name ":open-fn",
     :raw-fn (fn [x] x),
     :type :open-fn,
     :icon "zmdi-functions",
     :types {:x :any, :out :any},
     :expandable? true,
     :drag-meta {:type :open-fn}}}},
  :merge-with-old-convo
  {:y 1825,
   :fn (fn [x] x),
   :w 150,
   :raw-fn (fn [x y] (let [out (vec (distinct (into y x)))] out)),
   :right-click? true,
   :icon "zmdi-functions",
   :types nil,
   :cond {:cond-path {:fn (fn [out] (and (= (get (last out) :role) "user"))), :dest []}},
   :z 0,
   :ports {:in {:x :any, :y :any}, :out {:out :any}},
   :inputs nil,
   :h 85,
   :x 2100,
   :data
   {:flow-item
    {:category ":rabbit-base",
     :fn (fn [x] x),
     :name ":open-fn",
     :raw-fn (fn [x] x),
     :type :open-fn,
     :icon "zmdi-functions",
     :types {:x :any, :out :any},
     :expandable? true,
     :drag-meta {:type :open-fn}}}},
  :merged-convo
  {:y 1500,
   :fn (fn [x] x),
   :w 175,
   :raw-fn (fn [content convo] (let [nn (vec (conj convo {:role "assistant", :content content}))] nn)),
   :right-click? true,
   :icon "zmdi-functions",
   :types nil,
   :cond {},
   :z 0,
   :ports {:in {:content :any, :convo :any}, :out {:out :any}},
   :inputs nil,
   :h 110,
   :x 1925,
   :data
   {:flow-item
    {:category ":rabbit-base",
     :fn (fn [x] x),
     :name ":open-fn",
     :raw-fn (fn [x] x),
     :type :open-fn,
     :icon "zmdi-functions",
     :types {:x :any, :out :any},
     :expandable? true,
     :drag-meta {:type :open-fn}}}},
  :dialog-chat-box
  {:y 1650,
   :push {:push-path {:fn (fn [out] (not (nil? out))), :dest []}},
   :fn (fn [x] x),
   :w 375,
   :raw-fn (fn [x] x),
   :right-click? true,
   :icon "zmdi-functions",
   :z 0,
   :ports {:in {:x :any}, :out {:out :any}},
   :h 260,
   :x 1675,
   :view
   (fn [x] [:v-box
            :style
            {:color "#ffffff99"}
            :padding
            "6px"
            :align
            :center
            :justify
            :center
            :size
            "auto"
            :gap
            "5px"
            :children
            [[:box :style {:font-size "13px", :font-family "Oswald"} :child [:ro-code-box (str x)]]
             [:input-textarea
              :width
              "100%"
              :rows
              2
              :style
              {:background-color "#00000000",
               :border-radius "6px",
               :font-size "13px",
               :font-family "Consolas",
               :border "2px solid pink",
               :outline "none"}
              :model
              ""
              :on-change
              [:push-path>]]]]),
   :data
   {:flow-item
    {:category ":rabbit-base",
     :fn (fn [x] x),
     :name ":open-fn",
     :raw-fn (fn [x] x),
     :type :open-fn,
     :icon "zmdi-functions",
     :types {:x :any, :out :any},
     :expandable? true,
     :drag-meta {:type :open-fn}}}},
  :open-fn-1_cond-path
  {:y 2175,
   :fn (fn [x] x),
   :w 125,
   :raw-fn (fn [x] x),
   :icon "zmdi-functions",
   :z 0,
   :ports {:in {:x :any}, :out {:out :any}},
   :h 60,
   :x 3250,
   :data
   {:flow-item
    {:category ":rabbit-base",
     :fn (fn [x] x),
     :name ":open-fn",
     :raw-fn (fn [x] x),
     :type :open-fn,
     :icon "zmdi-functions",
     :types {:x :any, :out :any},
     :expandable? true,
     :drag-meta {:type :open-fn}}}},
  :http-request-map
  {:y 1050,
   :w 175,
   :right-click? true,
   :types nil,
   :z 0,
   :ports {:in {:messages* :any}, :out {:out {:url :string, :method :keyword, :headers :map, :body :map, :* :map}}},
   :inputs nil,
   :h 110,
   :x 1875,
   :data
   {:drag-meta {:type :open-block},
    :flow-item {:expandable? true},
    :user-input
    {:url "https://api.anthropic.com/v1/messages",
     :method :POST,
     :headers
     {"x-api-key"
      "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",
      "anthropic-version" "2023-06-01",
      "Content-Type" "application/json"},
     :body {:model "claude-3-opus-20240229", :max_tokens 1024, :messages :messages*}}}},
  :response-text
  {:y 1350,
   :fn (fn [x] (get-in x [:content 0 :text])),
   :w 375,
   :raw-fn (fn [x] (get-in x [:content 0 :text])),
   :icon "zmdi-functions",
   :z 0,
   :ports {:in {:x :any}, :out {:out :any}},
   :h 110,
   :x 1825,
   :data
   {:flow-item
    {:category ":rabbit-base",
     :fn (fn [x] (get-in x [:content 0 :text])),
     :name ":open-fn",
     :raw-fn (fn [x] (get-in x [:content 0 :text])),
     :type :open-fn,
     :icon "zmdi-functions",
     :types {:x :any, :out :any},
     :expandable? true,
     :drag-meta {:type :open-fn}}}},
  :http-call-anthropic
  {:y 1200,
   :w 175,
   :right-click? true,
   :icon "zmdi-http",
   :z 0,
   :ports {:in {:req-map :map}, :out {:out :any}},
   :h 110,
   :x 1825,
   :data
   {:flow-item
    {:category ":rabbit-base",
     :name ":make-http-call",
     :type :make-http-call,
     :icon "zmdi-http",
     :defaults
     {:req-map
      {:url "https://owen-wilson-wow-api.onrender.com/wows/random",
       :query-params {:movie "Wedding Crashers", :results 40}}},
     :types {:req-map :map, :out :any},
     :style {:color "#7BB696"},
     :selected-style {:color "#7BB696"},
     :inputs [:req-map],
     :expandable? true,
     :required [:req-map]},
    :drag-meta {:type :make-http-call}}}},
 :opts {:retry-on-error? false, :retries 0, :timeout 800000, :close-on-done? false, :debug? false},
 :zoom [-584.6 -666.91 0.8],
 :flow-id "claude-3-opus-loop1",
 :flowmaps-connections
 [[:http-request-map :http-call-anthropic/req-map]
  [:convo-seed-or-fetch-old :convo-merge-point/x]
  [:http-request-map :old-convo/x]
  [:old-convo :merged-convo/convo]
  [:http-call-anthropic :response-text/x]
  [:response-text :merged-convo/content]
  [:response-text :dialog-chat-box/x]
  [:http-call-anthropic :done]
  [:merged-convo :merge-with-old-convo/y]
  [:package-up-response-map :merge-with-old-convo/x]
  [:convo-merge-point :http-request-map/messages*]
  [:merge-with-old-convo/cond-path :convo-merge-point/x]
  [:dialog-chat-box/push-path :package-up-response-map/x]]}