{:flowmaps
 {:seed-value
  {:w 100,
   :h 85,
   :z 0,
   :data {:drag-meta {:type :open-block}, :flow-item {:expandable? true}, :user-input 1},
   :right-click? true,
   :ports {:in {}, :out {:out :integer}},
   :x 1975,
   :y 1100},
  :sleep-then-pass
  {:y 1275,
   :fn (fn [x] x),
   :w 125,
   :raw-fn (fn [x] (Thread/sleep 200) x),
   :right-click? true,
   :icon "zmdi-functions",
   :types nil,
   :z 0,
   :ports {:in {:x :any}, :out {:out :any}},
   :inputs nil,
   :h 85,
   :x 1925,
   :data
   {:flow-item
    {:category ":rabbit-base",
     :fn (fn [x] x),
     :name ":open-fn",
     :raw-fn (fn [x] x),
     :type :open-fn,
     :icon "zmdi-functions",
     :types {:x :any, :out :any},
     :expandable? true,
     :drag-meta {:type :open-fn}}}},
  :open-fn-2
  {:y 1325,
   :fn (fn [x] x),
   :w 100,
   :raw-fn (fn [x] (if (number? x) (inc x) :done)),
   :right-click? true,
   :icon "zmdi-functions",
   :types nil,
   :cond
   {:cond-path {:fn (fn [out] (< out :loops)), :dest []},
    :cond-path-1 {:fn (fn [out] (= out :loops)), :dest []},
    :cond-path-2 {:fn (fn [out] (odd? out)), :dest []},
    :cond-path-3 {:fn (fn [out] (even? out)), :dest []}},
   :z 0,
   :ports {:in {:x :any}, :out {:out :any}},
   :inputs nil,
   :h 85,
   :x 2175,
   :data
   {:flow-item
    {:category ":rabbit-base",
     :fn (fn [x] x),
     :name ":open-fn",
     :raw-fn (fn [x] x),
     :type :open-fn,
     :icon "zmdi-functions",
     :types {:x :any, :out :any},
     :expandable? true,
     :drag-meta {:type :open-fn}}}},
  :final-value
  {:y 1550,
   :fn (fn [x] x),
   :w 125,
   :raw-fn (fn [x] x),
   :right-click? true,
   :icon "zmdi-functions",
   :z 0,
   :ports {:in {:x :any}, :out {:out :any}},
   :h 85,
   :x 1950,
   :data
   {:flow-item
    {:category ":rabbit-base",
     :fn (fn [x] x),
     :name ":open-fn",
     :raw-fn (fn [x] x),
     :type :open-fn,
     :icon "zmdi-functions",
     :types {:x :any, :out :any},
     :expandable? true,
     :drag-meta {:type :open-fn}}}},
  :last-odd
  {:y 1550,
   :fn (fn [x] x),
   :w 125,
   :raw-fn (fn [x] x),
   :right-click? true,
   :icon "zmdi-functions",
   :z 0,
   :ports {:in {:x :any}, :out {:out :any}},
   :h 85,
   :x 2125,
   :data
   {:flow-item
    {:category ":rabbit-base",
     :fn (fn [x] x),
     :name ":open-fn",
     :raw-fn (fn [x] x),
     :type :open-fn,
     :icon "zmdi-functions",
     :types {:x :any, :out :any},
     :expandable? true,
     :drag-meta {:type :open-fn}}}},
  :last-even
  {:y 1550,
   :fn (fn [x] x),
   :w 125,
   :raw-fn (fn [x] x),
   :right-click? true,
   :icon "zmdi-functions",
   :z 0,
   :ports {:in {:x :any}, :out {:out :any}},
   :h 85,
   :x 2275,
   :data
   {:flow-item
    {:category ":rabbit-base",
     :fn (fn [x] x),
     :name ":open-fn",
     :raw-fn (fn [x] x),
     :type :open-fn,
     :icon "zmdi-functions",
     :types {:x :any, :out :any},
     :expandable? true,
     :drag-meta {:type :open-fn}}}}},
 :opts {:retry-on-error? false, :retries 0, :loops 33, :debug? false, :close-on-done? true, :timeout 8000},
 :zoom [-2257.7 -1718.26 1.6],
 :flow-id "counting-loop",
 :flowmaps-connections
 [[:seed-value :sleep-then-pass/x]
  [:sleep-then-pass :open-fn-2/x]
  [:final-value :done]
  [:open-fn-2/cond-path :sleep-then-pass/x]
  [:open-fn-2/cond-path-1 :final-value/x]
  [:open-fn-2/cond-path-2 :last-odd/x]
  [:open-fn-2/cond-path-3 :last-even/x]]}