{:flowmaps
 {:open-input
  {:w 125,
   :h 85,
   :z 0,
   :data {:drag-meta {:type :open-block}, :flow-item {:expandable? true}, :user-input 45},
   :right-click? true,
   :ports {:in {}, :out {:out :integer}},
   :x 1875,
   :y 1225},
  :left-right-math
  {:y 1375,
   :w 150,
   :right-click? true,
   :icon "zmdi-puzzle-piece",
   :flow-path "./flows/left-right-math.edn",
   :z 0,
   :ports {:in {:right-int :integer, :left-int :integer}, :out {:out :any}},
   :h 85,
   :x 1950,
   :sub-flow-id "left-right-math",
   :data
   {:flow-item
    {:category ":sub-flows",
     :name "left-right-math",
     :type "left-right-math",
     :icon "zmdi-puzzle-piece",
     :defaults {:right-int 2, :left-int 2},
     :types {:right-int :integer, :left-int :integer, :out :any},
     :style nil,
     :selected-style nil,
     :inputs [:right-int :left-int],
     :expandable? true,
     :required [:right-int :left-int]},
    :drag-meta {:type "left-right-math"}}},
  :open-input-1
  {:w 125,
   :h 85,
   :z 0,
   :data {:drag-meta {:type :open-block}, :flow-item {:expandable? true}, :user-input 54},
   :right-click? true,
   :ports {:in {}, :out {:out :integer}},
   :x 2075,
   :y 1225},
  :open-fn-1
  {:y 1550,
   :fn (fn [x] x),
   :w 125,
   :raw-fn (fn [x] (/ x 2.3)),
   :right-click? true,
   :icon "zmdi-functions",
   :types nil,
   :z 0,
   :ports {:in {:x :any}, :out {:out :any}},
   :inputs nil,
   :h 85,
   :x 1950,
   :data
   {:flow-item
    {:category ":rabbit-base",
     :fn (fn [x] x),
     :name ":open-fn",
     :raw-fn (fn [x] x),
     :type :open-fn,
     :icon "zmdi-functions",
     :types {:x :any, :out :any},
     :expandable? true,
     :drag-meta {:type :open-fn}}}},
  :open-fn-1_out
  {:y 2925,
   :fn (fn [x] x),
   :w 125,
   :raw-fn (fn [x] x),
   :icon "zmdi-functions",
   :z 0,
   :ports {:in {:x :any}, :out {:out :any}},
   :h 60,
   :x 3000,
   :data
   {:flow-item
    {:category ":rabbit-base",
     :fn (fn [x] x),
     :name ":open-fn",
     :raw-fn (fn [x] x),
     :type :open-fn,
     :icon "zmdi-functions",
     :types {:x :any, :out :any},
     :expandable? true,
     :drag-meta {:type :open-fn}}}},
  :open-input-2
  {:w 125,
   :h 85,
   :z 0,
   :data {:drag-meta {:type :open-block}, :flow-item {:expandable? true}, :user-input 34},
   :right-click? true,
   :ports {:in {}, :out {:out :integer}},
   :x 2125,
   :y 1550},
  :open-fn-2
  {:y 1675,
   :fn (fn [x] x),
   :w 125,
   :raw-fn (fn [x y] (* y x)),
   :right-click? true,
   :icon "zmdi-functions",
   :types nil,
   :z 0,
   :ports {:in {:x :any, :y :any}, :out {:out :any}},
   :inputs nil,
   :h 85,
   :x 2025,
   :data
   {:flow-item
    {:category ":rabbit-base",
     :fn (fn [x] x),
     :name ":open-fn",
     :raw-fn (fn [x] x),
     :type :open-fn,
     :icon "zmdi-functions",
     :types {:x :any, :out :any},
     :expandable? true,
     :drag-meta {:type :open-fn}}}}},
 :zoom [-3437.27 -2688.08 2.275],
 :flow-id "dog-flow-50",
 :flowmaps-connections
 [[:open-input-1 :left-right-math/left-int]
  [:open-input :left-right-math/right-int]
  [:left-right-math :open-fn-1/x]
  [:open-fn-1 :open-fn-2/x]
  [:open-input-2 :open-fn-2/y]
  [:open-fn-2 :done]]}