{:flowmaps
 {:http-call-1
  {:w 200,
   :h 100,
   :x 1709.279153029983,
   :y 1000.8783394478462,
   :z 0,
   :data
   {:flow-item
    {:description "Basic HTTP call primitive",
     :category ":rabbit-base",
     :fn (fn [req-map] (rvbbit-backend.websockets/http-call req-map)),
     :name ":http-call",
     :icon "zmdi-http",
     :defaults
     {:req-map
      {:url "https://owen-wilson-wow-api.onrender.com/wows/random",
       :query-params {:movie "Wedding Crashers", :results 40}}},
     :types {:req-map :map, :out :any},
     :input_types "[:map]",
     :style {:color "#7BB696"},
     :selected-style {:color "#7BB696"},
     :inputs "[:req-map]",
     :output_types ":any",
     :expandable? false,
     :full_map
     "{:description \"Basic HTTP call primitive\", :fn (fn [req-map] (rvbbit-backend.websockets/http-call req-map)), :icon \"zmdi-http\", :defaults {:req-map {:url \"https://owen-wilson-wow-api.onrender.com/wows/random\", :query-params {:movie \"Wedding Crashers\", :results 40}}}, :types {:req-map :map, :out :any}, :style {:color \"#7BB696\"}, :selected-style {:color \"#7BB696\"}, :inputs [:req-map], :expandable? false, :required [:req-map]}",
     :required [:req-map]},
    :name "drag-from-",
    :w 5,
    :source-panel :flow-fn-list*,
    :root [384.1770935058594 176.171875],
    :h 6,
    :connection-id nil,
    :queries
    {:name-drag-9
     {:select
      [:name
       :full_map
       :description
       :inputs
       :icon
       :input_types
       :output_types
       :category],
      :from [[:query/flow-fn-sys :vv675]],
      :where [:= :name ":http-call"]}},
    :drag-meta
    {:data-type "string",
     :source-query :flow-fn-sys,
     :param-full ":http-call",
     :param-field :name,
     :source-panel-key :flow-fn-list*,
     :type :where,
     :param-table :flow-fn-sys,
     :source-table :query/flow-fn-sys,
     :connection-id nil,
     :target :name,
     :row-num 5}},
   :icon "zmdi-http",
   :ports
   {:in {:req-map :map},
    :out
    {:14 :map,
     :* :map,
     :27 :map,
     :18 :map,
     :12 :map,
     :11 :map,
     :24 :map,
     :10 :map,
     :21 :map,
     :23 :map,
     :13 :map,
     :26 :map,
     :16 :map,
     :7 :map,
     :8 :map,
     :22 :map,
     :25 :map,
     :9 :map,
     :20 :map,
     :17 :map,
     :28 :map,
     :19 :map,
     :5 :map,
     :15 :map,
     :6 :map,
     :29 :map}}},
  :open-input
  {:w 200,
   :h 100,
   :data
   {:drag-meta {:type :open-block},
    :flow-item {:expandable? true},
    :user-input
    {:url
     "http://10.174.1.174/api/sqOjLm0JhoioAbwhwPm6ZlHiuCAx-KnQEYwAZOWL/lights"}},
   :z 0,
   :ports {:out {:url :string, :* :map}},
   :x 960.9506585198478,
   :y 1133.4026050464524},
  :http-call-2
  {:w 200,
   :h 100,
   :x 1221.620216652199,
   :y 1378.4553638599536,
   :z 0,
   :data
   {:flow-item
    {:description "Basic HTTP call primitive",
     :category ":rabbit-base",
     :fn (fn [req-map] (rvbbit-backend.websockets/http-call req-map)),
     :name ":http-call",
     :icon "zmdi-http",
     :defaults
     {:req-map
      {:url "https://owen-wilson-wow-api.onrender.com/wows/random",
       :query-params {:movie "Wedding Crashers", :results 40}}},
     :types {:req-map :map, :out :any},
     :input_types "[:map]",
     :style {:color "#7BB696"},
     :selected-style {:color "#7BB696"},
     :inputs "[:req-map]",
     :output_types ":any",
     :expandable? false,
     :full_map
     "{:description \"Basic HTTP call primitive\", :fn (fn [req-map] (rvbbit-backend.websockets/http-call req-map)), :icon \"zmdi-http\", :defaults {:req-map {:url \"https://owen-wilson-wow-api.onrender.com/wows/random\", :query-params {:movie \"Wedding Crashers\", :results 40}}}, :types {:req-map :map, :out :any}, :style {:color \"#7BB696\"}, :selected-style {:color \"#7BB696\"}, :inputs [:req-map], :expandable? false, :required [:req-map]}",
     :required [:req-map]},
    :name "drag-from-",
    :w 5,
    :source-panel :flow-fn-list*,
    :root [574.1770935058594 356.171875],
    :h 6,
    :connection-id nil,
    :queries
    {:name-drag-31
     {:select
      [:name
       :full_map
       :description
       :inputs
       :icon
       :input_types
       :output_types
       :category],
      :from [[:query/flow-fn-sys :jj149]],
      :where [:= :name ":http-call"]}},
    :drag-meta
    {:data-type "string",
     :source-query :flow-fn-sys,
     :param-full ":http-call",
     :param-field :name,
     :source-panel-key :flow-fn-list*,
     :type :where,
     :param-table :flow-fn-sys,
     :source-table :query/flow-fn-sys,
     :connection-id nil,
     :target :name,
     :row-num 5}},
   :icon "zmdi-http",
   :ports
   {:in {:req-map :map},
    :out
    {:* :map,
     :10 :map,
     :4 :map,
     :7 :map,
     :1 :map,
     :8 :map,
     :9 :map,
     :2 :map,
     :5 :map,
     :200 :map,
     :3 :map,
     :6 :map}}},
  :open-input-1
  {:w 200,
   :h 100,
   :data
   {:drag-meta {:type :open-block},
    :flow-item {:expandable? true},
    :user-input
    {:url
     "http://10.174.1.174/api/sqOjLm0JhoioAbwhwPm6ZlHiuCAx-KnQEYwAZOWL/groups"}},
   :z 0,
   :ports {:out {:url :string, :* :map}},
   :x 776.9734718605323,
   :y 1434.3287037037035}},
 :flow-id "hue-lights-api",
 :flowmaps-connections
 [[:open-input/* :http-call-1/req-map]
  [:http-call-1 :done]
  [:open-input-1/* :http-call-2/req-map]]}