{:flowmaps
 {:kick-1
  {:w 200,
   :h 100,
   :x 3449.707608604431,
   :y 1367.7343490600585,
   :z 0,
   :data
   {:flow-item
    {:description "Push items to the client UI.",
     :category ":rabbit-base",
     :fn
     (fn [destination name sub-task & args]
       (rvbbit-backend.websockets/kick destination name sub-task args)),
     :name ":kick",
     :type :kick,
     :icon "images/pink-rabbit-head.png",
     :defaults
     {:destination :client-name, :sub-task :flow-id, :name :flow-id},
     :types
     {:destination [:keyword :vector :list :set],
      :name :string,
      :sub-task [:string :keyword],
      :out :any},
     :input_types
     "[[:keyword :vector :list :set] :string [:string :keyword]]",
     :style {:color "#fc0fc0"},
     :selected-style {:color "#fc0fc0"},
     :inputs [:destination :name :sub-task :value-3 :value-4],
     :output_types ":any",
     :expandable? true,
     :full_map
     "{:description \"Push items to the client UI.\", :fn (fn [destination name sub-task & args] (rvbbit-backend.websockets/kick destination name sub-task args)), :type :kick, :icon \"images/pink-rabbit-head.png\", :defaults {:destination :client-name, :sub-task :flow-id, :name :flow-id}, :types {:destination [:keyword :vector :list :set], :name :string, :sub-task [:string :keyword], :out :any}, :style {:color \"#fc0fc0\"}, :selected-style {:color \"#fc0fc0\"}, :inputs [:destination :name :sub-task], :expandable? true, :required [:destination :name :sub-task]}",
     :required [:destination :name :sub-task]},
    :name "drag-from-",
    :w 5,
    :source-panel :flow-fn-list*,
    :root [357.3567810058594 157.34896850585938],
    :h 6,
    :connection-id nil,
    :queries
    {:name-drag-40
     {:select
      [:name
       :full_map
       :description
       :inputs
       :icon
       :input_types
       :output_types
       :category],
      :from [[:query/flow-fn-sys :nn284]],
      :where [:= :name ":kick"]}},
    :drag-meta
    {:data-type "string",
     :source-query :flow-fn-sys,
     :param-full ":kick",
     :param-field :name,
     :source-panel-key :flow-fn-list*,
     :type :kick,
     :param-table :flow-fn-sys,
     :source-table :query/flow-fn-sys,
     :connection-id nil,
     :target :name,
     :row-num 6}},
   :icon "images/pink-rabbit-head.png",
   :ports
   {:in
    {:destination [:keyword :vector :list :set],
     :name :string,
     :sub-task [:string :keyword],
     :value-3 :any,
     :value-4 :any},
    :out
    {:error :string,
     :*
     {:error
      "java.lang.IllegalArgumentException: Don't know how to create ISeq from: java.lang.Long"}}}},
  :open-input-1
  {:w 200,
   :h 60,
   :data
   {:drag-meta {:type :open-block},
    :flow-item {:expandable? true},
    :user-input "feed me, seymour!"},
   :z 0,
   :ports {:in {}, :out {:out :string}},
   :x 2736.8722753576326,
   :y 1370.837915698902},
  :open-input-3
  {:w 200,
   :h 60,
   :data
   {:drag-meta {:type :open-block},
    :flow-item {:expandable? true},
    :user-input :base},
   :z 0,
   :ports {:out {:out :keyword}},
   :x 2764.800122707993,
   :y 1561.5292232684237},
  :kick-2
  {:w 200,
   :h 100,
   :x 3412.0444202088465,
   :y 1642.0587967722038,
   :z 0,
   :data
   {:flow-item
    {:description "Push items to the client UI.",
     :category ":rabbit-base",
     :fn
     (fn [destination name sub-task & args]
       (rvbbit-backend.websockets/kick destination name sub-task args)),
     :name ":kick",
     :type :kick,
     :icon "images/pink-rabbit-head.png",
     :defaults
     {:destination :client-name, :sub-task :flow-id, :name :flow-id},
     :types
     {:destination [:keyword :vector :list :set],
      :name :string,
      :sub-task [:string :keyword],
      :out :any},
     :input_types
     "[[:keyword :vector :list :set] :string [:string :keyword]]",
     :style {:color "#fc0fc0"},
     :selected-style {:color "#fc0fc0"},
     :inputs
     [:destination
      :name
      :sub-task
      :value-3
      :value-4
      :value-5
      :value-6],
     :output_types ":any",
     :expandable? true,
     :full_map
     "{:description \"Push items to the client UI.\", :fn (fn [destination name sub-task & args] (rvbbit-backend.websockets/kick destination name sub-task args)), :type :kick, :icon \"images/pink-rabbit-head.png\", :defaults {:destination :client-name, :sub-task :flow-id, :name :flow-id}, :types {:destination [:keyword :vector :list :set], :name :string, :sub-task [:string :keyword], :out :any}, :style {:color \"#fc0fc0\"}, :selected-style {:color \"#fc0fc0\"}, :inputs [:destination :name :sub-task], :expandable? true, :required [:destination :name :sub-task]}",
     :required [:destination :name :sub-task]},
    :name "drag-from-",
    :w 5,
    :source-panel :flow-fn-list*,
    :root [1096.4557304382324 275.4192810058594],
    :h 6,
    :connection-id nil,
    :queries
    {:name-drag-19
     {:select
      [:name
       :full_map
       :description
       :inputs
       :icon
       :input_types
       :output_types
       :category],
      :from [[:query/flow-fn-sys :tt488]],
      :where [:= :name ":kick"]}},
    :drag-meta
    {:data-type "string",
     :source-query :flow-fn-sys,
     :param-full ":kick",
     :param-field :name,
     :source-panel-key :flow-fn-list*,
     :type :kick,
     :param-table :flow-fn-sys,
     :source-table :query/flow-fn-sys,
     :connection-id nil,
     :target :name,
     :row-num 6}},
   :icon "images/pink-rabbit-head.png",
   :ports
   {:in
    {:destination [:keyword :vector :list :set],
     :name :string,
     :sub-task [:string :keyword],
     :value-3 :any,
     :value-4 :any,
     :value-5 :any,
     :value-6 :any},
    :out
    {:error :string,
     :*
     {:error
      "java.lang.IllegalArgumentException: Don't know how to create ISeq from: java.lang.Long"}}}},
  :open-input-5
  {:w 200,
   :h 60,
   :data
   {:drag-meta {:type :open-block},
    :flow-item {:expandable? true},
    :user-input "nope!"},
   :z 0,
   :ports {:out {:out :string}},
   :x 2720.677470934069,
   :y 1741.4885174725507},
  :open-input
  {:w 200,
   :h 60,
   :data
   {:drag-meta {:type :open-block},
    :flow-item {:expandable? true},
    :user-input "kick-test"},
   :z 0,
   :ports {:out {:out :string}},
   :x 3004.6165799724517,
   :y 1592.9840098822297},
  :open-input-4
  {:w 200,
   :h 60,
   :data
   {:drag-meta {:type :open-block},
    :flow-item {:expandable? true},
    :user-input
    [:v-box
     :size
     "auto"
     :width
     "490px"
     :style
     {:font-size "13px", :opacity 0.33}
     :children
     [[:h-box
       :size
       "auto"
       :justify
       :between
       :children
       [[:box :child ":mean"]
        [:box :child "3853.75" :style {:font-weight 400}]]]
      [:h-box
       :size
       "auto"
       :justify
       :between
       :children
       [[:box :child ":standard-deviation"]
        [:box :child "1099.883942741233" :style {:font-weight 400}]]]
      [:h-box
       :size
       "auto"
       :justify
       :between
       :children
       [[:box :child ":sample-size"]
        [:box :child "4" :style {:font-weight 400}]]]
      [:h-box
       :size
       "auto"
       :justify
       :between
       :children
       [[:box :child ":fields"]
        [:box :child "[:YEAR]" :style {:font-weight 400}]]]
      [:h-box
       :size
       "auto"
       :justify
       :between
       :children
       [[:box :child ":calc-used"]
        [:box
         :child
         "[:percentiles [0.01 0.99]]"
         :style
         {:font-weight 400}]]]]],
    :view-output? false,
    :width 350},
   :z 0,
   :ports
   {:out
    {:idx7 :keyword,
     :idx5 :keyword,
     :*
     [:v-box
      :size
      "auto"
      :width
      "490px"
      :style
      {:font-size "13px", :opacity 0.33}
      :children
      [[:h-box
        :size
        "auto"
        :justify
        :between
        :children
        [[:box :child ":mean"]
         [:box :child "3853.75" :style {:font-weight 400}]]]
       [:h-box
        :size
        "auto"
        :justify
        :between
        :children
        [[:box :child ":standard-deviation"]
         [:box :child "1099.883942741233" :style {:font-weight 400}]]]
       [:h-box
        :size
        "auto"
        :justify
        :between
        :children
        [[:box :child ":sample-size"]
         [:box :child "4" :style {:font-weight 400}]]]
       [:h-box
        :size
        "auto"
        :justify
        :between
        :children
        [[:box :child ":fields"]
         [:box :child "[:YEAR]" :style {:font-weight 400}]]]
       [:h-box
        :size
        "auto"
        :justify
        :between
        :children
        [[:box :child ":calc-used"]
         [:box
          :child
          "[:percentiles [0.01 0.99]]"
          :style
          {:font-weight 400}]]]]],
     :idx2 :string,
     :idx4 :string,
     :idx1 :keyword,
     :idx6 :map,
     :idx3 :keyword,
     :idx8 :vector,
     :idx0 :keyword}},
   :x 3020.2006378998626,
   :y 1715.8480772276178},
  :open-input-2
  {:w 200,
   :h 60,
   :data
   {:drag-meta {:type :open-block},
    :flow-item {:expandable? true},
    :user-input :ufo-sightings-drag-44},
   :z 0,
   :ports {:out {:out :keyword}},
   :x 2759.2156427639634,
   :y 1475.5767468808303}},
 :flow-id "kick-test-1-3-24",
 :flowmaps-connections
 [[:open-input-1 :kick-1/value-3]
  [:open-input :kick-1/name]
  [:kick-1 :done]
  [:open-input-3 :kick-1/sub-task]
  [:open-input-2 :kick-2/sub-task]
  [:open-input-4 :kick-2/value-3]
  [:open-input-5 :kick-2/value-4]
  [:open-input-1 :kick-2/value-5]]}