{:flowmaps
 {:kick-1
  {:w 200,
   :h 100,
   :x 1622.5566620879122,
   :y 1118.217917239011,
   :z 0,
   :data
   {:flow-item
    {:description "Push items to the client UI.",
     :category ":clojure-base",
     :fn
     (fn [destination name & args]
       (rvbbit-backend.websockets/kick destination name args)),
     :name ":kick",
     :type :kick,
     :icon "images/pink-rabbit-head.png",
     :defaults {:destination :client-name, :name :flow-id},
     :types {:destination :keyword, :name :string, :out :any},
     :input_types "[:keyword :string]",
     :style {:color "#fc0fc0"},
     :selected-style {:color "#fc0fc0"},
     :inputs "[:destination :name]",
     :output_types ":any",
     :expandable? true,
     :full_map
     "{:description \"Push items to the client UI.\", :fn (fn [destination name & args] (rvbbit-backend.websockets/kick destination name args)), :type :kick, :icon \"images/pink-rabbit-head.png\", :defaults {:destination :client-name, :name :flow-id}, :types {:destination :keyword, :name :string, :out :any}, :style {:color \"#fc0fc0\"}, :selected-style {:color \"#fc0fc0\"}, :inputs [:destination :name], :expandable? true, :required [:destination :name]}",
     :required [:destination :name]},
    :name "drag-from-",
    :w 5,
    :source-panel :flow-fn-list*,
    :root [576 169],
    :h 6,
    :connection-id nil,
    :queries
    {:name-drag-33
     {:select
      [:name
       :full_map
       :description
       :inputs
       :icon
       :input_types
       :output_types
       :category],
      :from [[:query/flow-fn-sys :dd313]],
      :where [:= :name ":kick"]}},
    :drag-meta
    {:data-type "string",
     :source-query :flow-fn-sys,
     :param-full ":kick",
     :param-field :name,
     :source-panel-key :flow-fn-list*,
     :type :kick,
     :param-table :flow-fn-sys,
     :source-table :query/flow-fn-sys,
     :connection-id nil,
     :target :name,
     :row-num 5}},
   :icon "images/pink-rabbit-head.png",
   :ports
   {:in {:destination :keyword, :name :string}, :out {:out :any}}},
  :open-input
  {:w 200,
   :h 60,
   :data
   {:drag-meta {:type :open-block},
    :user-input "feed me, seymour!ddd"},
   :z 0,
   :ports {:out {:out :string}},
   :x 1350.3344994848903,
   :y 1190.7886375343408},
  :open-input-1
  {:w 200,
   :h 60,
   :data
   {:drag-meta {:type :open-block},
    :user-input :enchanting-square-sand-dollar-of-the-raised-beach},
   :z 0,
   :ports {:out {:out :keyword}},
   :x 1341.1231541895604,
   :y 1075.1902515453296}},
 :flow-id "kick-test-1",
 :flowmaps-connections
 [[:kick-1 :done]
  [:open-input :kick-1/name]
  [:open-input-1 :kick-1/destination]]}