{:flowmaps
 {:open-fn-1
  {:y 1825,
   :fn (fn [x] x),
   :w 125,
   :raw-fn (fn [x y] :done),
   :right-click? true,
   :icon "zmdi-functions",
   :types nil,
   :z 0,
   :ports {:in {:x :any, :y :any}, :out {:out :any}},
   :inputs nil,
   :h 85,
   :x 1975,
   :data
   {:flow-item
    {:category ":rabbit-base",
     :fn (fn [x] x),
     :name ":open-fn",
     :raw-fn (fn [x] x),
     :type :open-fn,
     :icon "zmdi-functions",
     :types {:x :any, :out :any},
     :expandable? true,
     :drag-meta {:type :open-fn}}}},
  :open-fn-2
  {:y 1425,
   :fn (fn [x] x),
   :w 200,
   :raw-fn
   (fn [x]
     (let [agent (clj-ssh.ssh/ssh-agent {:username "ryanr", :use-system-ssh-agent false, :passphrase "notofox"})]
       (let [session (clj-ssh.ssh/session agent "10.174.1.162" {:strict-host-key-checking :no})]
         (clj-ssh.ssh/with-connection
           session
           (let [result (clj-ssh.ssh/ssh session {:in "echo hello"})] (println (result :out)))
           (let [result (clj-ssh.ssh/ssh session {:cmd "ls"})] (second result)))))),
   :right-click? true,
   :icon "zmdi-functions",
   :types nil,
   :z 0,
   :ports {:in {:x :any}, :out {:out :any}},
   :inputs nil,
   :h 135,
   :x 2375,
   :data
   {:flow-item
    {:category ":rabbit-base",
     :fn (fn [x] x),
     :name ":open-fn",
     :raw-fn (fn [x] x),
     :type :open-fn,
     :icon "zmdi-functions",
     :types {:x :any, :out :any},
     :expandable? true,
     :drag-meta {:type :open-fn}}}},
  :open-input-1
  {:w 125,
   :h 85,
   :z 0,
   :data {:drag-meta {:type :open-block}, :flow-item {:expandable? true}, :user-input "10.174.1.162"},
   :right-click? true,
   :ports {:in {}, :out {:out :string}},
   :x 2050,
   :y 1225},
  :open-input-3
  {:w 125,
   :h 85,
   :z 0,
   :data {:drag-meta {:type :open-block}, :flow-item {:expandable? true}, :user-input "ryanr"},
   :right-click? true,
   :ports {:in {}, :out {:out :string}},
   :x 2200,
   :y 1225},
  :start-process-1
  {:y 1425,
   :w 250,
   :right-click? true,
   :icon "fa-solid fa-terminal",
   :z 0,
   :ports
   {:in
    {:process-name :string, :command-vec :vector, :wait? :boolean, :ssh-host :string, :ssh-user :string, :ssh-pass :string},
    :out {:out :any}},
   :h 310,
   :x 1750,
   :data
   {:flow-item
    {:category ":rabbit-base",
     :name ":start-process",
     :type :start-process,
     :icon "fa-solid fa-terminal",
     :defaults
     {:process-name "ls -l -h", :ssh-host "", :ssh-user "", :ssh-pass "", :command-vec ["ls" "-l" "-h"], :wait? true},
     :types
     {:process-name :string,
      :command-vec :vector,
      :ssh-host :string,
      :ssh-user :string,
      :ssh-pass :string,
      :wait? :boolean,
      :out :any},
     :style nil,
     :selected-style nil,
     :inputs [:process-name :command-vec :wait? :ssh-host :ssh-user :ssh-pass],
     :expandable? true,
     :required [:process-name :command-vec]},
    :drag-meta {:type :start-process}}},
  :start-process-2
  {:y 1425,
   :w 250,
   :right-click? true,
   :icon "fa-solid fa-terminal",
   :z 0,
   :ports
   {:in
    {:process-name :string, :command-vec :vector, :wait? :boolean, :ssh-host :string, :ssh-user :string, :ssh-pass :string},
    :out {:out :any}},
   :h 310,
   :x 2075,
   :data
   {:flow-item
    {:category ":rabbit-base",
     :name ":start-process",
     :type :start-process,
     :icon "fa-solid fa-terminal",
     :defaults
     {:process-name "ls -l -h", :ssh-host "", :ssh-user "", :ssh-pass "", :command-vec ["ls" "-l" "-h"], :wait? true},
     :types
     {:process-name :string,
      :command-vec :vector,
      :ssh-host :string,
      :ssh-user :string,
      :ssh-pass :string,
      :wait? :boolean,
      :out :any},
     :style nil,
     :selected-style nil,
     :inputs [:process-name :command-vec :wait? :ssh-host :ssh-user :ssh-pass],
     :expandable? true,
     :required [:process-name :command-vec]},
    :drag-meta {:type :start-process}}},
  :open-input-5
  {:w 150,
   :h 85,
   :z 0,
   :data {:drag-meta {:type :open-block}, :flow-item {:expandable? true}, :user-input "remote-process1"},
   :right-click? true,
   :ports {:in {}, :out {:out :string}},
   :x 2050,
   :y 1125},
  :open-input
  {:y 1125,
   :w 150,
   :right-click? true,
   :types nil,
   :z 0,
   :ports {:in {}, :out {:out {:out :string}}},
   :inputs nil,
   :h 85,
   :x 1800,
   :data {:drag-meta {:type :open-block}, :flow-item {:expandable? true}, :user-input "local-process"}},
  :open-input-4
  {:w 125,
   :h 85,
   :z 0,
   :data {:drag-meta {:type :open-block}, :flow-item {:expandable? true}, :user-input "notofox"},
   :right-click? true,
   :ports {:in {}, :out {:out :string}},
   :x 2350,
   :y 1225},
  :open-input-2
  {:w 150,
   :h 85,
   :z 0,
   :data {:drag-meta {:type :open-block}, :flow-item {:expandable? true}, :user-input ["ls" "-l" "-h"]},
   :right-click? true,
   :ports {:in {}, :out {:out :vector}},
   :x 1850,
   :y 1225}},
 :opts {:retry-on-error? true, :retries 5, :close-on-done? true},
 :zoom [-282.42 -511.49 0.625],
 :flow-id "koala-flow-438",
 :flowmaps-connections
 [[:open-input :start-process-1/process-name]
  [:open-input-2 :start-process-1/command-vec]
  [:open-input-4 :start-process-2/ssh-pass]
  [:open-input-3 :start-process-2/ssh-user]
  [:open-input-1 :start-process-2/ssh-host]
  [:start-process-1 :open-fn-1/x]
  [:start-process-2 :open-fn-1/y]
  [:open-fn-1 :done]
  [:open-input-5 :open-fn-2/x]]}