{:flowmaps
 {:left-int
  {:w 125,
   :h 85,
   :z 0,
   :data {:drag-meta {:type :open-block}, :flow-item {:expandable? true}, :user-input 2},
   :right-click? true,
   :ports {:in {}, :out {:out :integer}},
   :x 1875,
   :y 1250},
  :right-int
  {:w 125,
   :h 85,
   :z 0,
   :data {:drag-meta {:type :open-block}, :flow-item {:expandable? true}, :user-input 2},
   :right-click? true,
   :ports {:in {}, :out {:out :integer}},
   :x 2175,
   :y 1250},
  :+-1
  {:y 1425,
   :w 150,
   :right-click? true,
   :icon "zmdi-plus",
   :z 0,
   :ports {:in {:args+ [:integer :float]}, :out {:out [:integer :float]}},
   :h 85,
   :x 2000,
   :data
   {:flow-item
    {:category ":clojure-base",
     :name ":+",
     :type :+,
     :icon "zmdi-plus",
     :defaults nil,
     :types {:args+ [:integer :float], :out [:integer :float]},
     :style nil,
     :selected-style nil,
     :inputs [:args+],
     :expandable? true,
     :required nil},
    :drag-meta {:type :+}}},
  :open-fn-1
  {:y 1600,
   :fn (fn [x] x),
   :w 125,
   :raw-fn (fn [x] (+ 600 x)),
   :right-click? true,
   :icon "zmdi-functions",
   :types nil,
   :z 0,
   :ports {:in {:x :any}, :out {:out :any}},
   :inputs nil,
   :h 85,
   :x 2000,
   :data
   {:flow-item
    {:category ":rabbit-base",
     :fn (fn [x] x),
     :name ":open-fn",
     :raw-fn (fn [x] x),
     :type :open-fn,
     :icon "zmdi-functions",
     :types {:x :any, :out :any},
     :expandable? true,
     :drag-meta {:type :open-fn}}}}},
 :opts {:retry-on-error? true, :retries 5, :close-on-done? true},
 :zoom [-785 -862 0.925],
 :flow-id "left-right-math",
 :flowmaps-connections [[:left-int :+-1/args+] [:right-int :+-1/args+] [:+-1 :open-fn-1/x] [:open-fn-1 :done]]}