{:flowmaps
 {:open-input
  {:w 100,
   :h 85,
   :z 0,
   :data {:drag-meta {:type :open-block}, :flow-item {:expandable? true}, :user-input 123},
   :right-click? true,
   :ports {:in {}, :out {:out :integer}},
   :x 2050,
   :y 1225},
  :open-fn-1
  {:y 1350,
   :fn (fn [x] x),
   :w 100,
   :raw-fn (fn [x] (- x 1)),
   :right-click? true,
   :icon "zmdi-functions",
   :types nil,
   :z 0,
   :ports {:in {:x :any}, :out {:out :any}},
   :inputs nil,
   :h 85,
   :x 2050,
   :data
   {:flow-item
    {:category ":rabbit-base",
     :fn (fn [x] x),
     :name ":open-fn",
     :raw-fn (fn [x] x),
     :type :open-fn,
     :icon "zmdi-functions",
     :types {:x :any, :out :any},
     :expandable? true,
     :drag-meta {:type :open-fn}}}},
  :open-fn-2
  {:y 1475,
   :fn (fn [x] x),
   :w 100,
   :raw-fn (fn [x] (+ 0.25 x)),
   :right-click? true,
   :icon "zmdi-functions",
   :types nil,
   :z 0,
   :ports {:in {:x :any}, :out {:out :any}},
   :inputs nil,
   :h 85,
   :x 2050,
   :data
   {:flow-item
    {:category ":rabbit-base",
     :fn (fn [x] x),
     :name ":open-fn",
     :raw-fn (fn [x] x),
     :type :open-fn,
     :icon "zmdi-functions",
     :types {:x :any, :out :any},
     :expandable? true,
     :drag-meta {:type :open-fn}}}}},
 :opts {:retry-on-error? true, :retries 5, :close-on-done? true},
 :zoom [-1282.78 -1099.16 1.133],
 :flow-id "mathalete1",
 :flowmaps-connections [[:open-input :open-fn-1/x] [:open-fn-1 :open-fn-2/x] [:open-fn-2 :done]]}