{:flowmaps
 {:open-input
  {:y 1475,
   :w 125,
   :right-click? true,
   :types nil,
   :z 0,
   :ports {:in {}, :out {:out {:out :integer}}},
   :inputs nil,
   :h 85,
   :x 1925,
   :data {:drag-meta {:type :open-block}, :flow-item {:expandable? true}, :user-input 123}},
  :open-fn-1
  {:y 1625,
   :fn (fn [x] x),
   :w 125,
   :raw-fn (fn [x] (+ x (rand-int 12345))),
   :right-click? true,
   :icon "zmdi-functions",
   :types nil,
   :z 0,
   :ports {:in {:x :any}, :out {:out :any}},
   :inputs nil,
   :h 85,
   :x 1925,
   :data
   {:flow-item
    {:category ":rabbit-base",
     :fn (fn [x] x),
     :name ":open-fn",
     :raw-fn (fn [x] x),
     :type :open-fn,
     :icon "zmdi-functions",
     :types {:x :any, :out :any},
     :expandable? true,
     :drag-meta {:type :open-fn}}}}},
 :zoom [-5786.84 -5350.3 3.775],
 :opts {:retry-on-error? false, :retries 5, :close-on-done? true},
 :flow-id "prongh-rn-flow-927",
 :flowmaps-connections [[:open-input :open-fn-1/x] [:open-fn-1 :done]]}