{:flowmaps
 {:python-code-string
  {:w 200,
   :h 85,
   :data
   {:drag-meta {:type :open-block},
    :flow-item {:expandable? true, :inputs [:value-0]},
    :user-input ["print('boobs!')"],
    :syntax "python",
    :width 350,
    :view-output? false},
   :z 0,
   :ports {:out {:out :any}, :in {}},
   :x 2325,
   :y 1225},
  :shell-command-1
  {:w 300,
   :h 150,
   :x 2225,
   :y 1625,
   :z 0,
   :data
   {:flow-item
    {:description
     "Execute shell command. WARNING: only use if you know what you're doing / have controlled inputs",
     :category ":rabbit-base",
     :fn
     (fn [command]
       (rvbbit-backend.websockets/run-shell-command command)),
     :name ":shell-command",
     :icon "zmdi-washing-machine",
     :defaults {:command "ls -la"},
     :types {:command :string, :out :any},
     :input_types "[:string]",
     :style {:color "#ffdd3c"},
     :selected-style {:color "#ffdd3c"},
     :inputs "[:command]",
     :output_types ":any",
     :full_map
     "{:description \"Execute shell command. WARNING: only use if you know what you're doing / have controlled inputs\", :fn (fn [command] (rvbbit-backend.websockets/run-shell-command command)), :inputs [:command], :defaults {:command \"ls -la\"}, :style {:color \"#ffdd3c\"}, :selected-style {:color \"#ffdd3c\"}, :icon \"zmdi-washing-machine\", :types {:command :string, :out :any}}"},
    :name "drag-from-",
    :w 5,
    :source-panel :flow-fn-list*,
    :root [644.0833435058594 212.05990600585938],
    :h 6,
    :connection-id nil,
    :queries
    {:name-drag-14
     {:select
      [:name
       :full_map
       :description
       :inputs
       :icon
       :input_types
       :output_types
       :category],
      :from [[:query/flow-fn-sys :cc526]],
      :where [:= :name ":shell-command"]}},
    :drag-meta
    {:data-type "string",
     :source-query :flow-fn-sys,
     :param-full ":shell-command",
     :param-field :name,
     :source-panel-key :flow-fn-list*,
     :type :where,
     :param-table :flow-fn-sys,
     :source-table :query/flow-fn-sys,
     :connection-id nil,
     :target :name,
     :row-num 4}},
   :icon "zmdi-washing-machine",
   :ports
   {:in {:command :string},
    :out
    {:output :list,
     :exception :vector,
     :seconds :list,
     :command :string,
     :* :map}}},
  :py-executable
  {:w 175,
   :h 85,
   :data
   {:drag-meta {:type :open-block},
    :flow-item {:expandable? true},
    :user-input "python3"},
   :z 0,
   :ports {:out {:out :string}},
   :x 2450,
   :y 1375},
  :write-file-1
  {:w 125,
   :h 110,
   :x 2275,
   :y 1350,
   :z 0,
   :data
   {:flow-item
    {:description
     "Write file content to the server. Useful in chaining together operations.",
     :category ":rabbit-base",
     :fn
     (fn [full-path file-data]
       (rvbbit-backend.websockets/write-local-file
         full-path
         file-data)),
     :name ":write-file",
     :icon "zmdi-file-text",
     :types {:full-path :string, :file-data :string, :out :string},
     :input_types "[:string :string]",
     :inputs "[:full-path :file-data]",
     :output_types ":string",
     :full_map
     "{:description \"Write file content to the server. Useful in chaining together operations.\", :fn (fn [full-path file-data] (rvbbit-backend.websockets/write-local-file full-path file-data)), :inputs [:full-path :file-data], :icon \"zmdi-file-text\", :types {:full-path :string, :file-data :string, :out :string}}"},
    :name "drag-from-",
    :w 5,
    :source-panel :flow-fn-list*,
    :root [1006.3619842529297 95.34896850585938],
    :h 6,
    :connection-id nil,
    :view-output? true,
    :queries
    {:name-drag-11
     {:select
      [:name
       :full_map
       :description
       :inputs
       :icon
       :input_types
       :output_types
       :category],
      :from [[:query/flow-fn-sys :hh964]],
      :where [:= :name ":write-file"]}},
    :drag-meta
    {:data-type "string",
     :source-query :flow-fn-sys,
     :param-full ":write-file",
     :param-field :name,
     :source-panel-key :flow-fn-list*,
     :type :where,
     :param-table :flow-fn-sys,
     :source-table :query/flow-fn-sys,
     :connection-id nil,
     :target :name,
     :row-num 3}},
   :icon "zmdi-file-text",
   :ports
   {:in {:full-path :string, :file-data :string},
    :out {:status :keyword, :file-path :string, :* :map}}},
  :tmp-file-path
  {:w 125,
   :h 85,
   :data
   {:drag-meta {:type :open-block},
    :flow-item {:expandable? true},
    :user-input "/tmp/scratch.py",
    :view-output? false},
   :z 0,
   :ports {:out {:out :string}},
   :x 2150,
   :y 1225},
  :output-only
  {:y 1800,
   :fn (fn [x] x),
   :w 200,
   :raw-fn (fn [x] x),
   :right-click? true,
   :icon "zmdi-functions",
   :z 0,
   :ports {:in {:value :any}, :out {:out :list}},
   :h 100,
   :x 2350,
   :data
   {:flow-item
    {:description "Write you own Clojure function! Godspeed!",
     :category ":rabbit-base",
     :fn (fn [x] x),
     :name ":open-fn",
     :raw-fn (fn [x] x),
     :type :open-fn,
     :icon "zmdi-functions",
     :types {:value :any, :out :any},
     :input_types "[:any]",
     :inputs "[:value]",
     :output_types ":any",
     :expandable? true,
     :full_map
     "{:description \"Write you own Clojure function! Godspeed!\", :fn (fn [x] x), :raw-fn (fn [x] x), :type :open-fn, :icon \"zmdi-functions\", :types {:value :any, :out :any}, :inputs [:value], :expandable? true, :view (fn [_])}"},
    :name "drag-from-",
    :w 5,
    :source-panel :flow-fn-list*,
    :h 6,
    :connection-id nil,
    :view-output? false,
    :queries
    {:name-drag-25
     {:select
      [:name
       :full_map
       :description
       :inputs
       :icon
       :input_types
       :output_types
       :category],
      :from [[:query/flow-fn-sys :ii11]],
      :where [:= :name ":open-fn"]}},
    :drag-meta
    {:data-type "string",
     :source-query :flow-fn-sys,
     :param-full ":open-fn",
     :param-field :name,
     :source-panel-key :flow-fn-list*,
     :type :open-fn,
     :param-table :flow-fn-sys,
     :source-table :query/flow-fn-sys,
     :connection-id nil,
     :target :name,
     :row-num 5}}},
  :clojure-string-join-1
  {:w 220,
   :h 85,
   :x 2250,
   :y 1500,
   :z 0,
   :data
   {:flow-item
    {:description "Clojure.string's join function.",
     :category ":clojure-base",
     :fn (fn [delimiter & args] (clojure.string/join delimiter args)),
     :name ":clojure-string-join",
     :icon "zmdi-group",
     :defaults {:delimiter " "},
     :types {:delimiter :string, :out :string},
     :input_types "[:string]",
     :inputs [:delimiter :value-1 :value-2],
     :output_types ":string",
     :expandable? true,
     :full_map
     "{:description \"Clojure.string's join function.\", :fn (fn [delimiter & args] (clojure.string/join delimiter args)), :inputs [:delimiter], :required [:delimiter], :defaults {:delimiter \" \"}, :expandable? true, :icon \"zmdi-group\", :types {:delimiter :string, :out :string}}",
     :required [:delimiter]},
    :name "drag-from-",
    :w 5,
    :source-panel :flow-fn-list*,
    :root [740 342],
    :h 6,
    :connection-id nil,
    :queries
    {:name-drag-35
     {:select
      [:name
       :full_map
       :description
       :inputs
       :icon
       :input_types
       :output_types
       :category],
      :from [[:query/flow-fn-sys :bb736]],
      :where [:= :name ":clojure-string-join"]}},
    :drag-meta
    {:data-type "string",
     :source-query :flow-fn-sys,
     :param-full ":clojure-string-join",
     :param-field :name,
     :source-panel-key :flow-fn-list*,
     :type :where,
     :param-table :flow-fn-sys,
     :source-table :query/flow-fn-sys,
     :connection-id nil,
     :target :name,
     :row-num 22}},
   :icon "zmdi-group",
   :ports
   {:in {:delimiter :string, :value-1 :any, :value-2 :any},
    :out {:out :string}}}},
 :zoom [-2131.18 -1602.6 1.355],
 :flow-id "simple-python-exec",
 :flowmaps-connections
 [[:tmp-file-path :write-file-1/full-path]
  [:python-code-string :write-file-1/file-data]
  [:py-executable :clojure-string-join-1/value-1]
  [:write-file-1/file-path :clojure-string-join-1/value-2]
  [:shell-command-1/output :output-only/value]
  [:clojure-string-join-1 :shell-command-1/command]
  [:output-only :done]]}