{:flowmaps
 {:clojure-string-join-1
  {:w 200,
   :h 100,
   :x 1603.2208548880913,
   :y 1168.0569705447635,
   :z 0,
   :data
   {:flow-item
    {:description "Clojure.string's join function.",
     :category ":clojure-base",
     :fn (fn [delimiter & args] (clojure.string/join delimiter args)),
     :name ":clojure-string-join",
     :icon "zmdi-group",
     :defaults {:delimiter " "},
     :types {:delimiter :string, :out :string},
     :input_types "[:string]",
     :inputs "[:delimiter]",
     :output_types ":string",
     :expandable? true,
     :full_map
     "{:description \"Clojure.string's join function.\", :fn (fn [delimiter & args] (clojure.string/join delimiter args)), :inputs [:delimiter], :required [:delimiter], :defaults {:delimiter \" \"}, :expandable? true, :icon \"zmdi-group\", :types {:delimiter :string, :out :string}}",
     :required [:delimiter]},
    :name "drag-from-",
    :w 5,
    :source-panel :flow-fn-list*,
    :root [672.1770935058594 188.171875],
    :h 6,
    :connection-id nil,
    :queries
    {:name-drag-41
     {:select
      [:name
       :full_map
       :description
       :inputs
       :icon
       :input_types
       :output_types
       :category],
      :from [[:query/flow-fn-sys :rr798]],
      :where [:= :name ":clojure-string-join"]}},
    :drag-meta
    {:data-type "string",
     :source-query :flow-fn-sys,
     :param-full ":clojure-string-join",
     :param-field :name,
     :source-panel-key :flow-fn-list*,
     :type :where,
     :param-table :flow-fn-sys,
     :source-table :query/flow-fn-sys,
     :connection-id nil,
     :target :name,
     :row-num 27}},
   :icon "zmdi-group",
   :ports
   {:in
    {:delimiter :string, :value-1 :any, :value-2 :any, :value-3 :any},
    :out {:out :string}}},
  :open-input
  {:w 200,
   :h 100,
   :data
   {:drag-meta {:type :open-block},
    :flow-item {:expandable? true},
    :user-input "feed me, seymour!"},
   :z 0,
   :ports {:in {}, :out {:out :string}},
   :x 1006.4046795819256,
   :y 1071.083522487331},
  :open-input-1
  {:w 200,
   :h 100,
   :data
   {:drag-meta {:type :open-block},
    :flow-item {:expandable? true},
    :user-input "feed me, seymour!"},
   :z 0,
   :ports {:in {}, :out {:out :string}},
   :x 841.625,
   :y 1225.0308474978885},
  :voice
  {:w 200,
   :h 90,
   :x 1022.0129724451012,
   :y 1407.9391891891892,
   :z 0,
   :data
   {:h 3,
    :w 15,
    :root [0 0],
    :drag-meta
    {:type :param,
     :param-full :param/voice,
     :param-table :param,
     :param-field :voice}},
   :icon "zmdi-tune",
   :ports {:in {}, :out {:out :string}}}},
 :flow-id "tester-overrides1",
 :flowmaps-connections
 [[:clojure-string-join-1 :done]
  [:open-input :clojure-string-join-1/value-1]
  [:open-input-1 :clojure-string-join-1/value-2]
  [:voice :clojure-string-join-1/value-3]]}