{:flowmaps
 {:open-input
  {:w 200,
   :h 60,
   :data
   {:drag-meta {:type :open-block}, :user-input "feed me, seymour!"},
   :z 0,
   :ports {:out {:out :string}},
   :x 1169.1345454545453,
   :y 1210.6763636363637}},
 :flow-id "clam-flow-851",
 :flowmaps-connections [[:open-input :done]]}