pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
node_modules/
*.log
gen/
backend/db/
backend/data/
backend/flow-history/
backend/kit-rowsets/
logs/
shell-root/
status-change-logs/
.cache/
.clj-kondo/
live/
.idea/
ext/
.calva/
*.Identifier
large/
snaps/
flow-blocks/
reaction-logs/
tracker-logs/
.lsp/
*.log


