pom.xml
pom.xml.asc
*.jar
*.class
*.tmp
/lib/
/classes/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
node_modules/
*.log
gen/
backend/db/*
backend/data/*.db
backend/data/*.edn
backend/data/*.transit
backend/data/atoms
backend/data/training
backend/flow-history/
backend/kit-rowsets/
logs/
shell-root/
status-change-logs/
.cache/
.clj-kondo/
live/
.idea/
ext/
.calva/
*.Identifier
large/
flow-blocks/
reaction-logs/
shutdown-logs/
tracker-logs/
flow-logs/
.lsp/
*.log
*.code-workspace
.directory
transit-data/
fabric-inputs/
fabric-outputs/
fabric-sessions/
checkouts/
backend/resources/public
*.csv
backend/defs/backup/
backend/defs/secrets.edn

