pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
node_modules/
*.log
gen/
backend/db/
backend/data/
backend/connections/
backend/flow-history/
backend/flows/
backend/kit-rowsets/
backend/kits/
logs/
shell-root/
snaps/
status-change-logs/
.cache/
.clj-kondo/
live/
screens/
.idea/
ext/
.calva/
*.Identifier
