
{:debug-level 1
 :graphite-host "127.0.0.1"
 :openapi-key "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"
 :openapi-org-id nil
 :default "./screens/looking-glass-redux.edn"
 :harvest-on-boot? true
 :runners {:clover {}
           :clover-query {}
           :repl {:port 8181 :host "127.0.0.1"}
           :ext-repl {:port 8181 :host "127.0.0.1"}
           :python3 {:flow-id :run-python3 :overrides {:code :selected-view} :opts? {:instanced? true}}}
 :eleven-labs-api-key nil}

