{:orders
 {:fields-sys [:field_name :field_type :data_type],
  :tables-sys
  [:db_schema :db_catalog :connection_id :schema_cat :table_name :fields],
  :connections-sys [:database_name :connection_id],
  :reco-counts [:table_name :cnt]},
 :reco-preview nil,
 :meta
 {:fields-sys {:fields {}, :rowcount 0},
  :tables-sys
  {:fields
   {:db_schema
    {:data-type "string",
     :distinct 1,
     :group-by? true,
     :commons {"none" 9},
     :cardinality 11},
    :db_catalog
    {:data-type "unknown",
     :distinct 1,
     :group-by? true,
     :commons {nil 9},
     :cardinality 11},
    :connection_id
    {:data-type "string",
     :distinct 1,
     :group-by? true,
     :commons {"bigfoot-ufos" 9},
     :cardinality 11},
    :schema_cat
    {:data-type "unknown",
     :distinct 1,
     :group-by? false,
     :commons {nil 9},
     :cardinality 11},
    :table_name
    {:data-type "string",
     :distinct 9,
     :group-by? true,
     :commons {"us_states" 1, "ufo_sightings_vw" 1, "test_me" 1},
     :cardinality 100},
    :fields
    {:data-type "integer",
     :distinct 9,
     :group-by? false,
     :commons {42 1, 14 1, 11 1},
     :cardinality 100}},
   :rowcount 9},
  :connections-sys
  {:fields
   {:database_name
    {:data-type "string",
     :distinct 3,
     :group-by? true,
     :commons {"*cache-db*" 5, "SQLite" 4, "*csv-import-db*" 1},
     :cardinality 30},
    :connection_id
    {:data-type "string",
     :distinct 10,
     :group-by? true,
     :commons {"imported" 1, "bigfoot-ufos" 1, "snifftmp1" 1},
     :cardinality 100}},
   :rowcount 10},
  :reco-counts {:fields {}, :rowcount 0}},
 :default-col-widths
 {:system-connections-list* {:connections-sys 111},
  :system-tables-list* {:tables-sys 137},
  :system-fields-list* {:fields-sys ##Inf}},
 :data-hash 1732443099,
 :tabs ["strategic grill locations"],
 :selected-cols nil,
 :server
 {:settings
  {:harvest-on-boot? true,
   :default "./screens/looking-glass-redux.edn",
   :eleven-labs-api-key nil,
   :kits
   {:outliers
    {:description
     "A basic multivariate outlier detection runstream. Highlight outliers in various dimensional groupings as a launch pad for further exploration.",
     :image-url "images/outliers-image.png",
     :fn (rabbit-kit-outliers.core/get-outliers :query-name :panel-name :query),
     :name "Outliers",
     :icon "zmdi-functions",
     :author
     {:name "Ryan Robitaille",
      :email "ryan.robitaille@gmail.com",
      :x "@ryrobes",
      :site "https://ryrob.es/"},
     :run-on :queries,
     :repl {:host "127.0.0.1", :port 42999},
     :kit-name :outliers,
     :package-name :query-basics-1},
    :forecast
    {:description "WIP: basic timeseries forecasting based on previous values",
     :fn (rabbit-kit-outliers.core/get-forecast :query-name :panel-name :query),
     :name "Forecasting",
     :icon "zmdi-brightness-7",
     :author
     {:name "Ryan Robitaille",
      :email "ryan.robitaille@gmail.com",
      :x "@ryrobes",
      :site "https://ryrob.es/"},
     :run-on :queries,
     :repl {:host "127.0.0.1", :port 42999},
     :kit-name :forecast,
     :package-name :query-basics-1},
    :buffy
    {:author
     {:name "Ryan Robitaille",
      :email "ryan.robitaille@gmail.com",
      :x "@ryrobes",
      :site "https://ryrob.es/"},
     :kit-name :buffy,
     :package-name :grab-bag,
     :fn (rvbbit-backend.assistants/buffy :query-name),
     :name "Ask Buffy!",
     :icon "zmdi-cocktail",
     :run-on :queries,
     :description "What does Buffy think about this data? Who knows!"}},
   :graphite-host "127.0.0.1",
   :openapi-org-id nil,
   :debug-level 1,
   :screens
   ["GGGeat-ochre-mole-exiled-from-abyssal-plain"
    "SSSSSSuccessful-oval-sea-urchin-of-mountain-range"
    "SSuccessful-oval-sea-urchin-of-mountain-range"
    "aaa-run-amok"
    "aaaaah-esday-the-day"
    "aaaaah-wednesday-the-day"
    "aaaah-wednesday-the-day"
    "alice-puzzle-1"
    "asdasdasdasd"
    "autumn-theme"
    "battle-mage"
    "bigfoot-snapshots"
    "bigfoot-snapshots2"
    "bigfoot-snapshots3"
    "blank-sizzle"
    "blank-sizzle2"
    "blue-pines"
    "boston-test-10-3-23"
    "broken-jacket"
    "bunch of bullshit"
    "bunch of bullshit2"
    "bunch of bullshit4"
    "caliope"
    "calliope"
    "canvas-scrubber-test1"
    "capecod-viking"
    "chaos simple"
    "chaos-views"
    "chompers"
    "claude-testing2"
    "clean-grey-defaults"
    "code-data-literal-stonks-test"
    "conifer-boughs"
    "counting-lord-of-the-woods"
    "crazy-alice"
    "dark-crested-jackelope"
    "data-literals-test-sunday"
    "data-literals-test-sundaydd"
    "demo-dark-pumpkin-bkgrd-sept23"
    "demo-light-bkgrd-sept23"
    "demo-lime-green-slime"
    "desktops-and-broomsticks"
    "error-monitor"
    "error-monitor-vanessa"
    "error-monitor-vanessa2"
    "error-monitor-vanessa3"
    "evil-main-street"
    "fake-books-1"
    "fetching-pentagonal-termite-of-tghe-submarine-canyon"
    "final-fantasy-dorchester"
    "fox-hills"
    "glass-fish-board-test"
    "green-storm-city"
    "hue-board-1"
    "late-winter-theme"
    "lavender-side-eye"
    "layout-test-1"
    "layout-test-12"
    "light-theme"
    "literal-data-test"
    "looking-glass-redux"
    "looking-glass-redux2"
    "looking-glass-redux2a"
    "luck-of-the-irish"
    "mapbox-test"
    "may-20"
    "my-goodness"
    "my-goodness-the-sequel"
    "neverwinter-amy"
    "night-city-never-sleeps"
    "nightcity-cape-cod"
    "nivo-getting-better!"
    "nivo-hacking-2023"
    "nivo-hacking-2023333"
    "nivo-hacking-october-2nd"
    "old-defaults"
    "old-fashioned-christmas"
    "old-town-snow-stars"
    "pensive-look"
    "pine-wood-dawn"
    "pink-and-green-elk"
    "pink-dusk-falls"
    "pinup-rabbit-fields"
    "poor-touring-me"
    "pres-sql-test-1"
    "purple-dusk-old-town"
    "purple-nightshades"
    "purple-techno-sunset"
    "recharts-test-blocks"
    "refresh-test"
    "retro-machines"
    "riffle-test"
    "sick-of-your-shit"
    "sizzle-board-1"
    "sneaky-swamp-creatures1"
    "stop-drawing-dead-dashboards"
    "swamp-nightgown"
    "swamp-reacher"
    "tallica-param-test2"
    "tangerine-dreams"
    "technicolor-shanny"
    "the-future-soon"
    "the-generated-lass"
    "the-generated-lass-glow"
    "the-generated-lass-ne"
    "the-generated-lass-sgt"
    "the-generated-lassff"
    "the-outer-blues"
    "trad-hybrid"
    "tweet-bigfoot-is-blurry"
    "tweet-demo-thing-bigfoot-is-blurry"
    "unnamed-screen!"
    "viking-pastels"
    "weave-test"
    "weave-test1"
    "weave-test122"
    "who ya gonna call?"
    "who ya gonna call? again"
    "winter-theme"
    "winter-theme-choom"
    "winter-theme2"
    "winter-theme33"
    "winter-theme45"
    "winter-theme47"
    "winter-twin-peaks"
    "witchy425"
    "wonderland-horror-interface"
    "wow-board"],
   :openapi-key "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"}},
 :editor? true,
 :buffy? false,
 :memory [413759783 363036399 4294705152],
 :status-data
 {:heartbeat
  {:kick
   {:data
    [{:sent! :heartbeat,
      :to :all,
      :at "2024-03-23 22:34:11",
      :payload nil,
      :payload-kp [:heartbeat :heartbeat]}
     nil],
    :elapsed-ms nil,
    :reco-count nil}},
  :alert1
  {:alerts
   {:data
    [[[:>
       :ResponsiveContainer
       {:width "100%", :height :panel-height+50}
       [:>
        :ComposedChart
        {:data
         [{:mem 560, :tick 50, :threads 113, :subs 54, :load 5.69091796875}
          {:mem 352, :tick 51, :threads 138, :subs 54, :load 6.171875}
          {:mem 383, :tick 52, :threads 136, :subs 54, :load 6.59130859375}
          {:mem 567, :tick 53, :threads 113, :subs 54, :load 5.80126953125}
          {:mem 925, :tick 54, :threads 135, :subs 54, :load 5.52978515625}
          {:mem 243, :tick 55, :threads 120, :subs 54, :load 4.90625}
          {:mem 289, :tick 56, :threads 114, :subs 54, :load 4.40673828125}
          {:mem 336, :tick 57, :threads 115, :subs 54, :load 3.85791015625}
          {:mem 369, :tick 58, :threads 124, :subs 54, :load 3.9736328125}
          {:mem 428, :tick 59, :threads 130, :subs 54, :load 4.80126953125}
          {:mem 480, :tick 60, :threads 114, :subs 54, :load 5.26171875}
          {:mem 510, :tick 61, :threads 114, :subs 54, :load 4.06005859375}
          {:mem 558, :tick 62, :threads 108, :subs 54, :load 4.18017578125}
          {:mem 605, :tick 63, :threads 111, :subs 54, :load 4.85693359375}
          {:mem 636, :tick 64, :threads 107, :subs 54, :load 4.95166015625}
          {:mem 685, :tick 65, :threads 110, :subs 54, :load 4.7998046875}
          {:mem 734, :tick 66, :threads 109, :subs 54, :load 3.56396484375}
          {:mem 764, :tick 67, :threads 105, :subs 54, :load 4.1728515625}
          {:mem 221, :tick 68, :threads 107, :subs 54, :load 4.1044921875}
          {:mem 240, :tick 69, :threads 108, :subs 54, :load 4.27197265625}
          {:mem 270, :tick 70, :threads 107, :subs 54, :load 3.43310546875}
          {:mem 319, :tick 71, :threads 106, :subs 54, :load 4.7421875}
          {:mem 457, :tick 72, :threads 111, :subs 54, :load 5.94970703125}
          {:mem 514, :tick 73, :threads 107, :subs 54, :load 6.28173828125}
          {:mem 476, :tick 74, :threads 156, :subs 54, :load 5.408203125}
          {:mem 697, :tick 75, :threads 153, :subs 54, :load 4.84033203125}
          {:mem 616, :tick 76, :threads 145, :subs 54, :load 4.078125}
          {:mem 232, :tick 77, :threads 136, :subs 54, :load 3.9736328125}
          {:mem 350, :tick 78, :threads 150, :subs 54, :load 3.31201171875}
          {:mem 500, :tick 79, :threads 150, :subs 54, :load 3.0166015625}
          {:mem 1046, :tick 80, :threads 144, :subs 54, :load 2.8701171875}
          {:mem 645, :tick 81, :threads 143, :subs 54, :load 2.89990234375}
          {:mem 328, :tick 82, :threads 148, :subs 54, :load 3.328125}
          {:mem 675, :tick 83, :threads 149, :subs 54, :load 2.6162109375}
          {:mem 484, :tick 84, :threads 148, :subs 54, :load 2.37548828125}
          {:mem 579, :tick 85, :threads 145, :subs 54, :load 2.375}
          {:mem 610, :tick 86, :threads 151, :subs 54, :load 2.7060546875}
          {:mem 272, :tick 87, :threads 149, :subs 54, :load 2.76416015625}
          {:mem 310, :tick 88, :threads 102, :subs 54, :load 2.86669921875}
          {:mem 375, :tick 89, :threads 103, :subs 54, :load 2.75537109375}
          {:mem 436, :tick 90, :threads 103, :subs 54, :load 3.6103515625}
          {:mem 473, :tick 91, :threads 102, :subs 42, :load 3.00048828125}
          {:mem 536, :tick 92, :threads 104, :subs 42, :load 3.89990234375}
          {:mem 598, :tick 93, :threads 106, :subs 42, :load 3.28173828125}
          {:mem 658, :tick 94, :threads 135, :subs 42, :load 3.0830078125}
          {:mem 278, :tick 95, :threads 116, :subs 42, :load 3.1328125}
          {:mem 338, :tick 96, :threads 108, :subs 42, :load 2.5419921875}
          {:mem 369, :tick 97, :threads 103, :subs 42, :load 3.06298828125}
          {:mem 426, :tick 98, :threads 109, :subs 42, :load 2.8916015625}
          {:mem 482, :tick 99, :threads 109, :subs 42, :load 2.55322265625}],
         :margin {:top 5, :bottom 5, :right 30, :left 20}}
        [:> :CartesianGrid {:strokeDasharray "1 4", :opacity 0.33}]
        [:> :Tooltip {:contentStyle {:backgroundColor "#00000099"}}]
        [:> :XAxis {:dataKey :tick, :hide true}]
        [:> :YAxis {:yAxisId "left", :hide true, :dataKey :mem}]
        [:>
         :YAxis
         {:yAxisId "right", :hide true, :dataKey :threads, :orientation "right"}]
        [:>
         :Bar
         {:yAxisId "left",
          :dataKey :mem,
          :isAnimationActive false,
          :stroke :theme/editor-outer-rim-color,
          :fill [:string :theme/editor-outer-rim-color "33"]}]
        [:>
         :Line
         {:yAxisId "right",
          :strokeWidth 4,
          :type "monotone",
          :dot false,
          :dataKey :threads,
          :isAnimationActive false,
          :stroke :theme/editor-grid-selected-background-color,
          :fill :theme/editor-grid-selected-background-color}]
        [:>
         :Line
         {:stroke :theme/block-tab-selected-font-color,
          :fill :theme/block-tab-selected-font-color,
          :type "monotone",
          :yAxisId "right",
          :dataKey :subs,
          :strokeWidth 3,
          :strokeDasharray "5 5",
          :dot false,
          :isAnimationActive false}]]]
      10
      4
      5]
     nil],
    :elapsed-ms nil,
    :reco-count nil}},
  :file-change
  {:file-changed
   {:data
    [{:path
      "./live/fair-salmon-hawk-hailing-from-malpais/strategic grill locations/hello there!/hello-there-brother.edn",
      :type :modify,
      :panel-key nil,
      :block-data
      {:hello-there-brother {:h 13, :w 27, :root [1 2]},
       :views
       {:heya!
        [:box
         :align
         :center
         :justify
         :center
         :padding
         "13px"
         :style
         {:font-size "45px"}
         :child
         [:img
          {:src :flow/openai-image-gen-ladder>:relative-url-path-for-png-version,
           :width :width-px}]]},
       :tab "strategic grill locations",
       :name "hello there!"}}
     nil],
    :elapsed-ms nil,
    :reco-count nil}}},
 :flow-subs
 [:flow/openai-image-gen-ladder>:relative-url-path-for-png-version
  :screen/error-monitor-vanessa3>:panels>:block-899>:name
  :screen/error-monitor-vanessa3>panels>block-899>name
  :flow/live-scratch-flow>*running?
  :screen/error-monitor-vanessa3>:panels>:block-1816>:views>hi],
 :client-name :fair-salmon-hawk-hailing-from-malpais,
 :openai-api-key "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",
 :window {:w 2974, :h 1642},
 :flow-estimates
 {"client-keepalive" {:times nil, :run-id "539101af-8f6d-432c-891a-a19165b2c44f"},
  "openai-image-gen-ladder"
  {:times 31.9, :run-id "873dcdc7-b7c7-4a02-989a-45613310b67a"},
  "quick-maths-v2" {:times nil, :run-id "e7515f2e-d356-43eb-bd9f-3f8c3f704a5a"}},
 :status
 {:heartbeat
  {:kick
   [:flow/openai-image-gen-ladder>:relative-url-path-for-png-version
    :screen/error-monitor-vanessa3>:panels>:block-899>:name
    :screen/error-monitor-vanessa3>panels>block-899>name
    :flow/live-scratch-flow>*running?
    :screen/error-monitor-vanessa3>:panels>:block-1816>:views>hi]},
  :alert1 {:alerts :alert2},
  :file-change {:file-changed :done}},
 :screen-name "fake-bricks",
 :recos-page2 0,
 :selected-tab "strategic grill locations",
 :col-names nil,
 :openai-org-id "org-YLngjih2M4oju0tnnZtKCAYg",
 :alerts [],
 :recos-page 0,
 :rs-overrides-hashmap {},
 :panels-hash 353465373,
 :sessions
 (["impressive-periwinkle-jay-banned-from-rock-formations.edn"
   "283 hours, 50 minutes, 55 seconds"
   1021855524]
   ["vigorous-square-serval-banned-from-thalweg.edn"
    "278 hours, 28 minutes, 37 seconds"
    1002517524]
   ["exciting-globular-mouse-banned-from-maar.edn"
    "175 hours, 46 minutes, 46 seconds"
    632806524]
   ["affluent-chocolate-hawk-exiled-from-volcanic-island.edn"
    "283 hours, 50 minutes, 55 seconds"
    1021855524]
   ["restored-raspberry-mule-of-baymouth-bar.edn"
    "46 hours, 4 minutes, 21 seconds"
    165861439]
   ["awesome-prismatic-jay-banned-from-malpaís.edn"
    "46 hours, 4 minutes, 58 seconds"
    165898315]
   ["constant-star-shaped-echidna-banned-from-towhead.edn"
    "260 hours, 22 minutes, 8 seconds"
    937328524]
   ["special-globular-coyote-of-oceanic-trench.edn"
    "283 hours, 50 minutes, 56 seconds"
    1021856524]
   ["proud-thin-elk-of-rôche-moutonnée.edn"
    "283 hours, 50 minutes, 55 seconds"
    1021855524]
   ["kind-rhomboidal-lion-of-the-floodplain.edn"
    "283 hours, 50 minutes, 55 seconds"
    1021855524]
   ["trusting-cubic-eagle-hailing-from-salt-pan.edn"
    "283 hours, 50 minutes, 56 seconds"
    1021856524]
   ["meaningful-turquoise-fly-hailing-from-lithalsa.edn"
    "283 hours, 50 minutes, 55 seconds"
    1021855524]
   ["courageous-linear-platypus-of-corrie.edn"
    "46 hours, 25 minutes, 11 seconds"
    167111456]
   ["thrilling-rhomboidal-eagle-of-the-v-shaped-valley.edn"
    "283 hours, 50 minutes, 55 seconds"
    1021855524]
   ["ethical-round-oyster-of-glacial-horn.edn"
    "283 hours, 50 minutes, 55 seconds"
    1021855524]
   ["healthy-rhomboidal-grasshopper-of-drainage-basin.edn"
    "283 hours, 50 minutes, 55 seconds"
    1021855524]
   ["transforming-ivory-clam-of-the-volcanic-field.edn"
    "100 hours, 24 minutes, 20 seconds"
    361460524]
   ["remarkable-thin-wombat-banned-from-flyggberg.edn"
    "226 hours, 1 minute, 52 seconds"
    813712524]
   ["lucid-amaranth-leopard-hailing-from-endorheic-basin.edn" "8 seconds" 8538]
   ["bubbly-ovoid-bee-hailing-from-pull-apart-basin.edn"
    "283 hours, 50 minutes, 55 seconds"
    1021855524]),
 :elevenlabs-api-key "f74e20dec69741c2d51663cbd8cd4cf6",
 :user-params-hash -1150098168,
 :grid-recos? true,
 :session-hash -8765360,
 :panels
 {:hello-there-brother
  {:h 29,
   :w 50,
   :root [1 2],
   :name "hello there!",
   :tab "strategic grill locations",
   :views
   {:heya!
    [:box
     :align
     :center
     :justify
     :center
     :padding
     "12px"
     :style
     {:font-size "45px"}
     :child
     [:img
      {:src :flow/openai-image-gen-ladder>:relative-url-path-for-png-version,
       :width :width-px}]]},
   :queries {}},
  :block-8508
  {:h 4,
   :w 20,
   :root [31 29],
   :tab "strategic grill locations",
   :selected-view :hi,
   :name "block-8508",
   :views
   {:hi
    [:box
     :style
     {}
     :child
     :screen/error-monitor-vanessa3>:panels>:block-1816>:views>hi],
    :stack [:layout {:panels {:hello-there {:h 0.99, :w 0.99, :root [0 0]}}}]},
   :queries {}}},
 :selected-block "none!",
 :theme-colors-hashmap
 {"float" "#2c728e",
  "boolean" "#f386bf",
  "map" "#00FFFF",
  "list" "#c32148",
  "string" "#5dc963",
  "any" "#ffffff",
  "vector" "#008080",
  "keyword" "#add8e6",
  "rabbit-code" "#FC0FC0",
  "datetime" "#472d7b",
  "integer" "#d6e367",
  "unknown" "#c7005d",
  "date" "#3b528b",
  "rabbitsql" "#FC0FC0",
  "nil" "#ff2147"},
 :click-param
 {:theme
  {:theme-name "who ya gonna call?",
   :codemirror-theme "ayu-mirage",
   :editor-param-background-color "#0b1122",
   :base-block-style {},
   :vega-defaults
   {:view {:stroke "transparent"},
    :axis
    {:domainColor "#ffffff22",
     :grid true,
     :font "Lato",
     :labelColor "#ffffff88",
     :titleFont "Lato",
     :titleColor "#ffffff99",
     :labelFont "Lato",
     :domain false,
     :gridColor "#ffffff22",
     :tickColor "#ffffff22",
     :axisFont "Lato"},
    :legend
    {:labelFont "Lato",
     :legendFont "Lato",
     :labelColor "#ffffff99",
     :titleColor "#ffffff99",
     :stroke "#ffffff99",
     :titleFont "Lato"},
    :header {:labelFont "Lato", :titleFont "Lato", :titleColor "#ffffff99"},
    :mark {:font "Lato"},
    :title
    {:font "Lato",
     :subtitleFont "Lato",
     :labelFont "Lato",
     :titleFont "Lato",
     :titleColor "#ffffff99"}},
   :grid-selected-column-css
   {:background-color "#00000088", :filter "brightness(200%)"},
   :base-block-color-selected "#0b031b",
   :block-title-font-color "#ffffff",
   :base-block-color "#0b1122",
   :editor-rim-color "#0b1122",
   :vega-default-color-scheme {:scheme "accent"},
   :data-colors
   {"float" "#2c728e",
    "boolean" "#f386bf",
    "map" "#00FFFF",
    "list" "#c32148",
    "string" "#5dc963",
    "any" "#ffffff",
    "vector" "#008080",
    "keyword" "#add8e6",
    "rabbit-code" "#FC0FC0",
    "datetime" "#472d7b",
    "integer" "#d6e367",
    "unknown" "#c7005d",
    "date" "#3b528b",
    "rabbitsql" "#FC0FC0",
    "nil" "#ff2147"},
   :editor-grid-selected-font-color "#ffffff",
   :monospaced-font "IBM Plex Mono",
   :editor-grid-selected-background-color "#FFA50087",
   :nivo-defaults
   {:font-family :theme/base-font,
    :labels
    {:text
     {:fill "#ffffff",
      :font-size "16px",
      :font-family :theme/base-font,
      :font-weight 700}},
    :tooltip
    {:container
     {:background "#000",
      :color "#ffffff",
      :text {:fill "#eeeeee"},
      :fontSize "18px",
      :borderRadius "4px",
      :boxShadow "0 1px 2px rgba(0, 0, 0, 0.55)",
      :padding "5px 9px"},
     :basic {:whiteSpace "pre", :display "flex", :alignItems "center"},
     :tableCell {:padding "3px 5px"}},
    :axis
    {:legend
     {:text
      {:fill "#ffffff",
       :font-size "14px",
       :font-family :theme/base-font,
       :font-weight 700}},
     :ticks
     {:line {:stroke "#ffffff60"}, :text {:fill "#ffffff60", :font-weight 700}}},
    :grid {:line {:stroke "#ffffff", :strokeWidth 0, :strokeDasharray "0 0"}}},
   :editor-outer-rim-color "#33ffb7",
   :grid-selected-font-color "#ffffff",
   :block-title-selected-font-color "#ffffff",
   :grid-selected-background-color "#8879bc",
   :grid-font-color "#ffffff",
   :canvas-background-css
   {:background-image "url(images/fake-brick.png)",
    :background-color "#47555e",
    :background-repeat "repeat"},
   :editor-font-color "#ffffff",
   :base-font "Oxygen Mono",
   :block-tab-selected-font-color "#FFA500",
   :editor-background-color "#000000",
   :editor-grid-font-color "#ffffff"},
  :flow
  {:live-scratch-flow>*running? false,
   :openai-image-gen-ladder>relative-url-path-for-png-version
   "./images/gen/b64-image-20521-5147.png",
   :looking-glass-redux2>hi! nil,
   :error-monitor-vanessa3>hi! nil,
   :error-monitor-vanessa3>name "drag-from-select-all-jvm_stddat!s!!"},
  :param
  {:selected-view [nil nil],
   :selected-view-data nil,
   :jessica "Apple Pie",
   :selected-block :block-8508},
  :screen
  {:error-monitor-vanessa3>name "drag-from-selddddect-addll-jvm_sst??ddat!s!!",
   :error-monitor-vanessa3>:name nil,
   :error-monitor-vanessa3>:panels>:block-899>:name
   "drag-from-selddddect-all-jvm_sstddat!s!!",
   :error-monitor-vanessa3>panels>block-899>name "drag-from-seclt-jvm!!",
   :error-monitor-vanessa3>hi
   [:box
    :align
    :center
    :justify
    :center
    :attr
    {:id ":block-1816.:hi"}
    :style
    {:font-size "106px",
     :font-weight 700,
     :padding-top "5px",
     :padding-left "14px",
     :margin-top "-8px",
     :color :theme/editor-outer-rim-color,
     :font-family :theme/base-font}
    :child
    "JESSICA"],
   :error-monitor-vanessa3>panels>block-1816>views>hi
   [:box
    :align
    :center
    :justify
    :center
    :attr
    {:id ":block-1816.:hi"}
    :style
    {:font-size "106px",
     :font-weight 700,
     :font-family "Homemade Apple",
     :padding-top "5px",
     :padding-left "14px",
     :margin-top "-8px",
     :color :theme/editor-outer-rim-color}
    :child
    "Jessica!"]},
  :connections-sys {:database_name "SQLite", :connection_id "bigfoot-ufos"}},
 :selected-flow "live-scratch-flow"}