{:orders {:reco-counts [:table_name :cnt]},
 :reco-preview nil,
 :meta
 {:fields-sys {:fields {}, :rowcount 0},
  :tables-sys
  {:fields
   {:db_schema
    {:data-type "string",
     :distinct 1,
     :group-by? true,
     :commons {"none" 9},
     :cardinality 11},
    :db_catalog
    {:data-type "unknown",
     :distinct 1,
     :group-by? true,
     :commons {nil 9},
     :cardinality 11},
    :connection_id
    {:data-type "string",
     :distinct 1,
     :group-by? true,
     :commons {"bigfoot-ufos" 9},
     :cardinality 11},
    :schema_cat
    {:data-type "unknown",
     :distinct 1,
     :group-by? false,
     :commons {nil 9},
     :cardinality 11},
    :table_name
    {:data-type "string",
     :distinct 9,
     :group-by? true,
     :commons {"us_states" 1, "ufo_sightings_vw" 1, "test_me" 1},
     :cardinality 100},
    :fields
    {:data-type "integer",
     :distinct 9,
     :group-by? false,
     :commons {42 1, 14 1, 11 1},
     :cardinality 100}},
   :rowcount 9},
  :connections-sys
  {:fields
   {:database_name
    {:data-type "string",
     :distinct 3,
     :group-by? true,
     :commons {"*cache-db*" 5, "SQLite" 4, "*csv-import-db*" 1},
     :cardinality 30},
    :connection_id
    {:data-type "string",
     :distinct 10,
     :group-by? true,
     :commons {"imported" 1, "bigfoot-ufos" 1, "snifftmp1" 1},
     :cardinality 100}},
   :rowcount 10},
  :reco-counts {:fields {}, :rowcount 0}},
 :runstream-drops nil,
 :data-hash 359686701,
 :tabs ["strategic grill locations"],
 :selected-cols nil,
 :server
 {:settings
  {:harvest-on-boot? true,
   :default "./screens/looking-glass-redux.edn",
   :eleven-labs-api-key nil,
   :kits
   {:outliers
    {:description
     "A basic multivariate outlier detection runstream. Highlight outliers in various dimensional groupings as a launch pad for further exploration.",
     :image-url "images/outliers-image.png",
     :fn (rabbit-kit-outliers.core/get-outliers :query-name :panel-name :query),
     :name "Outliers",
     :icon "zmdi-functions",
     :author
     {:name "Ryan Robitaille",
      :email "ryan.robitaille@gmail.com",
      :x "@ryrobes",
      :site "https://ryrob.es/"},
     :run-on :queries,
     :repl {:host "127.0.0.1", :port 42999},
     :kit-name :outliers,
     :package-name :query-basics-1},
    :forecast
    {:description "WIP: basic timeseries forecasting based on previous values",
     :fn (rabbit-kit-outliers.core/get-forecast :query-name :panel-name :query),
     :name "Forecasting",
     :icon "zmdi-brightness-7",
     :author
     {:name "Ryan Robitaille",
      :email "ryan.robitaille@gmail.com",
      :x "@ryrobes",
      :site "https://ryrob.es/"},
     :run-on :queries,
     :repl {:host "127.0.0.1", :port 42999},
     :kit-name :forecast,
     :package-name :query-basics-1},
    :buffy
    {:author
     {:name "Ryan Robitaille",
      :email "ryan.robitaille@gmail.com",
      :x "@ryrobes",
      :site "https://ryrob.es/"},
     :kit-name :buffy,
     :package-name :grab-bag,
     :fn (rvbbit-backend.assistants/buffy :query-name),
     :name "Ask Buffy!",
     :icon "zmdi-cocktail",
     :run-on :queries,
     :description "What does Buffy think about this data? Who knows!"}},
   :graphite-host "127.0.0.1",
   :openapi-org-id nil,
   :debug-level 1,
   :screens
   ["GGGeat-ochre-mole-exiled-from-abyssal-plain"
    "SSSSSSuccessful-oval-sea-urchin-of-mountain-range"
    "SSuccessful-oval-sea-urchin-of-mountain-range"
    "aaa-run-amok"
    "aaaaah-esday-the-day"
    "aaaaah-wednesday-the-day"
    "aaaah-wednesday-the-day"
    "alice-puzzle-1"
    "asdasdasdasd"
    "autumn-theme"
    "battle-mage"
    "bigfoot-snapshots"
    "bigfoot-snapshots2"
    "bigfoot-snapshots3"
    "blackberries"
    "blank-sizzle"
    "blank-sizzle2"
    "blue-pines"
    "boston-test-10-3-23"
    "broken-jacket"
    "bunch of bullshit"
    "bunch of bullshit2"
    "bunch of bullshit4"
    "caliope"
    "calliope"
    "canvas-scrubber-test1"
    "capecod-viking"
    "chaos simple"
    "chaos-views"
    "chompers"
    "claude-testing2"
    "clean-grey-defaults"
    "code-data-literal-stonks-test"
    "conifer-boughs"
    "counting-lord-of-the-woods"
    "crazy-alice"
    "dark-crested-jackelope"
    "data-literals-test-sunday"
    "data-literals-test-sundaydd"
    "demo-dark-pumpkin-bkgrd-sept23"
    "demo-light-bkgrd-sept23"
    "demo-lime-green-slime"
    "desktops-and-broomsticks"
    "error-monitor"
    "error-monitor-vanessa"
    "error-monitor-vanessa2"
    "error-monitor-vanessa3"
    "evil-main-street"
    "fake-books-1"
    "fake-bricks"
    "fetching-pentagonal-termite-of-tghe-submarine-canyon"
    "final-fantasy-dorchester"
    "fox-hills"
    "glass-fish-board-test"
    "green-storm-city"
    "hue-board-1"
    "late-winter-theme"
    "lavender-side-eye"
    "layout-test-1"
    "layout-test-12"
    "light-theme"
    "literal-data-test"
    "looking-glass-redux"
    "looking-glass-redux2"
    "looking-glass-redux2a"
    "looking-glass-redux2aa"
    "luck-of-the-irish"
    "mapbox-test"
    "may-20"
    "my-goodness"
    "my-goodness-the-sequel"
    "neverwinter-amy"
    "night-city-never-sleeps"
    "nightcity-cape-cod"
    "nivo-getting-better!"
    "nivo-hacking-2023"
    "nivo-hacking-2023333"
    "nivo-hacking-october-2nd"
    "old-defaults"
    "old-fashioned-christmas"
    "old-town-snow-stars"
    "pensive-look"
    "pensive-look2"
    "pine-wood-dawn"
    "pink-and-green-elk"
    "pink-dusk-falls"
    "pinup-rabbit-fields"
    "poor-touring-me"
    "pres-sql-test-1"
    "purple-dusk-old-town"
    "purple-nightshades"
    "purple-techno-sunset"
    "recharts-test-blocks"
    "refresh-test"
    "retro-machines"
    "riffle-test"
    "sick-of-your-shit"
    "sizzle-board-1"
    "sneaky-swamp-creatures1"
    "stop-drawing-dead-dashboards"
    "swamp-nightgown"
    "swamp-reacher"
    "tallica-param-test2"
    "tangerine-dreams"
    "technicolor-shanny"
    "the-future-soon"
    "the-generated-lass"
    "the-generated-lass-glow"
    "the-generated-lass-ne"
    "the-generated-lass-sgt"
    "the-generated-lassff"
    "the-outer-blues"
    "trad-hybrid"
    "tweet-bigfoot-is-blurry"
    "tweet-demo-thing-bigfoot-is-blurry"
    "unnamed-screen!"
    "viking-pastels"
    "weave-test"
    "weave-test1"
    "weave-test122"
    "who ya gonna call?"
    "who ya gonna call? again"
    "winter-theme"
    "winter-theme-choom"
    "winter-theme2"
    "winter-theme33"
    "winter-theme45"
    "winter-theme47"
    "winter-twin-peaks"
    "witchy425"
    "wonderland-horror-interface"
    "wow-board"],
   :openapi-key "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"}},
 :runstreams nil,
 :editor? true,
 :buffy? false,
 :memory [262459529 236679125 4294705152],
 :status-data
 {:heartbeat
  {:kick
   {:data
    [{:sent! :heartbeat,
      :to :all,
      :at "2024-03-26 20:22:34",
      :payload nil,
      :payload-kp [:heartbeat :heartbeat]}
     nil],
    :elapsed-ms nil,
    :reco-count nil}},
  :alert1
  {:alerts
   {:data
    [[[:>
       :ResponsiveContainer
       {:width "100%", :height :panel-height+50}
       [:>
        :ComposedChart
        {:data [{:mem 619, :tick 0, :threads 92, :subs 37, :load 3.17431640625}],
         :margin {:top 5, :bottom 5, :right 30, :left 20}}
        [:> :CartesianGrid {:strokeDasharray "1 4", :opacity 0.33}]
        [:> :Tooltip {:contentStyle {:backgroundColor "#00000099"}}]
        [:> :XAxis {:dataKey :tick, :hide true}]
        [:> :YAxis {:yAxisId "left", :hide true, :dataKey :mem}]
        [:>
         :YAxis
         {:yAxisId "right", :hide true, :dataKey :threads, :orientation "right"}]
        [:>
         :Bar
         {:yAxisId "left",
          :dataKey :mem,
          :isAnimationActive false,
          :stroke :theme/editor-outer-rim-color,
          :fill [:string :theme/editor-outer-rim-color "33"]}]
        [:>
         :Line
         {:yAxisId "right",
          :strokeWidth 4,
          :type "monotone",
          :dot false,
          :dataKey :threads,
          :isAnimationActive false,
          :stroke :theme/editor-grid-selected-background-color,
          :fill :theme/editor-grid-selected-background-color}]
        [:>
         :Line
         {:stroke :theme/block-tab-selected-font-color,
          :fill :theme/block-tab-selected-font-color,
          :type "monotone",
          :yAxisId "right",
          :dataKey :subs,
          :strokeWidth 3,
          :strokeDasharray "5 5",
          :dot false,
          :isAnimationActive false}]]]
      10
      4
      5]
     nil],
    :elapsed-ms nil,
    :reco-count nil}}},
 :flow-subs
 [:flow/live-scratch-flow>*running?
  :client/engaging-peach-pronghorn-of-the-impact-crater>sys>selected-tab
  :client/good-cylindrical-ape-exiled-from-calanque>param>reliable-coral-moose
  :flow/openai-image-gen-ladder>:relative-url-path-for-png-version
  :screen/error-monitor-vanessa3>:panels>:block-1816>:views>hi],
 :client-name :blissful-ivory-bird-banned-from-ravine,
 :openai-api-key "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",
 :window {:w 3173, :h 1710},
 :flow-estimates
 {"client-keepalive" {:times nil, :run-id "d2a917ac-c36e-493c-a35a-76ee6f428fb2"},
  "openai-image-gen-ladder"
  {:times 45.1, :run-id "82f1bff4-ea11-4aa1-a199-29d5c537271a"}},
 :status
 {:heartbeat
  {:kick
   [:flow/live-scratch-flow>*running?
    :client/engaging-peach-pronghorn-of-the-impact-crater>sys>selected-tab
    :client/good-cylindrical-ape-exiled-from-calanque>param>reliable-coral-moose
    :flow/openai-image-gen-ladder>:relative-url-path-for-png-version
    :screen/error-monitor-vanessa3>:panels>:block-1816>:views>hi]},
  :alert1 {:alerts :alert2}},
 :screen-name "fake-bricks",
 :recos-page2 0,
 :selected-tab "strategic grill locations",
 :col-names nil,
 :snapshots nil,
 :openai-org-id "org-YLngjih2M4oju0tnnZtKCAYg",
 :alerts [],
 :recos-page 0,
 :rs-overrides-hashmap {},
 :panels-hash 820400522,
 :sessions
 (["impressive-periwinkle-jay-banned-from-rock-formations.edn"
   "353 hours, 39 minutes, 15 seconds"
   1273155081]
   ["vigorous-square-serval-banned-from-thalweg.edn"
    "348 hours, 16 minutes, 57 seconds"
    1253817081]
   ["exciting-globular-mouse-banned-from-maar.edn"
    "245 hours, 35 minutes, 6 seconds"
    884106081]
   ["affluent-chocolate-hawk-exiled-from-volcanic-island.edn"
    "353 hours, 39 minutes, 15 seconds"
    1273155081]
   ["restored-raspberry-mule-of-baymouth-bar.edn"
    "115 hours, 52 minutes, 40 seconds"
    417160996]
   ["awesome-prismatic-jay-banned-from-malpaís.edn"
    "115 hours, 53 minutes, 17 seconds"
    417197872]
   ["constant-star-shaped-echidna-banned-from-towhead.edn"
    "330 hours, 10 minutes, 28 seconds"
    1188628081]
   ["special-globular-coyote-of-oceanic-trench.edn"
    "353 hours, 39 minutes, 16 seconds"
    1273156081]
   ["proud-thin-elk-of-rôche-moutonnée.edn"
    "353 hours, 39 minutes, 15 seconds"
    1273155081]
   ["kind-rhomboidal-lion-of-the-floodplain.edn"
    "353 hours, 39 minutes, 15 seconds"
    1273155081]
   ["trusting-cubic-eagle-hailing-from-salt-pan.edn"
    "353 hours, 39 minutes, 16 seconds"
    1273156081]
   ["meaningful-turquoise-fly-hailing-from-lithalsa.edn"
    "353 hours, 39 minutes, 15 seconds"
    1273155081]
   ["courageous-linear-platypus-of-corrie.edn"
    "116 hours, 13 minutes, 31 seconds"
    418411013]
   ["thrilling-rhomboidal-eagle-of-the-v-shaped-valley.edn"
    "353 hours, 39 minutes, 15 seconds"
    1273155081]
   ["ethical-round-oyster-of-glacial-horn.edn"
    "353 hours, 39 minutes, 15 seconds"
    1273155081]
   ["healthy-rhomboidal-grasshopper-of-drainage-basin.edn"
    "353 hours, 39 minutes, 15 seconds"
    1273155081]
   ["transforming-ivory-clam-of-the-volcanic-field.edn"
    "170 hours, 12 minutes, 40 seconds"
    612760081]
   ["remarkable-thin-wombat-banned-from-flyggberg.edn"
    "295 hours, 50 minutes, 12 seconds"
    1065012081]
   ["lucid-amaranth-leopard-hailing-from-endorheic-basin.edn" "15 seconds" 15000]
   ["bubbly-ovoid-bee-hailing-from-pull-apart-basin.edn"
    "353 hours, 39 minutes, 15 seconds"
    1273155081]),
 :elevenlabs-api-key "f74e20dec69741c2d51663cbd8cd4cf6",
 :user-params-hash -1539714520,
 :grid-recos? true,
 :session-hash 1571325616,
 :panels
 {:hello-there-brother
  {:h 29,
   :w 50,
   :root [1 0],
   :name "hello there!",
   :tab "strategic grill locations",
   :views
   {:heya!
    [:box
     :align
     :center
     :justify
     :center
     :padding
     "12px"
     :style
     {:font-size "45px"}
     :child
     [:img
      {:src :flow/openai-image-gen-ladder>:relative-url-path-for-png-version,
       :width :width-px}]]},
   :queries {}},
  :block-8508
  {:h 4,
   :w 20,
   :root [31 29],
   :tab "strategic grill locations",
   :selected-view :hi,
   :name "block-8508",
   :views
   {:hi
    [:box
     :style
     {}
     :child
     :screen/error-monitor-vanessa3>:panels>:block-1816>:views>hi],
    :stack [:layout {:panels {:hello-there {:h 0.99, :w 0.99, :root [0 0]}}}]},
   :queries {}},
  :block-9212
  {:h 4,
   :w 24,
   :root [7 29],
   :tab "strategic grill locations",
   :selected-view :hi,
   :name "block-9212",
   :views
   {:hi
    [:box
     :align
     :center
     :justify
     :center
     :attr
     {:id ":block-9212.:hi"}
     :style
     {:font-size "16px",
      :font-weight 700,
      :padding-top "6px",
      :padding-left "14px",
      :margin-top "-8px",
      :color :theme/editor-outer-rim-color,
      :font-family :theme/base-font}
     :child
     [:string
      :client/good-cylindrical-ape-exiled-from-calanque>param>reliable-coral-moose]],
    :stack [:layout {:panels {:hello-there {:h 0.99, :w 0.99, :root [0 0]}}}]},
   :queries {}},
  :block-2342
  {:h 4,
   :w 5,
   :root [51 29],
   :tab "strategic grill locations",
   :selected-view :hi,
   :name "block-2342",
   :views
   {:hi
    [:box
     :align
     :center
     :justify
     :center
     :attr
     {:id ":block-2342.:hi"}
     :style
     {:font-size "11px",
      :font-weight 700,
      :padding-top "6px",
      :padding-left "14px",
      :margin-top "-8px",
      :color :theme/editor-outer-rim-color,
      :font-family :theme/base-font}
     :child
     [:string
      :client/engaging-peach-pronghorn-of-the-impact-crater>sys>selected-tab]],
    :stack [:layout {:panels {:hello-there {:h 0.99, :w 0.99, :root [0 0]}}}]},
   :queries {}}},
 :selected-block :block-2342,
 :theme-colors-hashmap
 {"float" "#2c728e",
  "boolean" "#f386bf",
  "map" "#00FFFF",
  "list" "#c32148",
  "string" "#5dc963",
  "any" "#ffffff",
  "vector" "#008080",
  "keyword" "#add8e6",
  "rabbit-code" "#FC0FC0",
  "datetime" "#472d7b",
  "integer" "#d6e367",
  "unknown" "#c7005d",
  "date" "#3b528b",
  "rabbitsql" "#FC0FC0",
  "nil" "#ff2147"},
 :click-param
 {:theme
  {:theme-name "who ya gonna call?",
   :codemirror-theme "ayu-mirage",
   :editor-param-background-color "#0b1122",
   :base-block-style {},
   :vega-defaults
   {:view {:stroke "transparent"},
    :axis
    {:domainColor "#ffffff22",
     :grid true,
     :font "Lato",
     :labelColor "#ffffff88",
     :titleFont "Lato",
     :titleColor "#ffffff99",
     :labelFont "Lato",
     :domain false,
     :gridColor "#ffffff22",
     :tickColor "#ffffff22",
     :axisFont "Lato"},
    :legend
    {:labelFont "Lato",
     :legendFont "Lato",
     :labelColor "#ffffff99",
     :titleColor "#ffffff99",
     :stroke "#ffffff99",
     :titleFont "Lato"},
    :header {:labelFont "Lato", :titleFont "Lato", :titleColor "#ffffff99"},
    :mark {:font "Lato"},
    :title
    {:font "Lato",
     :subtitleFont "Lato",
     :labelFont "Lato",
     :titleFont "Lato",
     :titleColor "#ffffff99"}},
   :grid-selected-column-css
   {:background-color "#00000088", :filter "brightness(200%)"},
   :base-block-color-selected "#0b031b",
   :block-title-font-color "#ffffff",
   :base-block-color "#0b1122",
   :editor-rim-color "#0b1122",
   :vega-default-color-scheme {:scheme "accent"},
   :data-colors
   {"float" "#2c728e",
    "boolean" "#f386bf",
    "map" "#00FFFF",
    "list" "#c32148",
    "string" "#5dc963",
    "any" "#ffffff",
    "vector" "#008080",
    "keyword" "#add8e6",
    "rabbit-code" "#FC0FC0",
    "datetime" "#472d7b",
    "integer" "#d6e367",
    "unknown" "#c7005d",
    "date" "#3b528b",
    "rabbitsql" "#FC0FC0",
    "nil" "#ff2147"},
   :editor-grid-selected-font-color "#ffffff",
   :monospaced-font "IBM Plex Mono",
   :editor-grid-selected-background-color "#FFA50087",
   :nivo-defaults
   {:font-family :theme/base-font,
    :labels
    {:text
     {:fill "#ffffff",
      :font-size "16px",
      :font-family :theme/base-font,
      :font-weight 700}},
    :tooltip
    {:container
     {:background "#000",
      :color "#ffffff",
      :text {:fill "#eeeeee"},
      :fontSize "18px",
      :borderRadius "4px",
      :boxShadow "0 1px 2px rgba(0, 0, 0, 0.55)",
      :padding "5px 9px"},
     :basic {:whiteSpace "pre", :display "flex", :alignItems "center"},
     :tableCell {:padding "3px 5px"}},
    :axis
    {:legend
     {:text
      {:fill "#ffffff",
       :font-size "14px",
       :font-family :theme/base-font,
       :font-weight 700}},
     :ticks
     {:line {:stroke "#ffffff60"}, :text {:fill "#ffffff60", :font-weight 700}}},
    :grid {:line {:stroke "#ffffff", :strokeWidth 0, :strokeDasharray "0 0"}}},
   :editor-outer-rim-color "#33ffb7",
   :grid-selected-font-color "#ffffff",
   :block-title-selected-font-color "#ffffff",
   :grid-selected-background-color "#8879bc",
   :grid-font-color "#ffffff",
   :canvas-background-css
   {:background-image "url(images/fake-brick.png)",
    :background-color "#47555e",
    :background-repeat "repeat"},
   :editor-font-color "#ffffff",
   :base-font "Oxygen Mono",
   :block-tab-selected-font-color "#FFA500",
   :editor-background-color "#000000",
   :editor-grid-font-color "#ffffff"},
  :flow
  {:live-scratch-flow>*running? false,
   :openai-image-gen-ladder>relative-url-path-for-png-version
   "./images/gen/b64-image-39980-23820.png",
   :looking-glass-redux2>hi! nil,
   :error-monitor-vanessa3>hi! nil,
   :error-monitor-vanessa3>name "drag-from-select-all-jvm_stddat!s!!",
   :openai-image-gen-ladder>prompt
   "A high-definition, highly stylized and artistic 16:9 illustration of a scene in Scotland. The scene is fantastic and other worldly, but still traditional. A young and beautiful white scottish woman, brunette, and clearly in her late 20s, with full pouty lips (the bottom one being prominent) and a slightly upturned nose, offers a pleased yet sultry expression.  \n\nShe has gloriously long hair. She is adorned with intricate Celtic-style tattoos of rabbits and wilderness over her neck, collarbone, and shoulders. Mysterious blue and pink lights from the forest shine off her buxom body radiantly.\n\nShe is very buxom, robust, hyper curvaceous. She wears a choker ribbon and a long necklace. Burlesque. Flirty, Leaning up against a wall, and shooting the camera a coy, flirty look.  \n"},
  :param
  {:selected-view [:views :hi],
   :selected-view-data
   [:box
    :style
    {}
    :child
    :screen/error-monitor-vanessa3>:panels>:block-1816>:views>hi],
   :jessica "Apple Pie",
   :selected-block :block-2342},
  :screen
  {:error-monitor-vanessa3>name "drag-from-selddddect-addll-jvm_sst??ddat!s!!",
   :error-monitor-vanessa3>:name nil,
   :error-monitor-vanessa3>:panels>:block-899>:name
   "drag-from-selddddect-all-jvm_sstddat!s!!",
   :error-monitor-vanessa3>panels>block-899>name "drag-from-seclt-jvm!!",
   :error-monitor-vanessa3>hi
   [:box
    :align
    :center
    :justify
    :center
    :attr
    {:id ":block-1816.:hi"}
    :style
    {:font-size "106px",
     :font-weight 700,
     :padding-top "5px",
     :padding-left "14px",
     :margin-top "-8px",
     :color :theme/editor-outer-rim-color,
     :font-family :theme/base-font}
    :child
    "JESSICA"],
   :error-monitor-vanessa3>panels>block-1816>views>hi
   [:box
    :align
    :center
    :justify
    :center
    :attr
    {:id ":block-1816.:hi"}
    :style
    {:font-size "106px",
     :font-weight 700,
     :font-family "Homemade Apple",
     :padding-top "5px",
     :padding-left "14px",
     :margin-top "-8px",
     :color :theme/editor-outer-rim-color}
    :child
    "Jessica!"]},
  :connections-sys {:database_name "SQLite", :connection_id "bigfoot-ufos"},
  :client
  {:good-cylindrical-ape-exiled-from-calanque>param>reliable-coral-moose
   ["A high-definition, highly stylized and artistic 16:9 illustration of a scene in Scotland. The scene is fantastic and other worldly, but still traditional. A young and beautiful white scottish woman, brunette, and clearly in her late 20s, with full pouty lips (the bottom one being prominent) and a slightly upturned nose, offers a pleased yet sultry expression.  "
    ""
    "She has gloriously long hair. She is adorned with intricate Celtic-style tattoos of rabbits and wilderness over her neck, collarbone, and shoulders. Mysterious blue and pink lights from the forest shine off her buxom body radiantly."
    ""
    "She is very buxom, robust, hyper curvaceous. She wears a choker ribbon and a long necklace. Burlesque. Flirty, Leaning up against a wall, and shooting the camera a coy, flirty look.  "
    ""],
   :virtuous-cerise-finch-hailing-from-flared-slope>theme>grid-selected-column-css>background-color
   "#00000088",
   :engaging-peach-pronghorn-of-the-impact-crater>sys>selected-tab "fat zebra"}},
 :selected-flow "live-scratch-flow"}