{:orders
 {:connections-sys [:database_name :connection_id],
  :fields-sys [:field_name :field_type :data_type],
  :tables-sys
  [:db_schema
   :db_catalog
   :connection_id
   :schema_cat
   :table_name
   :fields],
  :reco-counts [:table_name :cnt],
  :ufo-sightings-drag-1
  [:city
   :comments
   :country
   :date_posted
   :datetime
   :duration_hours
   :duration_seconds
   :duration_seconds_int
   :id
   :latitude
   :longitude
   :shape
   :state],
  :ufo_sightings
  [:datetime
   :city
   :state
   :country
   :shape
   :duration_seconds
   :duration_hours
   :comments
   :date_posted
   :latitude
   :longitude
   :id
   :duration_seconds_int]},
 :reco-preview nil,
 :sql-source
 {:ufo-sightings-drag-1
  {:select
   [:city
    :comments
    :country
    :date_posted
    :datetime
    :duration_hours
    :duration_seconds
    :duration_seconds_int
    :id
    :latitude
    :longitude
    :shape
    :state],
   :from [[:ufo_sightings :pp623]]},
  :ufo_sightings {:select [:*], :from [:ufo_sightings], :limit 111}},
 :meta
 {:connections-sys
  {:fields
   {:database_name
    {:data-type "string",
     :distinct 3,
     :group-by? true,
     :commons {"*cache-db*" 5, "SQLite" 4, "*csv-import-db*" 1},
     :cardinality 30},
    :connection_id
    {:data-type "string",
     :distinct 10,
     :group-by? true,
     :commons {"imported" 1, "bigfoot-ufos" 1, "snifftmp1" 1},
     :cardinality 100}},
   :rowcount 10},
  :fields-sys
  {:fields
   {:field_name
    {:data-type "string",
     :distinct 13,
     :group-by? true,
     :commons {"state" 1, "comments" 1, "datetime" 1},
     :cardinality 100},
    :field_type
    {:data-type "string",
     :distinct 10,
     :group-by? true,
     :commons {"DECIMAL" 2, "VARCHAR(9)" 2, "VARCHAR(2)" 2},
     :cardinality 76},
    :data_type
    {:data-type "string",
     :distinct 5,
     :group-by? true,
     :commons {"string" 8, "float" 2, "integer" 1},
     :cardinality 38}},
   :rowcount 13},
  :tables-sys
  {:fields
   {:db_schema
    {:data-type "string",
     :distinct 1,
     :group-by? true,
     :commons {"none" 9},
     :cardinality 11},
    :db_catalog
    {:data-type "unknown",
     :distinct 1,
     :group-by? true,
     :commons {nil 9},
     :cardinality 11},
    :connection_id
    {:data-type "string",
     :distinct 1,
     :group-by? true,
     :commons {"bigfoot-ufos" 9},
     :cardinality 11},
    :schema_cat
    {:data-type "unknown",
     :distinct 1,
     :group-by? false,
     :commons {nil 9},
     :cardinality 11},
    :table_name
    {:data-type "string",
     :distinct 9,
     :group-by? true,
     :commons {"us_states" 1, "ufo_sightings_vw" 1, "test_me" 1},
     :cardinality 100},
    :fields
    {:data-type "integer",
     :distinct 9,
     :group-by? false,
     :commons {42 1, 14 1, 11 1},
     :cardinality 100}},
   :rowcount 9},
  :reco-counts {:fields {}, :rowcount 0},
  :ufo-sightings-drag-1
  {:fields
   {:duration_seconds_int
    {:data-type "integer",
     :distinct 46,
     :group-by? true,
     :commons {300 55, 60 45, 120 41},
     :cardinality 9},
    :comments
    {:data-type "string",
     :distinct 500,
     :group-by? true,
     :commons
     {"18 glowing UFOs seen over Phoenix  AZ tonight&#44 10/12/12 8:45PM"
      1,
      "amber fireball descending&#44splits into 3 objects&#44stops&#44they hover above ground with erratic movements"
      1,
      "Slow moving bright orange light." 1},
     :cardinality 100},
    :city
    {:data-type "string",
     :distinct 423,
     :group-by? true,
     :commons {"cincinnati" 5, "san diego" 5, "austin" 4},
     :cardinality 84},
    :date_posted
    {:data-type "string",
     :distinct 115,
     :group-by? true,
     :commons {"2013-10-14" 38, "2012-10-30" 31, "2008-10-31" 25},
     :cardinality 23},
    :longitude
    {:data-type "float",
     :distinct 433,
     :group-by? true,
     :commons {-122.3308333 6, -84.4569444 5, -117.1563889 5},
     :cardinality 86},
    :state
    {:data-type "string",
     :distinct 53,
     :group-by? true,
     :commons {"ca" 51, "ny" 35, nil 30},
     :cardinality 10},
    :duration_seconds
    {:data-type "string",
     :distinct 46,
     :group-by? true,
     :commons {"300" 55, "60" 45, "120" 41},
     :cardinality 9},
    :duration_hours
    {:data-type "string",
     :distinct 225,
     :group-by? true,
     :commons {"1 minute" 26, "5 minutes" 24, "30 seconds" 22},
     :cardinality 44},
    :id
    {:data-type "integer",
     :distinct 500,
     :group-by? true,
     :commons {84 1, 390 1, 49 1},
     :cardinality 100},
    :shape
    {:data-type "string",
     :distinct 21,
     :group-by? true,
     :commons {"light" 104, "circle" 50, "triangle" 46},
     :cardinality 4},
    :datetime
    {:data-type "string",
     :distinct 449,
     :group-by? true,
     :commons
     {"2008-10-10 20:00:00.000000" 4,
      "1999-10-11 20:15:00.000000" 4,
      "2007-10-10 22:00:00.000000" 4},
     :cardinality 89},
    :latitude
    {:data-type "string",
     :distinct 430,
     :group-by? true,
     :commons {"47.6063889" 6, "39.1619444" 5, "32.7152778" 5},
     :cardinality 86},
    :country
    {:data-type "string",
     :distinct 5,
     :group-by? true,
     :commons {"us" 411, nil 55, "ca" 17},
     :cardinality 0}},
   :rowcount 500},
  :ufo_sightings
  {:fields
   {:duration_seconds_int
    {:data-type "integer",
     :distinct 46,
     :group-by? true,
     :commons {300 55, 60 45, 120 41},
     :cardinality 9},
    :comments
    {:data-type "string",
     :distinct 500,
     :group-by? true,
     :commons
     {"18 glowing UFOs seen over Phoenix  AZ tonight&#44 10/12/12 8:45PM"
      1,
      "amber fireball descending&#44splits into 3 objects&#44stops&#44they hover above ground with erratic movements"
      1,
      "Slow moving bright orange light." 1},
     :cardinality 100},
    :city
    {:data-type "string",
     :distinct 423,
     :group-by? true,
     :commons {"cincinnati" 5, "san diego" 5, "austin" 4},
     :cardinality 84},
    :date_posted
    {:data-type "string",
     :distinct 115,
     :group-by? true,
     :commons {"2013-10-14" 38, "2012-10-30" 31, "2008-10-31" 25},
     :cardinality 23},
    :longitude
    {:data-type "float",
     :distinct 433,
     :group-by? true,
     :commons {-122.3308333 6, -84.4569444 5, -117.1563889 5},
     :cardinality 86},
    :state
    {:data-type "string",
     :distinct 53,
     :group-by? true,
     :commons {"ca" 51, "ny" 35, nil 30},
     :cardinality 10},
    :duration_seconds
    {:data-type "string",
     :distinct 46,
     :group-by? true,
     :commons {"300" 55, "60" 45, "120" 41},
     :cardinality 9},
    :duration_hours
    {:data-type "string",
     :distinct 225,
     :group-by? true,
     :commons {"1 minute" 26, "5 minutes" 24, "30 seconds" 22},
     :cardinality 44},
    :id
    {:data-type "integer",
     :distinct 500,
     :group-by? true,
     :commons {84 1, 390 1, 49 1},
     :cardinality 100},
    :shape
    {:data-type "string",
     :distinct 21,
     :group-by? true,
     :commons {"light" 104, "circle" 50, "triangle" 46},
     :cardinality 4},
    :datetime
    {:data-type "string",
     :distinct 449,
     :group-by? true,
     :commons
     {"2008-10-10 20:00:00.000000" 4,
      "1999-10-11 20:15:00.000000" 4,
      "2007-10-10 22:00:00.000000" 4},
     :cardinality 89},
    :latitude
    {:data-type "string",
     :distinct 430,
     :group-by? true,
     :commons {"47.6063889" 6, "39.1619444" 5, "32.7152778" 5},
     :cardinality 86},
    :country
    {:data-type "string",
     :distinct 5,
     :group-by? true,
     :commons {"us" 411, nil 55, "ca" 17},
     :cardinality 0}},
   :rowcount 500}},
 :default-col-widths
 {:system-connections-list* {:connections-sys 111},
  :system-tables-list* {:tables-sys 137},
  :system-fields-list* {:fields-sys 170},
  :block-7099 {:ufo-sightings-drag-1 108}},
 :data-hash -204693028,
 :tabs ["strategic grill locations"],
 :selected-cols nil,
 :server
 {:settings
  {:harvest-on-boot? true,
   :default "./screens/winter-theme.edn",
   :eleven-labs-api-key nil,
   :kits
   {:buffy
    {:author
     {:name "Ryan Robitaille",
      :email "ryan.robitaille@gmail.com",
      :x "@ryrobes",
      :site "https://ryrob.es/"},
     :kit-name :buffy,
     :package-name :grab-bag,
     :fn (rvbbit-backend.assistants/buffy :query-name),
     :name "Ask Buffy!",
     :icon "zmdi-cocktail",
     :run-on :queries,
     :description "What does Buffy think about this data? Who knows!"},
    :outliers
    {:description
     "A basic multivariate outlier detection runstream. Highlight outliers in various dimensional groupings as a launch pad for further exploration.",
     :image-url "images/outliers-image.png",
     :fn
     (rabbit-kit-outliers.core/get-outliers
       :query-name
       :panel-name
       :query),
     :name "Outliers",
     :icon "zmdi-functions",
     :author
     {:name "Ryan Robitaille",
      :email "ryan.robitaille@gmail.com",
      :x "@ryrobes",
      :site "https://ryrob.es/"},
     :run-on :queries,
     :repl {:host "127.0.0.1", :port 42999},
     :kit-name :outliers,
     :package-name :query-basics-1},
    :forecast
    {:description
     "WIP: basic timeseries forecasting based on previous values",
     :fn
     (rabbit-kit-outliers.core/get-forecast
       :query-name
       :panel-name
       :query),
     :name "Forecasting",
     :icon "zmdi-brightness-7",
     :author
     {:name "Ryan Robitaille",
      :email "ryan.robitaille@gmail.com",
      :x "@ryrobes",
      :site "https://ryrob.es/"},
     :run-on :queries,
     :repl {:host "127.0.0.1", :port 42999},
     :kit-name :forecast,
     :package-name :query-basics-1}},
   :graphite-host "127.0.0.1",
   :openapi-org-id nil,
   :debug-level 1,
   :screens
   ["GGGeat-ochre-mole-exiled-from-abyssal-plain"
    "SSSSSSuccessful-oval-sea-urchin-of-mountain-range"
    "SSuccessful-oval-sea-urchin-of-mountain-range"
    "aaa-run-amok"
    "asdasdasdasd"
    "autumn-theme"
    "battle-mage"
    "bigfoot-snapshots"
    "bigfoot-snapshots2"
    "bigfoot-snapshots3"
    "blank-sizzle"
    "blank-sizzle2"
    "boston-test-10-3-23"
    "bunch of bullshit"
    "bunch of bullshit2"
    "bunch of bullshit4"
    "caliope"
    "calliope"
    "canvas-scrubber-test1"
    "chaos simple"
    "chaos-views"
    "clean-grey-defaults"
    "code-data-literal-stonks-test"
    "conifer-boughs"
    "crazy-alice"
    "dark-crested-jackelope"
    "data-literals-test-sunday"
    "data-literals-test-sundaydd"
    "demo-dark-pumpkin-bkgrd-sept23"
    "demo-light-bkgrd-sept23"
    "demo-lime-green-slime"
    "desktops-and-broomsticks"
    "error-monitor"
    "error-monitor-vanessa"
    "error-monitor-vanessa2"
    "fake-books-1"
    "fetching-pentagonal-termite-of-tghe-submarine-canyon"
    "fox-hills"
    "glass-fish-board-test"
    "hue-board-1"
    "late-winter-theme"
    "layout-test-1"
    "layout-test-12"
    "light-theme"
    "literal-data-test"
    "luck-of-the-irish"
    "mapbox-test"
    "neverwinter-amy"
    "night-city-never-sleeps"
    "nightcity-cape-cod"
    "nivo-getting-better!"
    "nivo-hacking-2023"
    "nivo-hacking-2023333"
    "nivo-hacking-october-2nd"
    "old-defaults"
    "old-fashioned-christmas"
    "pinup-rabbit-fields"
    "poor-touring-me"
    "pres-sql-test-1"
    "purple-techno-sunset"
    "recharts-test-blocks"
    "refresh-test"
    "riffle-test"
    "sizzle-board-1"
    "sneaky-swamp-creatures1"
    "swamp-nightgown"
    "swamp-reacher"
    "tallica-param-test2"
    "the-future-soon"
    "the-generated-lass"
    "the-generated-lass-glow"
    "the-generated-lass-ne"
    "trad-hybrid"
    "tweet-bigfoot-is-blurry"
    "tweet-demo-thing-bigfoot-is-blurry"
    "unnamed-screen!"
    "weave-test"
    "weave-test1"
    "weave-test122"
    "who ya gonna call?"
    "who ya gonna call? again"
    "winter-theme"
    "winter-theme-choom"
    "winter-theme2"
    "winter-theme33"
    "winter-theme45"
    "winter-theme47"
    "winter-twin-peaks"
    "wow-board"],
   :openapi-key
   "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"}},
 :editor? true,
 :buffy? false,
 :status-data
 {:heartbeat
  {:kick
   {:data
    [{:sent! :heartbeat,
      :to :all,
      :at "2024-01-29 15:58:34",
      :payload nil,
      :payload-kp [:heartbeat :heartbeat]}
     nil],
    :elapsed-ms nil,
    :reco-count nil}},
  "kick-test!"
  {:kick
   {:data
    [{:sent! "kick-test!",
      :to :optimistic-diamond-wasp-exiled-from-seamount-chains,
      :at "2024-01-29 15:59:06",
      :payload
      {:query-log
       {:data
        [{:content ["2024-01-29 15:59:06 - query ran in 118 ms."],
          :name "query-log-:ufo-sightings-drag-1",
          :order 1706561946,
          :parameters {},
          :forced-mutates {},
          :step-mutates {}}],
        :description "query-log-:ufo-sightings-drag-1",
        :mutates {},
        :options {:actions? false, :pages? false, :search? false},
        :parameters {}}},
      :payload-kp [:ufo-sightings-drag-1 "kick-test!"]}
     nil],
    :elapsed-ms nil,
    :reco-count nil}}},
 :re-pressed.core/keydown
 {:keys
  [{:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 32}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 32}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 32}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 32}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 27}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 32}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 27}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 27}],
  :event-keys
  [[[:viz-yard.bricks/esc-unselect-current] [{:keyCode 27}]]
   [[:viz-yard.bricks/redo-one]
    [{:keyCode 90, :ctrlKey true, :shiftKey true}]]
   [[:viz-yard.bricks/undo-one]
    [{:keyCode 90, :ctrlKey true, :shiftKey false}]]
   [[:viz-yard.bricks/toggle-buffy]
    [{:keyCode 32, :shiftKey true, :ctrlKey false}]]
   [[:viz-yard.bricks/toggle-editor]
    [{:keyCode 32, :shiftKey false, :ctrlKey false}]]
   [[:viz-yard.bricks/toggle-flow]
    [{:keyCode 32, :shiftKey false, :ctrlKey true}]]
   [[:viz-yard.bricks/next-panel] [{:keyCode 9}]]
   [[:viz-yard.bricks/toggle-kick-alert] [{:keyCode 75}]]
   [[:viz-yard.bricks/toggle-peek] [{:keyCode 80}]]
   [[:viz-yard.bricks/toggle-lines] [{:keyCode 76}]]
   [[:viz-yard.bricks/toggle-auto-run] [{:keyCode 79}]]
   [[:viz-yard.bricks/delete-selected-panel]
    [{:keyCode 46, :shiftKey true}]]
   [[:viz-yard.bricks/cycle-column-select false] [{:keyCode 81}]]
   [[:viz-yard.bricks/cycle-column-select true] [{:keyCode 69}]]
   [[:viz-yard.audio/start-recording] [{:keyCode 84}]]
   [[:viz-yard.audio/stop-recording] [{:keyCode 89}]]
   [[:viz-yard.bricks/stretch-panel :wider]
    [{:keyCode 68, :shiftKey true}]]
   [[:viz-yard.bricks/stretch-panel :longer]
    [{:keyCode 83, :shiftKey true}]]
   [[:viz-yard.bricks/stretch-panel :narrower]
    [{:keyCode 65, :shiftKey true}]]
   [[:viz-yard.bricks/stretch-panel :shorter]
    [{:keyCode 87, :shiftKey true}]]
   [[:viz-yard.bricks/panel-depth-up] [{:keyCode 82, :shiftKey true}]]
   [[:viz-yard.bricks/panel-depth-down]
    [{:keyCode 70, :shiftKey true}]]
   [[:viz-yard.bricks/nudge-panel :up] [{:keyCode 87}]]
   [[:viz-yard.bricks/nudge-panel :down] [{:keyCode 83}]]
   [[:viz-yard.bricks/nudge-panel :left] [{:keyCode 65}]]
   [[:viz-yard.bricks/nudge-panel :right] [{:keyCode 68}]]
   [[:viz-yard.core/alt-key-down] [{:keyCode 67}]]],
  :clear-keys nil,
  :always-listen-keys nil,
  :prevent-default-keys
  [{:keyCode 32}
   {:keyCode 46, :shiftKey true}
   {:keyCode 83, :ctrlKey true}
   {:keyCode 9}
   {:keyCode 70, :ctrlKey true}]},
 :flow-subs [],
 :client-name :optimistic-diamond-wasp-exiled-from-seamount-chains,
 :openai-api-key "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",
 :window {:w 2280, :h 1303},
 :post-meta {:ufo-sightings-drag-1 {:* {:rowcount 80332}}},
 :status
 {:heartbeat {:kick []}, "kick-test!" {:kick :ufo-sightings-drag-1}},
 :screen-name "pink-dusk-falls",
 :recos-page2 0,
 :selected-tab "strategic grill locations",
 :col-names nil,
 :openai-org-id "org-YLngjih2M4oju0tnnZtKCAYg",
 :alerts [],
 :recos-page 0,
 :re-pollsive.core/polling
 {:rules
  [{:interval 10,
    :event [:viz-yard.bricks/dispatch-auto-queries],
    :poll-when [:viz-yard.bricks/auto-run-and-connected?],
    :dispatch-event-on-start? false}
   {:interval 5,
    :event [:viz-yard.bricks/update-metadata],
    :dispatch-event-on-start? false,
    :started-at 0,
    :stopped-time-since-last-poll nil,
    :started-before? true}
   {:interval 120,
    :event [:viz-yard.bricks/clean-up-reco-previews],
    :dispatch-event-on-start? false,
    :started-at 0,
    :stopped-time-since-last-poll nil,
    :started-before? true}
   {:interval 2,
    :event [:viz-yard.bricks/prune-alerts],
    :dispatch-event-on-start? false,
    :started-at 0,
    :stopped-time-since-last-poll nil,
    :started-before? true}
   {:interval 1,
    :event [:viz-yard.bricks/refresh-runstreams],
    :poll-when [:viz-yard.bricks/runstream-running?],
    :dispatch-event-on-start? false}
   {:interval 1,
    :event [:viz-yard.bricks/sub-to-flows],
    :poll-when [:viz-yard.bricks/new-flow-subs?],
    :dispatch-event-on-start? false}
   {:interval 1000,
    :event [:viz-yard.bricks/update-metadata-tabs],
    :dispatch-event-on-start? false,
    :started-at 0,
    :stopped-time-since-last-poll nil,
    :started-before? true}
   {:interval 1,
    :event [:viz-yard.bricks/update-conditionals],
    :dispatch-event-on-start? false,
    :started-at 0,
    :stopped-time-since-last-poll nil,
    :started-before? true}
   {:interval 4,
    :event [:viz-yard.bricks/refresh-status],
    :poll-when [:viz-yard.bricks/bg-status?],
    :dispatch-event-on-start? false}],
  :counter 111},
 :base-sniff-queries {:ufo_sightings 484893751},
 :re-pressed.core/keyup
 {:keys
  [{:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 32}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 32}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 32}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 32}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 27}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 32}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 27}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 27}],
  :event-keys [[[:viz-yard.core/alt-key-up] [{:keyCode 67}]]],
  :clear-keys nil,
  :always-listen-keys nil},
 :panels-hash 1428528398,
 :last-run-throwaway "15:58:10",
 :elevenlabs-api-key "f74e20dec69741c2d51663cbd8cd4cf6",
 :websocket-fx.core/sockets
 {:default
  {:status :connected,
   :options
   {:url "ws://localhost:3030/ws",
    :format :edn,
    :on-disconnect
    [:websocket-fx.core/unsubscribe :default :server-push2],
    :on-connect
    [:websocket-fx.core/subscribe
     :default
     :server-push2
     {:message
      {:kind :server-push2,
       :client-name
       :optimistic-diamond-wasp-exiled-from-seamount-chains,
       :ui-keypath [:server],
       :extras {:hello? true}},
      :on-message [:viz-yard.http/simple-response]}]},
   :requests {},
   :subscriptions
   {:server-push2
    {:message
     {:kind :server-push2,
      :client-name
      :optimistic-diamond-wasp-exiled-from-seamount-chains,
      :ui-keypath [:server],
      :extras {:hello? true}},
     :on-message [:viz-yard.http/simple-response]}}}},
 :user-params-hash 278685043,
 :grid-recos? true,
 :panels
 {:hello-there-brother
  {:h 3,
   :w 12,
   :root [2 2],
   :name "hello there!",
   :tab "strategic grill locations",
   :views
   {:heya!
    [:box
     :align
     :center
     :justify
     :center
     :style
     {:font-size "50px",
      :font-weight 700,
      :color :theme/editor-outer-rim-color,
      :padding-top "14px",
      :opacity 1,
      :font-family :theme/base-font}
     :child
     "hello! 🐇 🍂 🦃"]},
   :queries {}}},
 :selected-block "none!",
 :click-param
 {:theme
  {:codemirror-theme "ayu-dark",
   :editor-param-background-color "#000000",
   :base-block-style {:backdrop-filter "blur(2px) brightness(70%) "},
   :vega-defaults
   {:view {:stroke "transparent"},
    :axis
    {:domainColor "#ffffff22",
     :grid true,
     :font "Lato",
     :labelColor "#ffffff88",
     :titleFont "Lato",
     :titleColor "#ffffff99",
     :labelFont "Lato",
     :domain false,
     :gridColor "#ffffff22",
     :tickColor "#ffffff22",
     :axisFont "Lato"},
    :legend
    {:labelFont "Lato",
     :legendFont "Lato",
     :labelColor "#ffffff99",
     :titleColor "#ffffff99",
     :stroke "#ffffff99",
     :titleFont "Lato"},
    :header
    {:labelFont "Lato", :titleFont "Lato", :titleColor "#ffffff99"},
    :mark {:font "Lato"},
    :title
    {:font "Lato",
     :subtitleFont "Lato",
     :labelFont "Lato",
     :titleFont "Lato",
     :titleColor "#ffffff99"}},
   :grid-selected-column-css
   {:background-color "#00000088", :filter "brightness(200%)"},
   :base-block-color-selected "#00030a",
   :block-title-font-color "#ffffff",
   :base-block-color "#04041b82",
   :editor-rim-color "#817dbe",
   :base-block-filter-selected
   "drop-shadow(0.35rem 0.35rem 0.4rem #8dceff) drop-shadow(-0.35rem -0.35rem 0.4rem #8dceff)",
   :vega-default-color-scheme {:scheme "pastel2"},
   :data-colors
   {"float" "#C8CFC5",
    "boolean" "#DA12DEA",
    "map" "#1D254B",
    "list" "#ADADAE",
    "string" "#67fe75",
    "vector" "#1D254B",
    "keyword" "#A197AB",
    "rabbit-code" "#3E3B6A",
    "datetime" "#4A4E74",
    "integer" "#CACBB6",
    "unknown" "#E7EABE",
    "date" "#88899C",
    "nil" "#6F648A"},
   :editor-grid-selected-font-color "#000000",
   :monospaced-font "JetBrains Mono",
   :editor-grid-selected-background-color "#e5a4ca",
   :nivo-defaults
   {:font-family "Instagram Sans",
    :labels
    {:text
     {:fill "#ffffff",
      :font-size "16px",
      :font-family "Instagram Sans",
      :font-weight 700}},
    :tooltip
    {:container
     {:background "#000",
      :color "#ffffff",
      :text {:fill "#eeeeee"},
      :fontSize "18px",
      :borderRadius "4px",
      :boxShadow "0 1px 2px rgba(0, 0, 0, 0.55)",
      :padding "5px 9px"},
     :basic {:whiteSpace "pre", :display "flex", :alignItems "center"},
     :tableCell {:padding "3px 5px"}},
    :axis
    {:legend
     {:text
      {:fill "#ffffff",
       :font-size "14px",
       :font-family "Instagram Sans",
       :font-weight 700}},
     :ticks
     {:line {:stroke "#ffffff60"},
      :text {:fill "#ffffff60", :font-weight 700}}},
    :grid
    {:line
     {:stroke "#ffffff", :strokeWidth 0, :strokeDasharray "0 0"}}},
   :editor-outer-rim-color "#817dbe",
   :grid-selected-font-color "#000000",
   :block-title-selected-font-color "#ffffff",
   :grid-selected-background-color "#a3d3ff",
   :grid-font-color "#ffffff",
   :canvas-background-css
   {:background-image "url(images/pink-dusk-falls-8k-4k.png)",
    :transition "all 0.8s ease-in-out",
    :background-size "cover",
    :background-color "#424f57"},
   :editor-font-color "#ffffff",
   :base-font "Instagram Sans",
   :block-tab-selected-font-color "#c9d1ff",
   :editor-background-color "#000006",
   :editor-grid-font-color "#ffffff"},
  :param {:selected-view [nil nil], :selected-view-data nil},
  :connections-sys
  {:database_name "SQLite", :connection_id "bigfoot-ufos"},
  :tables-sys
  {:db_schema "none",
   :db_catalog nil,
   :connection_id "bigfoot-ufos",
   :schema_cat nil,
   :table_name "ufo_sightings",
   :fields 14}},
 :selected-flow "live-scratch-flow"}