{:orders
 {:tables-sys
  [:db_schema :db_catalog :connection_id :schema_cat :table_name :fields],
  :fields-sys [:field_name :field_type :data_type],
  :connections-sys [:database_name :connection_id :styler_highlight_8717ssa]},
 :reco-preview nil,
 :meta
 {:tables-sys
  {:fields
   {:db_schema
    {:min "none",
     :data-type "string",
     :commons {"none" 22},
     :distinct 1,
     :group-by? true,
     :median "none",
     :max "none",
     :avg "none (non-numeric average)",
     :cardinality 4},
    :db_catalog
    {:min "",
     :data-type "unknown",
     :commons {nil 22},
     :distinct 1,
     :group-by? true,
     :median "",
     :max "",
     :avg " (non-numeric average)",
     :cardinality 4},
    :connection_id
    {:min "system-db",
     :data-type "string",
     :commons {"system-db" 22},
     :distinct 1,
     :group-by? true,
     :median "system-db",
     :max "system-db",
     :avg "system-db (non-numeric average)",
     :cardinality 4},
    :schema_cat
    {:min "",
     :data-type "unknown",
     :commons {nil 22},
     :distinct 1,
     :group-by? false,
     :median "",
     :max "",
     :avg " (non-numeric average)",
     :cardinality 4},
    :table_name
    {:min "attributes",
     :data-type "string",
     :commons {"connections" 1, "board_history" 1, "rule_maps_tests" 1},
     :distinct 22,
     :group-by? true,
     :median "flow_functions",
     :max "viz_recos_vw2",
     :avg "attributes (non-numeric average)",
     :cardinality 100},
    :fields
    {:min 4,
     :data-type "integer",
     :commons {6 4, 5 3, 15 3},
     :distinct 13,
     :group-by? false,
     :median 24,
     :max 25,
     :avg 11.727272727272727,
     :cardinality 59}},
   :rowcount 22},
  :fields-sys {:fields {}, :rowcount 0},
  :connections-sys
  {:fields
   {:database_name
    {:min "*cache-db*",
     :data-type "string",
     :commons {"*cache-db*" 5, "SQLite" 3, "*csv-import-db*" 1},
     :distinct 3,
     :group-by? true,
     :median "*cache-db*",
     :max "SQLite",
     :avg "*cache-db* (non-numeric average)",
     :cardinality 33},
    :connection_id
    {:min "bigfoot-ufos",
     :data-type "string",
     :commons {"history-db" 1, "imported" 1, "bigfoot-ufos" 1},
     :distinct 9,
     :group-by? true,
     :median "history-db",
     :max "system-db",
     :avg "system-db (non-numeric average)",
     :cardinality 100},
    :styler_highlight_8717ssa
    {:min 0,
     :data-type "integer",
     :commons {0 9},
     :distinct 1,
     :group-by? true,
     :median 0,
     :max 0,
     :avg 0,
     :cardinality 11}},
   :rowcount 9}},
 :default-col-widths
 {:system-connections-list* {:connections-sys 126},
  :system-tables-list* {:tables-sys 133},
  :system-fields-list* {:fields-sys ##Inf}},
 :tabs ["strategic grill locations"],
 :selected-cols {},
 :server
 {:settings
  {:harvest-on-boot? false,
   :default "./screens/looking-glass-redux.edn",
   :new-block-rand
   ["Why, sometimes I've believed as many as six impossible things before breakfast."
    "Imagination is the only weapon in the war against reality."
    "It's no use going back to yesterday, because I was a different person then."
    "Who in the world am I? Ah, that's the great puzzle."
    "Curiouser and curiouser!"
    "If you don't know where you are going any road can take you there."
    "We're all mad here."
    "I can't go back to yesterday because I was a different person then."
    "It's always tea-time."
    "Begin at the beginning and go on till you come to the end; then stop."
    "I knew who I was this morning, but I've changed a few times since then."
    "How long is forever? Sometimes, just one second."
    "If everybody minded their own business, the world would go around a great deal faster than it does."
    "I don't think... then you shouldn't talk, said the Hatter."
    "Oh, how I wish I could shut up like a telescope! I think I could, if I only knew how to begin."
    "You're entirely bonkers. But I'll tell you a secret... all the best people are."
    "It was much pleasanter at home, when one wasn't always growing larger and smaller."
    "I wonder if I've been changed in the night. Let me think. Was I the same when I got up this morning?"
    "Have I gone mad? I'm afraid so, but let me tell you something, the best people usually are."
    "Well, I never heard it before, but it sounds uncommon nonsense."
    "Why, sometimes I've believed as many as six impossible things before breakfast."
    "Imagination is the only weapon in the war against reality."
    "Who in the world am I? Ah, that's the great puzzle."
    "We're all mad here."
    "How long is forever? Sometimes, just one second."
    "The world is full of obvious things which nobody by any chance ever observes."
    "Reality is that which, when you stop believing in it, doesn't go away."
    "The sky above the port was the color of television, tuned to a dead channel."
    "Information wants to be free."
    "The future is already here – it's just not evenly distributed."
    "He had a chip in his head, an interface jack that allowed him to plug his brain directly into the console."
    "The 'Net is a waste of time, and that's exactly what's right about it."
    "Cyberspace. A consensual hallucination experienced daily by billions of legitimate operators, in every nation."
    "The street finds its own uses for things."
    "Accelerated world. Accelerated nervous system to go with it."
    "The future has arrived — it's just not evenly distributed yet."
    "It's not enough to be able to pick up a sword. You have to know which end to poke into the enemy."
    "When you want to know how things really work, study them when they're coming apart."
    "The human sensory system is a lot more complex and weird than most people realize."
    "Time moves in one direction, memory in another."
    "The only thing that keeps you sane is to think that it's all a bad dream."
    "We're an information economy. They teach you that in school. What they don't tell you is that it's impossible to move, to live, to operate at any level without leaving traces, bits, seemingly meaningless fragments of personal information."
    "We monitor many frequencies. We listen always. Came a voice, out of the babel of tongues, speaking to us. It played us a mighty dub."
    "Secrets are not the same as surprises."
    "Neuromancer. The lane to the land of the dead."],
   :eleven-labs-api-key nil,
   :modes
   {:terminal [:terminal :*data],
    :markdown [:markdown :*data],
    :rowset [:honeycomb {:select [:*], :from {:data :*data}} 11 9],
    :pre
    [:pre
     {:style
      {:color :theme/editor-outer-rim-color,
       :background-color "#00000000",
       :border "none",
       :text-shadow "4px 4px 4px #00000088",
       :font-size "17px",
       :font-family :theme/monospaced-font}}
     [:str :*data]],
    :edn [:edn :*data],
    :clover [:box :child :*data],
    :pretty [:pretty-box :*data],
    :text [:console :*data],
    :data [:data-viewer :*data]},
   :kits {},
   :clover-templates
   {:color-theft
    {:args [:*input],
     :body
     [:data-viewer [:run-solver [:get-my-colors {:input-image-path :*input}]]]},
    :pretty-box
    {:args [:*input],
     :body
     [:box
      :size
      "auto"
      :align
      :center
      :justify
      :center
      :style
      {:color :theme/editor-outer-rim-color,
       :font-size [:auto-size-px [:str :*input]]}
      :child
      [:str :*input]]},
    :clj
    {:args [:code],
     :body
     [:run-solver
      {:signal false, :cache? false, :type :clojure, :input-map {}, :data :code}]},
    :clj2
    {:args [:code],
     :body
     [:run-solver
      {:signal false, :cache? false, :type :clojure2, :input-map {}, :data :code}]},
    :cheese-burger
    {:args [:x],
     :body
     [:box
      :style
      {:color "yellow", :font-size "23px"}
      :child
      [:str :x "CHEESEBURGER!"]]}},
   :eleven-labs-default-voice-name "Not OG Buffy",
   :debug-level 1,
   :screens
   ["GGGeat-ochre-mole-exiled-from-abyssal-plain"
    "SSSSSSuccessful-oval-sea-urchin-of-mountain-range"
    "SSuccessful-oval-sea-urchin-of-mountain-range"
    "aaa-run-amok"
    "aaaaah-esday-the-day"
    "aaaaah-wednesday-the-day"
    "aaaah-wednesday-the-day"
    "alarm-clock-tv"
    "alarm-clock1"
    "alarm-clock2"
    "alarm-clock22"
    "alarm-clock23"
    "alice-puzzle-1"
    "asdasdasdasd"
    "autumn-theme"
    "base-test-perf"
    "base-test-perf22"
    "battle-mage"
    "bigfoot-snapshots"
    "bigfoot-snapshots2"
    "bigfoot-snapshots3"
    "blackberries"
    "blackberries2"
    "blackberries3"
    "blackberries3-narrow"
    "blackberries3-narrow2"
    "blank-blue"
    "blank-sizzle"
    "blank-sizzle2"
    "blue-pines"
    "boston-test-10-3-23"
    "broken-jacket"
    "bunch of bullshit"
    "bunch of bullshit2"
    "bunch of bullshit4"
    "caliope"
    "calliope"
    "canvas-scrubber-test1"
    "capecod-viking"
    "chaos simple"
    "chaos-views"
    "chompers"
    "claude-testing2"
    "clean-grey-defaults"
    "code-data-literal-stonks-test"
    "conifer-boughs"
    "counting-lord-of-the-woods"
    "crazy-alice"
    "dark-crested-jackelope"
    "data-literals-test-sunday"
    "data-literals-test-sundaydd"
    "demo-dark-pumpkin-bkgrd-sept23"
    "demo-light-bkgrd-sept23"
    "demo-lime-green-slime"
    "desktops-and-broomsticks"
    "dirty-purple"
    "dirty-purple22"
    "duality-of-lepus"
    "duality-of-lepus33"
    "duality-of-lepus33aa"
    "duality-of-lepus33aass"
    "error-monitor"
    "error-monitor-vanessa"
    "error-monitor-vanessa2"
    "error-monitor-vanessa3"
    "error-monitor-vanessa4"
    "error-monitor-vanessa5"
    "evil-main-street"
    "fake-books-1"
    "fake-bricks"
    "fetching-pentagonal-termite-of-tghe-submarine-canyon"
    "final-fantasy-dorchester"
    "fox-hills"
    "game-of-life"
    "glass-fish-board-test"
    "green-storm-city"
    "hue-board-1"
    "late-winter-theme"
    "lavender-side-eye"
    "layout-test-1"
    "layout-test-12"
    "light-theme"
    "literal-data-test"
    "looking-glass-conway"
    "looking-glass-redux-conway2"
    "looking-glass-redux-mix5"
    "looking-glass-redux-test"
    "looking-glass-redux-viking"
    "looking-glass-redux-viking2"
    "looking-glass-redux2"
    "looking-glass-redux23a"
    "looking-glass-redux23abb"
    "looking-glass-redux23b"
    "looking-glass-redux2a"
    "looking-glass-redux2aa"
    "looking-glass-redux45"
    "looking-glass-redux79"
    "looking-glass-sine-wave"
    "luck-of-the-irish"
    "mapbox-test"
    "may-20"
    "my-goodness"
    "my-goodness-the-sequel"
    "neverwinter-amy"
    "new-age-hacking"
    "night-city-never-sleeps"
    "nightcity-cape-cod"
    "nivo-getting-better!"
    "nivo-hacking-2023"
    "nivo-hacking-2023333"
    "nivo-hacking-october-2nd"
    "nostromo-console"
    "old-defaults"
    "old-fashioned-christmas"
    "old-town-snow-stars"
    "pensive-look"
    "pensive-look2"
    "pine-wood-dawn"
    "pink-and-green-elk"
    "pink-dusk-falls"
    "pinup-rabbit-fields"
    "pnw-demo-dash-llm-training"
    "pomp-girl1"
    "pomp-girl2"
    "poor-touring-me"
    "pres-sql-test-1"
    "purple-dusk-old-town"
    "purple-nightshades"
    "purple-techno-sunset"
    "recharts-test-blocks"
    "refresh-test"
    "repl-demo-july23"
    "repl-tests-3"
    "retro-machines"
    "riffle-test"
    "server-stats"
    "server-stats2"
    "server-stats2a"
    "sick-of-your-shit"
    "sizzle-board-1"
    "sneaky-swamp-creatures1"
    "solver-test"
    "stop-drawing-dead-dashboards"
    "swamp-nightgown"
    "swamp-reacher"
    "system-monitor2"
    "tallica-param-test2"
    "tangerine-dreams"
    "technicolor-shanny"
    "test-blog-screen"
    "the-future-soon"
    "the-generated-lass"
    "the-generated-lass-glow"
    "the-generated-lass-ne"
    "the-generated-lass-sgt"
    "the-generated-lassff"
    "the-memo"
    "the-memo2"
    "the-outer-blues"
    "trad-hybrid"
    "tweet-bigfoot-is-blurry"
    "tweet-demo-thing-bigfoot-is-blurry"
    "unnamed-screen!"
    "viking-pastels"
    "weave-test"
    "weave-test1"
    "weave-test122"
    "who ya gonna call?"
    "who ya gonna call? again"
    "winter-theme"
    "winter-theme-choom"
    "winter-theme2"
    "winter-theme33"
    "winter-theme45"
    "winter-theme47"
    "winter-twin-peaks"
    "witchy425"
    "wonderland-horror-interface"
    "wow-board"]}},
 :editor? false,
 :buffy? false,
 :valid-kits
 {[:clojure :export-to-csv] [],
  [:clojure :count-map-keys] [],
  [:clojure :new-lundberg] [[:* :* :*]],
  [:clojure :view-lundberg] [],
  [:clojure :gen-ev] [],
  [:outliers :get-outliers] []},
 :memory [158398848 138533132 4294705152],
 :client-name :easy-sangria-spider-40,
 :flow-editor? true,
 :openai-api-key "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",
 :window {:w 1978, :h 1081},
 :post-meta
 {:fields-sys {:* {:rowcount 0}},
  :tables-sys
  {:* {:rowcount 22},
   :db_schema {:distinct 1},
   :db_catalog {:distinct 0},
   :connection_id {:distinct 1},
   :schema_cat {:distinct 0},
   :table_name {:distinct 22},
   :fields {:distinct 13}}},
 :flow-estimates
 {:tables-sys {:times 0.001, :run-id :tables-sys},
  :fields-sys {:times 0.001, :run-id :fields-sys},
  :connections-sys {:times 0.001, :run-id :connections-sys}},
 :status
 {:heartbeat
  {:kick
   [:flow-status/live-scratch-flow>*running? :kit/kicks>easy-sangria-spider-40]}},
 :screen-name "tes-save1",
 :recos-page2 0,
 :selected-tab "strategic grill locations",
 :openai-org-id "org-YLngjih2M4oju0tnnZtKCAYg",
 :alerts
 [[[:box
    :style
    {:font-size "15px"}
    :child
    [:box
     :child
     "sent screen save request to server... Please wait."
     :style
     {:font-size "12px", :opacity 0.66}]]
   11
   0.5
   412
   -1247625457]],
 :recos-page 0,
 :rs-overrides-hashmap {},
 :elevenlabs-api-key "f74e20dec69741c2d51663cbd8cd4cf6",
 :user-params-hash -320612147,
 :grid-recos? true,
 :resolved-queries {},
 :panels {},
 :theme-colors-hashmap
 {"float" "#2c728e",
  "boolean" "#f386bf",
  "map" "#00FFFF",
  "list" "#c32148",
  "string" "#5dc963",
  "any" "#ffffff",
  "vector" "#008080",
  "keyword" "#add8e6",
  "rabbit-code" "#FC0FC0",
  "datetime" "#472d7b",
  "integer" "#d6e367",
  "unknown" "#c7005d",
  "date" "#3b528b",
  "rabbitsql" "#FC0FC0",
  "nil" "#ff2147"},
 :solver-fn nil,
 :click-param
 {:theme
  {:theme-name "who ya gonna call?",
   :codemirror-theme "ayu-mirage",
   :editor-param-background-color "#0b1122",
   :base-block-style {},
   :vega-defaults
   {:view {:stroke "transparent"},
    :axis
    {:domainColor "#ffffff22",
     :grid true,
     :font "Lato",
     :labelColor "#ffffff88",
     :titleFont "Lato",
     :titleColor "#ffffff99",
     :labelFont "Lato",
     :domain false,
     :gridColor "#ffffff22",
     :tickColor "#ffffff22",
     :axisFont "Lato"},
    :legend
    {:labelFont "Lato",
     :legendFont "Lato",
     :labelColor "#ffffff99",
     :titleColor "#ffffff99",
     :stroke "#ffffff99",
     :titleFont "Lato"},
    :header {:labelFont "Lato", :titleFont "Lato", :titleColor "#ffffff99"},
    :mark {:font "Lato"},
    :title
    {:font "Lato",
     :subtitleFont "Lato",
     :labelFont "Lato",
     :titleFont "Lato",
     :titleColor "#ffffff99"}},
   :grid-selected-column-css
   {:background-color "#00000088", :filter "brightness(200%)"},
   :base-block-color-selected "#0b031b",
   :block-title-font-color "#ffffff",
   :universal-pop-color "#9973e0",
   :base-block-color "#0b1122",
   :editor-rim-color "#0b1122",
   :vega-default-color-scheme {:scheme "accent"},
   :data-colors
   {"float" "#2c728e",
    "boolean" "#f386bf",
    "map" "#00FFFF",
    "list" "#c32148",
    "string" "#5dc963",
    "any" "#ffffff",
    "vector" "#008080",
    "keyword" "#add8e6",
    "rabbit-code" "#FC0FC0",
    "datetime" "#472d7b",
    "integer" "#d6e367",
    "unknown" "#c7005d",
    "date" "#3b528b",
    "rabbitsql" "#FC0FC0",
    "nil" "#ff2147"},
   :editor-grid-selected-font-color "#ffffff",
   :monospaced-font "IBM Plex Mono",
   :editor-grid-selected-background-color "#FFA50087",
   :nivo-defaults
   {:font-family :theme/base-font,
    :labels
    {:text
     {:fill "#ffffff",
      :font-size "16px",
      :font-family :theme/base-font,
      :font-weight 700}},
    :tooltip
    {:container
     {:background "#000",
      :color "#ffffff",
      :text {:fill "#eeeeee"},
      :fontSize "18px",
      :borderRadius "4px",
      :boxShadow "0 1px 2px rgba(0, 0, 0, 0.55)",
      :padding "5px 9px"},
     :basic {:whiteSpace "pre", :display "flex", :alignItems "center"},
     :tableCell {:padding "3px 5px"}},
    :axis
    {:legend
     {:text
      {:fill "#ffffff",
       :font-size "14px",
       :font-family :theme/base-font,
       :font-weight 700}},
     :ticks
     {:line {:stroke "#ffffff60"}, :text {:fill "#ffffff60", :font-weight 700}}},
    :grid {:line {:stroke "#ffffff", :strokeWidth 0, :strokeDasharray "0 0"}}},
   :editor-outer-rim-color "#33ffb7",
   :grid-selected-font-color "#ffffff",
   :block-title-selected-font-color "#ffffff",
   :grid-selected-background-color "#8879bc",
   :grid-font-color "#ffffff",
   :canvas-background-css
   {:background-image "url(images/fake-brick5.png)",
    :transition "all 0.6s ease-in-out",
    :background-color "#47555e",
    :background-repeat "repeat"},
   :editor-font-color "#ffffff",
   :base-font "Oxygen Mono",
   :block-tab-selected-font-color "#FFA500",
   :editor-background-color "#000000",
   :editor-grid-font-color "#ffffff"},
  :connections-sys
  {:database_name "*cache-db*",
   :connection_id "system-db",
   :styler_highlight_8717ssa 0}},
 :selected-flow "live-scratch-flow"}