{:orders
 {:tables-sys
  [:db_schema
   :db_catalog
   :connection_id
   :schema_cat
   :table_name
   :fields],
  :fields-sys [:field_name :field_type :data_type],
  :connections-sys [:database_name :connection_id],
  :reco-counts [:table_name :cnt],
  :flows-sys [:flow_id :file_path :last_modified]},
 :reco-preview nil,
 :meta
 {:tables-sys
  {:fields
   {:db_schema
    {:data-type "string",
     :distinct 1,
     :group-by? true,
     :commons {"none" 3},
     :cardinality 33},
    :db_catalog
    {:data-type "unknown",
     :distinct 1,
     :group-by? true,
     :commons {nil 3},
     :cardinality 33},
    :connection_id
    {:data-type "string",
     :distinct 1,
     :group-by? true,
     :commons {"imported" 3},
     :cardinality 33},
    :schema_cat
    {:data-type "unknown",
     :distinct 1,
     :group-by? false,
     :commons {nil 3},
     :cardinality 33},
    :table_name
    {:data-type "string",
     :distinct 3,
     :group-by? true,
     :commons
     {"ref_us_zipcodes" 1,
      "deniro" 1,
      "Electric_Vehicle_Population_Data" 1},
     :cardinality 100},
    :fields
    {:data-type "integer",
     :distinct 3,
     :group-by? false,
     :commons {7 1, 4 1, 18 1},
     :cardinality 100}},
   :rowcount 3},
  :fields-sys
  {:fields
   {:field_name
    {:data-type "string",
     :distinct 17,
     :group-by? true,
     :commons {"Base_MSRP" 1, "zipcode" 1, "_2020_Census_Tract" 1},
     :cardinality 100},
    :field_type
    {:data-type "string",
     :distinct 2,
     :group-by? true,
     :commons {"VARCHAR" 11, "INTEGER" 6},
     :cardinality 11},
    :data_type
    {:data-type "string",
     :distinct 2,
     :group-by? true,
     :commons {"string" 11, "integer" 6},
     :cardinality 11}},
   :rowcount 17},
  :connections-sys
  {:fields
   {:database_name
    {:data-type "string",
     :distinct 3,
     :group-by? true,
     :commons {"*cache-db*" 5, "SQLite" 4, "*csv-import-db*" 1},
     :cardinality 30},
    :connection_id
    {:data-type "string",
     :distinct 10,
     :group-by? true,
     :commons {"imported" 1, "bigfoot-ufos" 1, "snifftmp1" 1},
     :cardinality 100}},
   :rowcount 10},
  :reco-counts {:fields {}, :rowcount 0},
  :flows-sys
  {:fields
   {:flow_id
    {:data-type "string",
     :distinct 58,
     :group-by? true,
     :commons {"clam-flow-851" 3, "map-pull-test2" 1, "callie-3" 1},
     :cardinality 96},
    :file_path
    {:data-type "string",
     :distinct 60,
     :group-by? true,
     :commons
     {"./flows/hey-rabbit-pathfinder.edn" 1,
      "./flows/dalle3-create-image-newengland-old.edn" 1,
      "./flows/hue-change-group-color.edn" 1},
     :cardinality 100},
    :last_modified
    {:data-type "string",
     :distinct 60,
     :group-by? true,
     :commons
     {"2023-12-31 20:10:21" 1,
      "2024-01-24 13:20:30" 1,
      "2024-01-06 18:53:33" 1},
     :cardinality 100}},
   :rowcount 60}},
 :default-col-widths
 {:system-connections-list* {:connections-sys 111},
  :system-tables-list* {:tables-sys 137},
  :system-fields-list* {:fields-sys 170}},
 :data-hash -2033894590,
 :tabs ["strategic grill locations"],
 :selected-cols nil,
 :server
 {:settings
  {:harvest-on-boot? true,
   :default "./screens/winter-theme.edn",
   :eleven-labs-api-key nil,
   :kits
   {:buffy
    {:author
     {:name "Ryan Robitaille",
      :email "ryan.robitaille@gmail.com",
      :x "@ryrobes",
      :site "https://ryrob.es/"},
     :kit-name :buffy,
     :package-name :grab-bag,
     :fn (rvbbit-backend.assistants/buffy :query-name),
     :name "Ask Buffy!",
     :icon "zmdi-cocktail",
     :run-on :queries,
     :description "What does Buffy think about this data? Who knows!"},
    :outliers
    {:description
     "A basic multivariate outlier detection runstream. Highlight outliers in various dimensional groupings as a launch pad for further exploration.",
     :image-url "images/outliers-image.png",
     :fn
     (rabbit-kit-outliers.core/get-outliers
       :query-name
       :panel-name
       :query),
     :name "Outliers",
     :icon "zmdi-functions",
     :author
     {:name "Ryan Robitaille",
      :email "ryan.robitaille@gmail.com",
      :x "@ryrobes",
      :site "https://ryrob.es/"},
     :run-on :queries,
     :repl {:host "127.0.0.1", :port 42999},
     :kit-name :outliers,
     :package-name :query-basics-1},
    :forecast
    {:description
     "WIP: basic timeseries forecasting based on previous values",
     :fn
     (rabbit-kit-outliers.core/get-forecast
       :query-name
       :panel-name
       :query),
     :name "Forecasting",
     :icon "zmdi-brightness-7",
     :author
     {:name "Ryan Robitaille",
      :email "ryan.robitaille@gmail.com",
      :x "@ryrobes",
      :site "https://ryrob.es/"},
     :run-on :queries,
     :repl {:host "127.0.0.1", :port 42999},
     :kit-name :forecast,
     :package-name :query-basics-1}},
   :graphite-host "127.0.0.1",
   :openapi-org-id nil,
   :debug-level 1,
   :screens
   ["GGGeat-ochre-mole-exiled-from-abyssal-plain"
    "SSSSSSuccessful-oval-sea-urchin-of-mountain-range"
    "SSuccessful-oval-sea-urchin-of-mountain-range"
    "aaa-run-amok"
    "aaaaah-esday-the-day"
    "aaaaah-wednesday-the-day"
    "aaaah-wednesday-the-day"
    "asdasdasdasd"
    "autumn-theme"
    "battle-mage"
    "bigfoot-snapshots"
    "bigfoot-snapshots2"
    "bigfoot-snapshots3"
    "blank-sizzle"
    "blank-sizzle2"
    "boston-test-10-3-23"
    "broken-jacket"
    "bunch of bullshit"
    "bunch of bullshit2"
    "bunch of bullshit4"
    "caliope"
    "calliope"
    "canvas-scrubber-test1"
    "capecod-viking"
    "chaos simple"
    "chaos-views"
    "clean-grey-defaults"
    "code-data-literal-stonks-test"
    "conifer-boughs"
    "crazy-alice"
    "dark-crested-jackelope"
    "data-literals-test-sunday"
    "data-literals-test-sundaydd"
    "demo-dark-pumpkin-bkgrd-sept23"
    "demo-light-bkgrd-sept23"
    "demo-lime-green-slime"
    "desktops-and-broomsticks"
    "error-monitor"
    "error-monitor-vanessa"
    "error-monitor-vanessa2"
    "evil-main-street"
    "fake-books-1"
    "fetching-pentagonal-termite-of-tghe-submarine-canyon"
    "final-fantasy-dorchester"
    "fox-hills"
    "glass-fish-board-test"
    "green-storm-city"
    "hue-board-1"
    "late-winter-theme"
    "layout-test-1"
    "layout-test-12"
    "light-theme"
    "literal-data-test"
    "luck-of-the-irish"
    "mapbox-test"
    "neverwinter-amy"
    "night-city-never-sleeps"
    "nightcity-cape-cod"
    "nivo-getting-better!"
    "nivo-hacking-2023"
    "nivo-hacking-2023333"
    "nivo-hacking-october-2nd"
    "old-defaults"
    "old-fashioned-christmas"
    "old-town-snow-stars"
    "pensive-look"
    "pine-wood-dawn"
    "pink-dusk-falls"
    "pinup-rabbit-fields"
    "poor-touring-me"
    "pres-sql-test-1"
    "purple-dusk-old-town"
    "purple-nightshades"
    "purple-techno-sunset"
    "recharts-test-blocks"
    "refresh-test"
    "riffle-test"
    "sick-of-your-shit"
    "sizzle-board-1"
    "sneaky-swamp-creatures1"
    "swamp-nightgown"
    "swamp-reacher"
    "tallica-param-test2"
    "the-future-soon"
    "the-generated-lass"
    "the-generated-lass-glow"
    "the-generated-lass-ne"
    "the-generated-lass-sgt"
    "the-outer-blues"
    "trad-hybrid"
    "tweet-bigfoot-is-blurry"
    "tweet-demo-thing-bigfoot-is-blurry"
    "unnamed-screen!"
    "viking-pastels"
    "weave-test"
    "weave-test1"
    "weave-test122"
    "who ya gonna call?"
    "who ya gonna call? again"
    "winter-theme"
    "winter-theme-choom"
    "winter-theme2"
    "winter-theme33"
    "winter-theme45"
    "winter-theme47"
    "winter-twin-peaks"
    "wow-board"],
   :openapi-key
   "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"}},
 :runstreams {"quick-maths-v2" {:open? true, :open-outputs? true}},
 :editor? false,
 :buffy? true,
 :memory [295792084 267434204 4294705152],
 :status-data
 {:heartbeat
  {:kick
   {:data
    [{:sent! :heartbeat,
      :to :all,
      :at "2024-02-11 00:58:07",
      :payload nil,
      :payload-kp [:heartbeat :heartbeat]}
     nil],
    :elapsed-ms nil,
    :reco-count nil}},
  "kick-test!"
  {:kick
   {:data
    [{:sent! "kick-test!",
      :to :fun-pyramidal-crane-of-plain,
      :at "2024-02-11 00:57:35",
      :payload
      {:query-log
       {:data
        [{:content ["2024-02-11 00:57:35 - query ran in 1 ms."],
          :name "query-log-:flows-sys",
          :order 1707631055,
          :parameters {},
          :forced-mutates {},
          :step-mutates {}}],
        :description "query-log-:flows-sys",
        :mutates {},
        :options {:actions? false, :pages? false, :search? false},
        :parameters {}}},
      :payload-kp [:flows-sys "kick-test!"]}
     nil],
    :elapsed-ms nil,
    :reco-count nil}},
  :alert1
  {:alerts
   {:data
    [[[:v-box
       :justify
       :center
       :style
       {:margin-top "-6px", :color "inherit"}
       :children
       [[:box :child "flow quick-maths-v2 has finished"]
        [:box
         :style
         {:font-weight 700, :font-size "10px", :opacity 0.7}
         :child
         "less than a second "]
        [:box
         :style
         {:font-weight 700, :font-size "10px", :opacity 0.7}
         :child
         "returns: true"]]]
      10
      1.35
      8]
     nil],
    :elapsed-ms nil,
    :reco-count nil}}},
 :re-pressed.core/keydown
 {:keys
  [{:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 32}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 32}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey true,
    :keyCode 32}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey true,
    :keyCode 32}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 32}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 27}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey true,
    :keyCode 32}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey true,
    :keyCode 32}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey true,
    :keyCode 32}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 32}],
  :event-keys
  [[[:viz-yard.bricks/esc-unselect-current] [{:keyCode 27}]]
   [[:viz-yard.bricks/redo-one]
    [{:keyCode 90, :ctrlKey true, :shiftKey true}]]
   [[:viz-yard.bricks/undo-one]
    [{:keyCode 90, :ctrlKey true, :shiftKey false}]]
   [[:viz-yard.bricks/toggle-buffy]
    [{:keyCode 32, :shiftKey true, :ctrlKey false}]]
   [[:viz-yard.bricks/toggle-editor]
    [{:keyCode 32, :shiftKey false, :ctrlKey false}]]
   [[:viz-yard.bricks/toggle-flow]
    [{:keyCode 32, :shiftKey false, :ctrlKey true}]]
   [[:viz-yard.bricks/next-panel] [{:keyCode 9}]]
   [[:viz-yard.bricks/toggle-kick-alert] [{:keyCode 75}]]
   [[:viz-yard.bricks/toggle-peek] [{:keyCode 80}]]
   [[:viz-yard.bricks/toggle-lines] [{:keyCode 76}]]
   [[:viz-yard.bricks/toggle-auto-run] [{:keyCode 79}]]
   [[:viz-yard.bricks/delete-selected-panel]
    [{:keyCode 46, :shiftKey true}]]
   [[:viz-yard.bricks/cycle-column-select false] [{:keyCode 81}]]
   [[:viz-yard.bricks/cycle-column-select true] [{:keyCode 69}]]
   [[:viz-yard.audio/start-recording] [{:keyCode 84}]]
   [[:viz-yard.audio/stop-recording] [{:keyCode 89}]]
   [[:viz-yard.bricks/stretch-panel :wider]
    [{:keyCode 68, :shiftKey true}]]
   [[:viz-yard.bricks/stretch-panel :longer]
    [{:keyCode 83, :shiftKey true}]]
   [[:viz-yard.bricks/stretch-panel :narrower]
    [{:keyCode 65, :shiftKey true}]]
   [[:viz-yard.bricks/stretch-panel :shorter]
    [{:keyCode 87, :shiftKey true}]]
   [[:viz-yard.bricks/panel-depth-up] [{:keyCode 82, :shiftKey true}]]
   [[:viz-yard.bricks/panel-depth-down]
    [{:keyCode 70, :shiftKey true}]]
   [[:viz-yard.bricks/save]
    [{:keyCode 83, :shiftKey false, :ctrlKey true}]]
   [[:viz-yard.bricks/nudge-panel :up] [{:keyCode 87}]]
   [[:viz-yard.bricks/nudge-panel :down] [{:keyCode 83}]]
   [[:viz-yard.bricks/nudge-panel :left] [{:keyCode 65}]]
   [[:viz-yard.bricks/nudge-panel :right] [{:keyCode 68}]]
   [[:viz-yard.core/alt-key-toggle] [{:keyCode 86}]]
   [[:viz-yard.core/alt-key-down] [{:keyCode 67}]]],
  :clear-keys nil,
  :always-listen-keys nil,
  :prevent-default-keys
  [{:keyCode 32}
   {:keyCode 86}
   {:keyCode 46, :shiftKey true}
   {:keyCode 83, :ctrlKey true}
   {:keyCode 83, :shiftKey false, :ctrlKey true}
   {:keyCode 9}
   {:keyCode 70, :ctrlKey true}]},
 :flow-subs [:flow/quick-maths-v2>*running?],
 :client-name :fun-pyramidal-crane-of-plain,
 :runstreams-lookups
 {"quick-maths-v2"
  {:open-inputs
   {:static-value-1 {:user-input 123323, :defaults {}, :type :integer},
    :test-integer-slider
    {:user-input 135, :defaults {}, :type :integer},
    :start-with-a-bang {:user-input :go, :defaults {}, :type :keyword},
    :scrubber-buttons
    {:user-input "tick", :defaults {}, :type :string}},
   :blocks
   {:divider-out-out
    {:type :unknown,
     :ttype :open-fn,
     :meta nil,
     :last? false,
     :defaults {},
     :sample "274/9"},
    :random-vector-full-of-stuff
    {:type :vector,
     :ttype :open-block,
     :meta
     {:test1*
      {:desc
       "Replace /path/to/source/dir with the path to your source directory and *.ext with the file extension that matches your source files. For instance, if you're counting lines in a Python project, you would use *.py.",
       :scrubber
       {:message "ytodad",
        :values
        ["area"
         "bar"
         "circle"
         "line"
         "point"
         "rect"
         "rule"
         "square"
         "text"
         "tick"]}}},
     :last? false,
     :defaults {:test1* 143},
     :sample
     "[37 84 95 :go {:fook true, :bite 984, :goo \"tick\"} 0 true [0..."},
    :random-vector-full-of-stuff_idx6
    {:type :vector,
     :ttype :open-fn,
     :meta nil,
     :last? false,
     :defaults {},
     :sample "[true 3 false 583056/137]"},
    :divisive-2
    {:type :unknown,
     :ttype :open-fn,
     :meta nil,
     :last? false,
     :defaults {},
     :sample "583056/137"},
    :static-value-1
    {:type :integer,
     :ttype :open-block,
     :meta nil,
     :last? false,
     :defaults {},
     :sample "123323"},
    :get-random-integer
    {:type :integer,
     :ttype :open-fn,
     :meta nil,
     :last? false,
     :defaults {},
     :sample "4110"},
    :test-integer-slider
    {:type :integer,
     :ttype :open-block,
     :meta {:* {:scrubber [0 1 900]}},
     :last? false,
     :defaults {},
     :sample "135"},
    :static-value-2-out-out
    {:type :integer,
     :ttype :open-fn,
     :meta nil,
     :last? false,
     :defaults {},
     :sample "405"},
    :start-with-a-bang
    {:type :keyword,
     :ttype :open-block,
     :meta nil,
     :last? false,
     :defaults {},
     :sample ":go"},
    :random-vector-full-of-stuff_idx6_out
    {:type :vector,
     :ttype :open-fn,
     :meta nil,
     :last? false,
     :defaults {},
     :sample "[true 3 false 583056/137]"},
    :divider-out
    {:type :unknown,
     :ttype :open-fn,
     :meta nil,
     :last? false,
     :defaults {},
     :sample "274/9"},
    :divider
    {:type :unknown,
     :ttype :open-fn,
     :meta nil,
     :last? false,
     :defaults {},
     :sample "274/9"},
    :scrubber-buttons
    {:type :string,
     :ttype :open-block,
     :meta
     {:*
      {:desc
       "Replace /path/to/source/dir with the path to your source directory and *.ext with the file extension that matches your source files. For instance, if you're counting lines in a Python project, you would use *.py.",
       :scrubber
       {:message "ytodad",
        :values
        ["area"
         "bar"
         "circle"
         "line"
         "point"
         "rect"
         "rule"
         "square"
         "text"
         "tick"]}}},
     :last? false,
     :defaults {},
     :sample "tick"},
    :random-vector-full-of-stuff_idx6_idx0
    {:type :boolean,
     :ttype :open-fn,
     :meta nil,
     :last? true,
     :defaults {},
     :sample "true"},
    :java-uid-test-string
    {:type :string,
     :ttype :open-fn,
     :meta nil,
     :last? false,
     :defaults {},
     :sample "uuid:  509ff418-7e70-4069-a054-398b518c68fc"},
    :some-quick-maths-yo
    {:type :integer,
     :ttype :open-fn,
     :meta nil,
     :last? false,
     :defaults {},
     :sample "129568"},
    :random-vector-full-of-stuff_idx1
    {:type :integer,
     :ttype :open-fn,
     :meta nil,
     :last? false,
     :defaults {},
     :sample "84"},
    :static-value-2-out
    {:type :integer,
     :ttype :open-fn,
     :meta nil,
     :last? false,
     :defaults {},
     :sample "135"},
    :grab-an-item
    {:type :map,
     :ttype :open-fn,
     :meta nil,
     :last? false,
     :defaults {},
     :sample "{:fook true, :bite 984, :goo \"tick\"}"},
    :static-value-2-out-out-out
    {:type :float,
     :ttype :open-fn,
     :meta nil,
     :last? false,
     :defaults {},
     :sample "343.4"}}}},
 :openai-api-key "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",
 :window {:w 2266, :h 1257},
 :status
 {:heartbeat {:kick [:flow/quick-maths-v2>*running?]},
  "kick-test!" {:kick :flows-sys},
  :alert1 {:alerts :alert2}},
 :screen-name "witchy425",
 :recos-page2 0,
 :selected-tab "strategic grill locations",
 :col-names nil,
 :openai-org-id "org-YLngjih2M4oju0tnnZtKCAYg",
 :alerts [],
 :recos-page 0,
 :re-pollsive.core/polling
 {:rules
  [{:interval 10,
    :event [:viz-yard.bricks/dispatch-auto-queries],
    :poll-when [:viz-yard.bricks/auto-run-and-connected?],
    :dispatch-event-on-start? false}
   {:interval 5,
    :event [:viz-yard.bricks/update-metadata],
    :dispatch-event-on-start? false,
    :started-at 0,
    :stopped-time-since-last-poll nil,
    :started-before? true}
   {:interval 120,
    :event [:viz-yard.bricks/clean-up-reco-previews],
    :dispatch-event-on-start? false,
    :started-at 0,
    :stopped-time-since-last-poll nil,
    :started-before? true}
   {:interval 2,
    :event [:viz-yard.bricks/prune-alerts],
    :dispatch-event-on-start? false,
    :started-at 0,
    :stopped-time-since-last-poll nil,
    :started-before? true}
   {:interval 5,
    :event [:viz-yard.bricks/get-memory-usage],
    :dispatch-event-on-start? false,
    :started-at 0,
    :stopped-time-since-last-poll nil,
    :started-before? true}
   {:interval 2,
    :event [:viz-yard.bricks/refresh-runstreams],
    :poll-when [:viz-yard.bricks/runstream-running?],
    :dispatch-event-on-start? false,
    :started-at nil,
    :stopped-time-since-last-poll 0,
    :started-before? true}
   {:interval 1,
    :event [:viz-yard.bricks/sub-to-flows],
    :poll-when [:viz-yard.bricks/new-flow-subs?],
    :dispatch-event-on-start? false,
    :started-at nil,
    :stopped-time-since-last-poll -1,
    :started-before? true}
   {:interval 1000,
    :event [:viz-yard.bricks/update-metadata-tabs],
    :dispatch-event-on-start? false,
    :started-at 0,
    :stopped-time-since-last-poll nil,
    :started-before? true}
   {:interval 1,
    :event [:viz-yard.bricks/update-conditionals],
    :dispatch-event-on-start? false,
    :started-at 0,
    :stopped-time-since-last-poll nil,
    :started-before? true}
   {:interval 4,
    :event [:viz-yard.bricks/refresh-status],
    :poll-when [:viz-yard.bricks/bg-status?],
    :dispatch-event-on-start? false}],
  :counter 56},
 :rs-overrides-hashmap {"quick-maths-v2" nil},
 :re-pressed.core/keyup
 {:keys
  [{:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 32}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 32}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey true,
    :keyCode 32}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 32}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 32}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 27}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 32}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 32}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 32}
   {:altKey false,
    :ctrlKey false,
    :metaKey false,
    :shiftKey false,
    :keyCode 32}],
  :event-keys [[[:viz-yard.core/alt-key-up] [{:keyCode 67}]]],
  :clear-keys nil,
  :always-listen-keys nil},
 :panels-hash 1428528398,
 :elevenlabs-api-key "f74e20dec69741c2d51663cbd8cd4cf6",
 :websocket-fx.core/sockets
 {:default
  {:status :connected,
   :options
   {:url "ws://localhost:3030/ws",
    :format :edn,
    :on-disconnect
    [:websocket-fx.core/unsubscribe :default :server-push2],
    :on-connect
    [:websocket-fx.core/subscribe
     :default
     :server-push2
     {:message
      {:kind :server-push2,
       :client-name :fun-pyramidal-crane-of-plain,
       :ui-keypath [:server],
       :extras {:hello? true}},
      :on-message [:viz-yard.http/simple-response]}]},
   :requests {},
   :subscriptions
   {:server-push2
    {:message
     {:kind :server-push2,
      :client-name :fun-pyramidal-crane-of-plain,
      :ui-keypath [:server],
      :extras {:hello? true}},
     :on-message [:viz-yard.http/simple-response]}}}},
 :user-params-hash 278685043,
 :grid-recos? true,
 :panels
 {:hello-there-brother
  {:h 3,
   :w 12,
   :root [2 2],
   :name "hello there!",
   :tab "strategic grill locations",
   :views
   {:heya!
    [:box
     :align
     :center
     :justify
     :center
     :style
     {:font-size "50px",
      :font-weight 700,
      :color :theme/editor-outer-rim-color,
      :padding-top "14px",
      :opacity 1,
      :font-family :theme/base-font}
     :child
     "hello! 🐇 🍂 🦃"]},
   :queries {}}},
 :click-param
 {:theme
  {:codemirror-theme "ayu-dark",
   :editor-param-background-color "#000000",
   :base-block-style {:backdrop-filter "blur(2px) brightness(70%) "},
   :vega-defaults
   {:view {:stroke "transparent"},
    :axis
    {:domainColor "#ffffff22",
     :grid true,
     :font "Lato",
     :labelColor "#ffffff88",
     :titleFont "Lato",
     :titleColor "#ffffff99",
     :labelFont "Lato",
     :domain false,
     :gridColor "#ffffff22",
     :tickColor "#ffffff22",
     :axisFont "Lato"},
    :legend
    {:labelFont "Lato",
     :legendFont "Lato",
     :labelColor "#ffffff99",
     :titleColor "#ffffff99",
     :stroke "#ffffff99",
     :titleFont "Lato"},
    :header
    {:labelFont "Lato", :titleFont "Lato", :titleColor "#ffffff99"},
    :mark {:font "Lato"},
    :title
    {:font "Lato",
     :subtitleFont "Lato",
     :labelFont "Lato",
     :titleFont "Lato",
     :titleColor "#ffffff99"}},
   :grid-selected-column-css
   {:background-color "#00000088", :filter "brightness(200%)"},
   :base-block-color-selected "#00030a",
   :block-title-font-color "#ffffff",
   :base-block-color "#0b121482",
   :editor-rim-color "#5d8a9e",
   :base-block-filter-selected
   "drop-shadow(0.35rem 0.35rem 0.4rem #8dceff) drop-shadow(-0.35rem -0.35rem 0.4rem #8dceff)",
   :vega-default-color-scheme {:scheme "pastel2"},
   :data-colors
   {"float" "#B9B8D5",
    "boolean" "#9B9D9E",
    "map" "#5F7F6B",
    "list" "#405D68",
    "string" "#264551",
    "vector" "#3F6861",
    "keyword" "#869785",
    "rabbit-code" "#C3DAFD",
    "datetime" "#60757E",
    "integer" "#32515C",
    "unknown" "#728289",
    "date" "#4F6973",
    "nil" "#264550"},
   :editor-grid-selected-font-color "#000000",
   :monospaced-font "JetBrains Mono",
   :editor-grid-selected-background-color "#cfa79f",
   :nivo-defaults
   {:font-family "Instagram Sans",
    :labels
    {:text
     {:fill "#ffffff",
      :font-size "16px",
      :font-family "Instagram Sans",
      :font-weight 700}},
    :tooltip
    {:container
     {:background "#000",
      :color "#ffffff",
      :text {:fill "#eeeeee"},
      :fontSize "18px",
      :borderRadius "4px",
      :boxShadow "0 1px 2px rgba(0, 0, 0, 0.55)",
      :padding "5px 9px"},
     :basic {:whiteSpace "pre", :display "flex", :alignItems "center"},
     :tableCell {:padding "3px 5px"}},
    :axis
    {:legend
     {:text
      {:fill "#ffffff",
       :font-size "14px",
       :font-family "Instagram Sans",
       :font-weight 700}},
     :ticks
     {:line {:stroke "#ffffff60"},
      :text {:fill "#ffffff60", :font-weight 700}}},
    :grid
    {:line
     {:stroke "#ffffff", :strokeWidth 0, :strokeDasharray "0 0"}}},
   :editor-outer-rim-color "#5d8a9e",
   :grid-selected-font-color "#000000",
   :block-title-selected-font-color "#ffffff",
   :grid-selected-background-color "#a3d3ff",
   :grid-font-color "#ffffff",
   :canvas-background-css
   {:background-image "url(images/witchy475-8k-4k.png)",
    :transition "all 0.8s ease-in-out",
    :background-size "cover",
    :background-color "#424f57"},
   :editor-font-color "#ffffff",
   :base-font "Instagram Sans",
   :block-tab-selected-font-color "#c9d1ff",
   :editor-background-color "#000006",
   :editor-grid-font-color "#ffffff"},
  :param {:selected-view [nil nil], :selected-view-data nil},
  :connections-sys
  {:database_name "*csv-import-db*", :connection_id "imported"},
  :tables-sys
  {:db_schema "none",
   :db_catalog nil,
   :connection_id "imported",
   :schema_cat nil,
   :table_name "Electric_Vehicle_Population_Data",
   :fields 18},
  :fields-sys
  {:field_name "Electric_Vehicle_Type",
   :field_type "VARCHAR",
   :data_type "string"},
  nil {nil nil},
  :flow {:quick-maths-v2>*running? false}},
 :selected-flow "live-scratch-flow"}