{:theme-name                            "celestial-aurora"
 :generated-from                        "assets/openai-images/b64-image3-15885-10529.png"
 :codemirror-theme                      "rvbbit-dynamic"
 :editor-param-background-color         "#0d001a"
 :pop-2                                 "#efefac"
 :base-block-style                      {:box-shadow      "0 0 8px #e5a9ff, 0 0 16px #ffabd8"
                                         :filter          "contrast(120%) brightness(120%) saturate(130%)"
                                         :backdrop-filter "blur(8px) hue-rotate(30deg)"}
 :vega-defaults                         {:view   {:stroke "transparent"}
                                         :axis   {:domainColor "#c4f5ff"
                                                  :grid        true
                                                  :font        "Alegreya Sans"
                                                  :labelColor  "#f2e8ff"
                                                  :titleFont   "Alegreya Sans"
                                                  :titleColor  "#ffc4f1"
                                                  :labelFont   "Alegreya Sans"
                                                  :domain      false
                                                  :gridColor   "#ffffff15"
                                                  :tickColor   "#ffc4f1"}
                                         :legend {:labelFont  "Alegreya Sans"
                                                  :legendFont "Alegreya Sans"
                                                  :labelColor "#efefac"
                                                  :titleColor "#ffc4f1"
                                                  :stroke     "#ffffff22"
                                                  :titleFont  "Alegreya Sans"}
                                         :header {:labelFont  "Alegreya Sans"
                                                  :titleFont  "Alegreya Sans"
                                                  :titleColor "#ffc4f1"
                                                  :labelColor "#f2e8ff"}
                                         :mark   {:font "Alegreya Sans"}
                                         :title  {:font         "Alegreya Sans"
                                                  :subtitleFont "Alegreya Sans"
                                                  :labelFont    "Alegreya Sans"
                                                  :titleFont    "Alegreya Sans"
                                                  :titleColor   "#ffc4f1"}}
 :grid-selected-column-css              {:background-color "#ffabd81a" :filter "brightness(140%)"}
 :running-gif                           "images/running.gif"
 :generated-tree                        {:second-darkest         "#1e1a3b"
                                         :highest-saturation     "#9e126c"
                                         :most-contrasting       "#d896ee"
                                         :darkest                "#130f25"
                                         :contrast-with-dominant "#d896ee"
                                         :colors                 ["#416bc6" "#b844a8" "#130f25" "#245c9c" "#5e398c"
                                                                  "#2b2d61" "#9e126c" "#5c1c6c" "#d896ee" "#0c344c"
                                                                  "#1e1a3b"]
                                         :most-frequent          "#2b2d61"
                                         :data-colors            {"float"       "#74e1a2"
                                                                  "boolean"     "#3f46c0"
                                                                  "map"         "#44b86b"
                                                                  "list"        "#961a57"
                                                                  "string"      "#fefaf9"
                                                                  "any"         "#303e85"
                                                                  "vector"      "#1f5eda"
                                                                  "keyword"     "#b5ee96"
                                                                  "rabbit-code" "#df6505"
                                                                  "datetime"    "#6b0716"
                                                                  "integer"     "#71b4d6"
                                                                  "unknown"     "#501f1d"
                                                                  "date"        "#153210"}
                                         :dominant               "#1e1a3b"
                                         :most-contrasting-dark  "#9e126c"
                                         :second-brightest       "#b844a8"
                                         :brightest              "#d896ee"
                                         :most-contrasting-light "#d896ee"}
 :base-block-color-selected             "#120b20"
 :block-title-font-color                "#f2f2f2"
 :universal-pop-color                   "#9973e0"
 :base-block-color                      "#0f0816"
 :editor-rim-color                      "#9e2465"
 :base-block-filter-selected            "drop-shadow(0 0 0.5rem #ffabd8) drop-shadow(0 0 1.5rem #e5a9ff)"
 :vega-default-color-scheme             {:scheme "category20b"}
 :data-colors                           {"float"       "#e5a9ff"
                                         "boolean"     "#efefac"
                                         "map"         "#d0fcff"
                                         "list"        "#a9e2ff"
                                         "string"      "#ffc4f1"
                                         "any"         "#f2e8ff"
                                         "vector"      "#bbe6ff"
                                         "keyword"     "#ffd8e3"
                                         "rabbit-code" "#c9fce3"
                                         "datetime"    "#ffe9bb"
                                         "integer"     "#ffc9eb"
                                         "unknown"     "#1c061f"
                                         "date"        "#f6ffd0"}
 :editor-grid-selected-font-color       "#0f0816"
 :monospaced-font                       "JetBrains Mono"
 :editor-grid-selected-background-color "#ffabd8"
 :_vega-default-color-scheme            {:scheme "custom"}
 :nivo-defaults                         {:font-family "Alegreya Sans"
                                         :labels      {:text {:fill        "#f2e8ff"
                                                              :font-size   "15px"
                                                              :font-family "Alegreya Sans"
                                                              :font-weight 600}}
                                         :tooltip     {:container {:background   "#0f0816"
                                                                   :color        "#f2e8ff"
                                                                   :text         {:fill "#ffffff"}
                                                                   :fontSize     "14px"
                                                                   :borderRadius "6px"
                                                                   :boxShadow    "0 3px 6px rgba(229, 169, 255, 0.3)"
                                                                   :padding      "6px 10px"}
                                                       :basic     {:whiteSpace "pre"
                                                                   :display    "flex"
                                                                   :alignItems "center"}
                                                       :tableCell {:padding "3px 5px"}}
                                         :axis        {:legend {:text {:fill        "#f2e8ff"
                                                                       :font-size   "13px"
                                                                       :font-family "Alegreya Sans"
                                                                       :font-weight 600}}
                                                       :ticks  {:line {:stroke "#ffffff30"}
                                                                :text {:fill "#f2e8ffcc" :font-weight 600}}}
                                         :grid        {:line {:stroke "#ffffff" :strokeWidth 0 :strokeDasharray "0 0"}}}
 :editor-outer-rim-color                "#ffabd8"
 :grid-selected-font-color              "#0f0816"
 :block-title-selected-font-color       "#ffffff"
 :grid-selected-background-color        "#ffabd8"
 :grid-font-color                       "#f2f2f2"
 :canvas-background-css                 {:background-image
                                           "linear-gradient(#10071d, #290f40), url(images/hemo1.webp-q8.jpg)"
                                         :background-size "cover"
                                         :transition "all 0.7s ease-in-out"
                                         :background-blend-mode "screen"
                                         :background-color "#10071d"}
 :editor-font-color                     "#f2f2f2"
 :line-style                            "curved-path-h"
 :base-font                             "Alice"
 :block-tab-selected-font-color         "#e5a9ff"
 :editor-background-color               "#0d001a"
 :editor-grid-font-color                "#f2f2f2"
 :pop-1                                 "#ffe9bb"}