{:theme-name "fast-and-ugly"
 :codemirror-theme "rvbbit-dynamic"
 :editor-param-background-color "#0b1122"
 :pop-2 :solver/colors-of-the-moment>colors>2
 :base-block-style {}
 :vega-defaults {:view {:stroke "transparent"}
                 :axis {:domainColor "#ffffff22"
                        :grid        true
                        :font        "Lato"
                        :labelColor  "#ffffff88"
                        :titleFont   "Lato"
                        :titleColor  "#ffffff99"
                        :labelFont   "Lato"
                        :domain      false
                        :gridColor   "#ffffff22"
                        :tickColor   "#ffffff22"
                        :axisFont    "Lato"}
                 :legend {:labelFont  "Lato"
                          :legendFont "Lato"
                          :labelColor "#ffffff99"
                          :titleColor "#ffffff99"
                          :stroke     "#ffffff99"
                          :titleFont  "Lato"}
                 :header {:labelFont "Lato" :titleFont "Lato" :titleColor "#ffffff99"}
                 :mark {:font "Lato"}
                 :title {:font "Lato" :subtitleFont "Lato" :labelFont "Lato" :titleFont "Lato" :titleColor "#ffffff99"}}
 :grid-selected-column-css {:background-color "#00000088" :filter "brightness(200%)"}
 :base-block-color-selected "#0b031b"
 :block-title-font-color "#ffffff"
 :universal-pop-color "#9973e0"
 :base-block-color "#0b1122"
 :pop-3 "#ffcccc"
 :editor-rim-color "#0b1122"
 :base-block-filter-selected "drop-shadow(0.35rem 0.35rem 0.4rem #8dceff) drop-shadow(-0.35rem -0.35rem 0.4rem #8dceff)"
 :vega-default-color-scheme {:scheme "accent"}
 :data-colors {"float"       "#2c728e"
               "boolean"     "#f386bf"
               "map"         "#00FFFF"
               "list"        "#c32148"
               "string"      "#5dc963"
               "any"         "#ffffff"
               "vector"      "#008080"
               "keyword"     "#add8e6"
               "rabbit-code" "#FC0FC0"
               "datetime"    "#472d7b"
               "integer"     "#d6e367"
               "unknown"     "#c7005d"
               "date"        "#3b528b"
               "rabbitsql"   "#FC0FC0"
               "nil"         "#ff2147"}
 :editor-grid-selected-font-color "#ffffff"
 :monospaced-font "JetBrains Mono"
 :editor-grid-selected-background-color "#FFA50087"
 :nivo-defaults
   {:font-family :theme/base-font
    :labels      {:text {:fill "#ffffff" :font-size "16px" :font-family :theme/base-font :font-weight 700}}
    :tooltip     {:container {:background   "#000"
                              :color        "#ffffff"
                              :text         {:fill "#eeeeee"}
                              :fontSize     "18px"
                              :borderRadius "4px"
                              :boxShadow    "0 1px 2px rgba(0, 0, 0, 0.55)"
                              :padding      "5px 9px"}
                  :basic     {:whiteSpace "pre" :display "flex" :alignItems "center"}
                  :tableCell {:padding "3px 5px"}}
    :axis        {:legend {:text {:fill "#ffffff" :font-size "14px" :font-family :theme/base-font :font-weight 700}}
                  :ticks  {:line {:stroke "#ffffff60"} :text {:fill "#ffffff60" :font-weight 700}}}
    :grid        {:line {:stroke "#ffffff" :strokeWidth 0 :strokeDasharray "0 0"}}}
 :editor-outer-rim-color "#a4cc00"
 :grid-selected-font-color "#ffffff"
 :block-title-selected-font-color "#ffffff"
 :grid-selected-background-color "#8879bc"
 :grid-font-color "#ffffff"
 :canvas-background-css {:background-image  "url(images/gray-brick.png)"
                         :transition        "all 0.6s ease-in-out"
                         :background-color  "#47555e"
                         :background-repeat "repeat"}
 :editor-font-color "#ffffff"
 :base-font "Inter"
 :block-tab-selected-font-color "#FFA500"
 :editor-background-color "#000000"
 :editor-grid-font-color "#ffffff"
 :pop-1 :solver/colors-of-the-moment>colors>1}