{:generated-from "assets/openai-images/upscaled/b64-image-87580-23048-8k.webp"
 :codemirror-theme "rvbbit-dynamic"
 :editor-param-background-color "#000000"
 :pop-2 "#1c0c13"
 :base-block-style {:text-shadow     "4px 4px 4px #00000088"
                    :border-radius   "12px 12px 12px 12px"
                    :filter          "brightness(120%)"
                    :backdrop-filter "brightness(35%) blur(4px)"}
 :vega-defaults {:mark {:font "Lato" :stroke "#445982" :color "#44598265"}
                 :legend {:labelFont  "Lato"
                          :legendFont "Lato"
                          :labelColor "#ffffff99"
                          :titleColor "#ffffff99"
                          :stroke     "#ffffff99"
                          :titleFont  "Lato"}
                 :header {:labelFont "Lato" :titleFont "Lato" :titleColor "#ffffff99"}
                 :title {:font "Lato" :subtitleFont "Lato" :labelFont "Lato" :titleFont "Lato" :titleColor "#ffffff99"}
                 :point {:font "Lato" :stroke "#445982" :color "#44598265"}
                 :area {:font "Lato" :stroke "#445982" :color "#44598265"}
                 :axis {:domainColor "#ffffff22"
                        :grid        true
                        :font        "Lato"
                        :labelColor  "#ffffff88"
                        :titleFont   "Lato"
                        :titleColor  "#ffffff99"
                        :labelFont   "Lato"
                        :domain      false
                        :gridColor   "#ffffff22"
                        :tickColor   "#ffffff22"
                        :axisFont    "Lato"}
                 :tooltip {:fill "white" :stroke "steelblue" :strokeWidth 1 :color "black"}
                 :view {:stroke "transparent"}}
 :grid-selected-column-css {:background-color "#00000088" :filter "brightness(200%)"}
 :generated-tree {:second-darkest         "#251521"
                  :highest-saturation     "#206cb5"
                  :most-contrasting       "#3bb9cb"
                  :darkest                "#1c0c13"
                  :contrast-with-dominant "#3bb9cb"
                  :colors                 ["#3bb9cb" "#445982" "#1c0c13" "#ce5493" "#2c8c94" "#206cb5" "#94345c"
                                           "#452e4e" "#5c345c" "#2c5c64" "#251521"]
                  :most-frequent          "#452e4e"
                  :data-colors            {"float"       "#54cea0"
                                           "boolean"     "#5ccb3b"
                                           "map"         "#ca3973"
                                           "list"        "#89314c"
                                           "string"      "#c790e8"
                                           "any"         "#7c3e6b"
                                           "vector"      "#5bb051"
                                           "keyword"     "#6fe58e"
                                           "rabbit-code" "#2b53cd"
                                           "datetime"    "#553769"
                                           "integer"     "#ec28e4"
                                           "unknown"     "#32191d"
                                           "date"        "#11260d"}
                  :dominant               "#251521"
                  :most-contrasting-dark  "#2c8c94"
                  :second-brightest       "#ce5493"
                  :brightest              "#3bb9cb"
                  :most-contrasting-light "#3bb9cb"}
 :base-block-color-selected "#00030a"
 :block-title-font-color "#ffffff"
 :base-block-color "#06020499"
 :pop-3 "#3bb9cb"
 :editor-rim-color "#ce549399"
 :base-block-filter-selected "drop-shadow(0.35rem 0.35rem 0.4rem #8dceff) drop-shadow(-0.35rem -0.35rem 0.4rem #8dceff)"
 :_vega-default-color-scheme {:scheme "pastel2"}
 :data-colors {"float"       "#54cea0"
               "boolean"     "#5ccb3b"
               "map"         "#ca3973"
               "list"        "#89314c"
               "string"      "#c790e8"
               "any"         "#7c3e6b"
               "vector"      "#5bb051"
               "keyword"     "#6fe58e"
               "rabbit-code" "#2b53cd"
               "datetime"    "#553769"
               "integer"     "#ec28e4"
               "unknown"     "#32191d"
               "date"        "#11260d"}
 :editor-grid-selected-font-color "#000000"
 :monospaced-font "JetBrains Mono"
 :editor-grid-selected-background-color "#dc9cb0"
 :nivo-defaults
   {:font-family "Instagram Sans"
    :labels      {:text {:fill "#ffffff" :font-size "16px" :font-family "Instagram Sans" :font-weight 700}}
    :tooltip     {:container {:background   "#000"
                              :color        "#ffffff"
                              :text         {:fill "#eeeeee"}
                              :fontSize     "18px"
                              :borderRadius "4px"
                              :boxShadow    "0 1px 2px rgba(0, 0, 0, 0.55)"
                              :padding      "5px 9px"}
                  :basic     {:whiteSpace "pre" :display "flex" :alignItems "center"}
                  :tableCell {:padding "3px 5px"}}
    :axis        {:legend {:text {:fill "#ffffff" :font-size "14px" :font-family "Instagram Sans" :font-weight 700}}
                  :ticks  {:line {:stroke "#ffffff60"} :text {:fill "#ffffff60" :font-weight 700}}}
    :grid        {:line {:stroke "#ffffff" :strokeWidth 0 :strokeDasharray "0 0"}}}
 :editor-outer-rim-color "#ce5493"
 :grid-selected-font-color "#000000"
 :block-title-selected-font-color "#ffffff"
 :grid-selected-background-color "#a3d3ff"
 :grid-font-color "#ffffff"
 :canvas-background-css {:background-image      "linear-gradient(#25152170,#25152112),url(images/gray-brick.png)"
                         :transition            "all 0.6s ease-in-out"
                         :background-blend-mode "normal"
                         :background-color      "#424f57"}
 :editor-font-color "#ffffff"
 :base-font "Oxygen Mono"
 :block-tab-selected-font-color "#c9d1ff"
 :editor-background-color "#000006"
 :editor-grid-font-color "#ffffff"
 :pop-1 "#445982"}


