{:generated-from "assets/openai-images/b64-image3-64424-83258.png"
 :codemirror-theme "rvbbit-dynamic"
 :editor-param-background-color "#000000"
 :pop-2 "#461e1f"
 :base-block-style {:text-shadow     "4px 4px 4px #00000088"
                    :border-radius   "12px 12px 12px 12px"
                    :filter          "brightness(120%)"
                    :backdrop-filter "brightness(35%) blur(4px)"}
 :vega-defaults {:mark {:font "Lato" :stroke "#ba6671" :color "#ba667165"}
                 :legend {:labelFont  "Lato"
                          :legendFont "Lato"
                          :labelColor "#ffffff99"
                          :titleColor "#ffffff99"
                          :stroke     "#ffffff99"
                          :titleFont  "Lato"}
                 :header {:labelFont "Lato" :titleFont "Lato" :titleColor "#ffffff99"}
                 :title {:font "Lato" :subtitleFont "Lato" :labelFont "Lato" :titleFont "Lato" :titleColor "#ffffff99"}
                 :point {:font "Lato" :stroke "#ba6671" :color "#ba667165"}
                 :area {:font "Lato" :stroke "#ba6671" :color "#ba667165"}
                 :axis {:domainColor "#ffffff22"
                        :grid        true
                        :font        "Lato"
                        :labelColor  "#ffffff88"
                        :titleFont   "Lato"
                        :titleColor  "#ffffff99"
                        :labelFont   "Lato"
                        :domain      false
                        :gridColor   "#ffffff22"
                        :tickColor   "#ffffff22"
                        :axisFont    "Lato"}
                 :tooltip {:fill "white" :stroke "steelblue" :strokeWidth 1 :color "black"}
                 :view {:stroke "transparent"}}
 :grid-selected-column-css {:background-color "#00000088" :filter "brightness(200%)"}
 :generated-tree {:second-darkest         "#461e1f"
                  :highest-saturation     "#4574c2"
                  :most-contrasting       "#d7a8e2"
                  :darkest                "#1a1a2c"
                  :contrast-with-dominant "#d7a8e2"
                  :colors                 ["#d7a8e2" "#ba6671" "#461e1f" "#5b4c87" "#4574c2" "#64545c" "#8f4239"
                                           "#1a1a2c" "#6c846c" "#5c2454" "#4a252e"]
                  :most-frequent          "#5c2454"
                  :data-colors            {"float"       "#9cd9d5"
                                           "boolean"     "#a090a7"
                                           "map"         "#6bba66"
                                           "list"        "#7e3227"
                                           "string"      "#ffffff"
                                           "any"         "#6b7b84"
                                           "vector"      "#61b0af"
                                           "keyword"     "#dce2a8"
                                           "rabbit-code" "#417dc2"
                                           "datetime"    "#653e2b"
                                           "integer"     "#9477dd"
                                           "unknown"     "#21603d"
                                           "date"        "#271f3b"}
                  :dominant               "#4a252e"
                  :most-contrasting-dark  "#4574c2"
                  :second-brightest       "#ba6671"
                  :brightest              "#d7a8e2"
                  :most-contrasting-light "#d7a8e2"}
 :base-block-color-selected "#00030a"
 :block-title-font-color "#ffffff"
 :base-block-color "#05050999"
 :pop-3 "#d7a8e2"
 :editor-rim-color "#ba667199"
 :base-block-filter-selected "drop-shadow(0.35rem 0.35rem 0.4rem #8dceff) drop-shadow(-0.35rem -0.35rem 0.4rem #8dceff)"
 :_vega-default-color-scheme {:scheme "pastel2"}
 :data-colors {"float"       "#9cd9d5"
               "boolean"     "#a090a7"
               "map"         "#6bba66"
               "list"        "#7e3227"
               "string"      "#ffffff"
               "any"         "#6b7b84"
               "vector"      "#61b0af"
               "keyword"     "#dce2a8"
               "rabbit-code" "#417dc2"
               "datetime"    "#653e2b"
               "integer"     "#9477dd"
               "unknown"     "#21603d"
               "date"        "#271f3b"}
 :editor-grid-selected-font-color "#000000"
 :monospaced-font "JetBrains Mono"
 :editor-grid-selected-background-color "#dc9cb0"
 :nivo-defaults
   {:font-family "Instagram Sans"
    :labels      {:text {:fill "#ffffff" :font-size "16px" :font-family "Instagram Sans" :font-weight 700}}
    :tooltip     {:container {:background   "#000"
                              :color        "#ffffff"
                              :text         {:fill "#eeeeee"}
                              :fontSize     "18px"
                              :borderRadius "4px"
                              :boxShadow    "0 1px 2px rgba(0, 0, 0, 0.55)"
                              :padding      "5px 9px"}
                  :basic     {:whiteSpace "pre" :display "flex" :alignItems "center"}
                  :tableCell {:padding "3px 5px"}}
    :axis        {:legend {:text {:fill "#ffffff" :font-size "14px" :font-family "Instagram Sans" :font-weight 700}}
                  :ticks  {:line {:stroke "#ffffff60"} :text {:fill "#ffffff60" :font-weight 700}}}
    :grid        {:line {:stroke "#ffffff" :strokeWidth 0 :strokeDasharray "0 0"}}}
 :editor-outer-rim-color "#ba6671"
 :grid-selected-font-color "#000000"
 :block-title-selected-font-color "#ffffff"
 :grid-selected-background-color "#a3d3ff"
 :grid-font-color "#ffffff"
 :canvas-background-css {:background-image      "linear-gradient(#4a252e70,#4a252e12),url(images/gray-brick.png)"
                         :transition            "all 0.6s ease-in-out"
                         :background-blend-mode "normal"
                         :background-color      "#424f57"}
 :editor-font-color "#ffffff"
 :base-font "Space Grotesk"
 :block-tab-selected-font-color "#c9d1ff"
 :editor-background-color "#000006"
 :editor-grid-font-color "#ffffff"
 :pop-1 "#ba6671"}


