{:generated-from "assets/openai-images/upscaled/b64-image3-29444-63364-8k.webp"
 :codemirror-theme "rvbbit-dynamic"
 :editor-param-background-color "#000000"
 :pop-2 "#c5a6d6"
 :base-block-style {:text-shadow     "4px 4px 4px #00000088"
                    :border-radius   "12px 12px 12px 12px"
                    :filter          "brightness(120%)"
                    :backdrop-filter "brightness(35%) blur(4px)"}
 :vega-defaults {:mark {:font "Lato" :stroke "#111d23" :color "#111d2365"}
                 :legend {:labelFont  "Lato"
                          :legendFont "Lato"
                          :labelColor "#ffffff99"
                          :titleColor "#ffffff99"
                          :stroke     "#ffffff99"
                          :titleFont  "Lato"}
                 :header {:labelFont "Lato" :titleFont "Lato" :titleColor "#ffffff99"}
                 :title {:font "Lato" :subtitleFont "Lato" :labelFont "Lato" :titleFont "Lato" :titleColor "#ffffff99"}
                 :point {:font "Lato" :stroke "#111d23" :color "#111d2365"}
                 :area {:font "Lato" :stroke "#111d23" :color "#111d2365"}
                 :axis {:domainColor "#ffffff22"
                        :grid        true
                        :font        "Lato"
                        :labelColor  "#ffffff88"
                        :titleFont   "Lato"
                        :titleColor  "#ffffff99"
                        :labelFont   "Lato"
                        :domain      false
                        :gridColor   "#ffffff22"
                        :tickColor   "#ffffff22"
                        :axisFont    "Lato"}
                 :tooltip {:fill "white" :stroke "steelblue" :strokeWidth 1 :color "black"}
                 :view {:stroke "transparent"}}
 :grid-selected-column-css {:background-color "#00000088" :filter "brightness(200%)"}
 :generated-tree {:second-darkest         "#19232d"
                  :highest-saturation     "#c474b4"
                  :most-contrasting       "#448c74"
                  :darkest                "#111d23"
                  :contrast-with-dominant "#c5a6d6"
                  :colors                 ["#677ea9" "#111d23" "#c5a6d6" "#946c9c" "#6b476f" "#3c517b" "#c474b4"
                                           "#4c2e48" "#2c4c54" "#448c74" "#19232d"]
                  :most-frequent          "#111d23"
                  :data-colors            {"float"       "#d6cfa6"
                                           "boolean"     "#98bfbb"
                                           "map"         "#91c474"
                                           "list"        "#723372"
                                           "string"      "#f3faf6"
                                           "any"         "#578495"
                                           "vector"      "#b8556e"
                                           "keyword"     "#e4b1dd"
                                           "rabbit-code" "#454fa8"
                                           "datetime"    "#543766"
                                           "integer"     "#b3ca96"
                                           "unknown"     "#3d1d24"
                                           "date"        "#292f13"}
                  :dominant               "#19232d"
                  :most-contrasting-dark  "#448c74"
                  :second-brightest       "#c474b4"
                  :brightest              "#c5a6d6"
                  :most-contrasting-light "#c474b4"}
 :base-block-color-selected "#00030a"
 :block-title-font-color "#ffffff"
 :base-block-color "#03060799"
 :pop-3 "#c5a6d6"
 :editor-rim-color "#c474b499"
 :base-block-filter-selected "drop-shadow(0.35rem 0.35rem 0.4rem #8dceff) drop-shadow(-0.35rem -0.35rem 0.4rem #8dceff)"
 :_vega-default-color-scheme {:scheme "pastel2"}
 :data-colors {"float"       "#d6cfa6"
               "boolean"     "#98bfbb"
               "map"         "#91c474"
               "list"        "#723372"
               "string"      "#f3faf6"
               "any"         "#578495"
               "vector"      "#b8556e"
               "keyword"     "#e4b1dd"
               "rabbit-code" "#454fa8"
               "datetime"    "#543766"
               "integer"     "#b3ca96"
               "unknown"     "#3d1d24"
               "date"        "#292f13"}
 :editor-grid-selected-font-color "#000000"
 :monospaced-font "JetBrains Mono"
 :editor-grid-selected-background-color "#dc9cb0"
 :nivo-defaults
   {:font-family "Instagram Sans"
    :labels      {:text {:fill "#ffffff" :font-size "16px" :font-family "Instagram Sans" :font-weight 700}}
    :tooltip     {:container {:background   "#000"
                              :color        "#ffffff"
                              :text         {:fill "#eeeeee"}
                              :fontSize     "18px"
                              :borderRadius "4px"
                              :boxShadow    "0 1px 2px rgba(0, 0, 0, 0.55)"
                              :padding      "5px 9px"}
                  :basic     {:whiteSpace "pre" :display "flex" :alignItems "center"}
                  :tableCell {:padding "3px 5px"}}
    :axis        {:legend {:text {:fill "#ffffff" :font-size "14px" :font-family "Instagram Sans" :font-weight 700}}
                  :ticks  {:line {:stroke "#ffffff60"} :text {:fill "#ffffff60" :font-weight 700}}}
    :grid        {:line {:stroke "#ffffff" :strokeWidth 0 :strokeDasharray "0 0"}}}
 :editor-outer-rim-color "#c474b4"
 :grid-selected-font-color "#000000"
 :block-title-selected-font-color "#ffffff"
 :grid-selected-background-color "#a3d3ff"
 :grid-font-color "#ffffff"
 :canvas-background-css {:background-image      "linear-gradient(#19232d70,#19232d12),url(images/gray-brick.png)"
                         :transition            "all 0.6s ease-in-out"
                         :background-blend-mode "normal"
                         :background-color      "#424f57"}
 :editor-font-color "#ffffff"
 :base-font "Oxygen Mono"
 :block-tab-selected-font-color "#c9d1ff"
 :editor-background-color "#000006"
 :editor-grid-font-color "#ffffff"
 :pop-1 "#111d23"}


