{:generated-from "assets/openai-images/upscaled/b64-image3-79623-39289-4k.webp"
 :codemirror-theme "rvbbit-dynamic"
 :editor-param-background-color "#000000"
 :pop-2 "#1a1b3b"
 :base-block-style {:text-shadow     "4px 4px 4px #00000088"
                    :border-radius   "12px 12px 12px 12px"
                    :filter          "brightness(120%)"
                    :backdrop-filter "brightness(35%) blur(4px)"}
 :vega-defaults {:mark {:font "Lato" :stroke "#c7aec5" :color "#c7aec565"}
                 :legend {:labelFont  "Lato"
                          :legendFont "Lato"
                          :labelColor "#ffffff99"
                          :titleColor "#ffffff99"
                          :stroke     "#ffffff99"
                          :titleFont  "Lato"}
                 :header {:labelFont "Lato" :titleFont "Lato" :titleColor "#ffffff99"}
                 :title {:font "Lato" :subtitleFont "Lato" :labelFont "Lato" :titleFont "Lato" :titleColor "#ffffff99"}
                 :point {:font "Lato" :stroke "#c7aec5" :color "#c7aec565"}
                 :area {:font "Lato" :stroke "#c7aec5" :color "#c7aec565"}
                 :axis {:domainColor "#ffffff22"
                        :grid        true
                        :font        "Lato"
                        :labelColor  "#ffffff88"
                        :titleFont   "Lato"
                        :titleColor  "#ffffff99"
                        :labelFont   "Lato"
                        :domain      false
                        :gridColor   "#ffffff22"
                        :tickColor   "#ffffff22"
                        :axisFont    "Lato"}
                 :tooltip {:fill "white" :stroke "steelblue" :strokeWidth 1 :color "black"}
                 :view {:stroke "transparent"}}
 :grid-selected-column-css {:background-color "#00000088" :filter "brightness(200%)"}
 :generated-tree {:second-darkest         "#2a2e50"
                  :highest-saturation     "#dc8474"
                  :most-contrasting       "#dc8474"
                  :darkest                "#1a1b3b"
                  :contrast-with-dominant "#dc8474"
                  :colors                 ["#75a6be" "#c7aec5" "#1a1b3b" "#bd3b81" "#426a8c" "#3b4f74" "#2c8ca4"
                                           "#5a204f" "#64348c" "#dc8474" "#2a2e50"]
                  :most-frequent          "#426a8c"
                  :data-colors            {"float"       "#c9dfaf"
                                           "boolean"     "#dc7a74"
                                           "map"         "#c266dc"
                                           "list"        "#45559e"
                                           "string"      "#f2f5ef"
                                           "any"         "#c14138"
                                           "vector"      "#da34d9"
                                           "keyword"     "#f4c0f1"
                                           "rabbit-code" "#5185ba"
                                           "datetime"    "#7c226c"
                                           "integer"     "#c7baae"
                                           "unknown"     "#6c3631"
                                           "date"        "#1d501e"}
                  :dominant               "#2a2e50"
                  :most-contrasting-dark  "#bd3b81"
                  :second-brightest       "#dc8474"
                  :brightest              "#c7aec5"
                  :most-contrasting-light "#dc8474"}
 :base-block-color-selected "#00030a"
 :block-title-font-color "#ffffff"
 :base-block-color "#05050c99"
 :pop-3 "#c7aec5"
 :editor-rim-color "#dc847499"
 :base-block-filter-selected "drop-shadow(0.35rem 0.35rem 0.4rem #8dceff) drop-shadow(-0.35rem -0.35rem 0.4rem #8dceff)"
 :_vega-default-color-scheme {:scheme "pastel2"}
 :data-colors {"float"       "#c9dfaf"
               "boolean"     "#dc7a74"
               "map"         "#c266dc"
               "list"        "#45559e"
               "string"      "#f2f5ef"
               "any"         "#c14138"
               "vector"      "#da34d9"
               "keyword"     "#f4c0f1"
               "rabbit-code" "#5185ba"
               "datetime"    "#7c226c"
               "integer"     "#c7baae"
               "unknown"     "#6c3631"
               "date"        "#1d501e"}
 :editor-grid-selected-font-color "#000000"
 :monospaced-font "JetBrains Mono"
 :editor-grid-selected-background-color "#dc9cb0"
 :nivo-defaults
   {:font-family "Instagram Sans"
    :labels      {:text {:fill "#ffffff" :font-size "16px" :font-family "Instagram Sans" :font-weight 700}}
    :tooltip     {:container {:background   "#000"
                              :color        "#ffffff"
                              :text         {:fill "#eeeeee"}
                              :fontSize     "18px"
                              :borderRadius "4px"
                              :boxShadow    "0 1px 2px rgba(0, 0, 0, 0.55)"
                              :padding      "5px 9px"}
                  :basic     {:whiteSpace "pre" :display "flex" :alignItems "center"}
                  :tableCell {:padding "3px 5px"}}
    :axis        {:legend {:text {:fill "#ffffff" :font-size "14px" :font-family "Instagram Sans" :font-weight 700}}
                  :ticks  {:line {:stroke "#ffffff60"} :text {:fill "#ffffff60" :font-weight 700}}}
    :grid        {:line {:stroke "#ffffff" :strokeWidth 0 :strokeDasharray "0 0"}}}
 :editor-outer-rim-color "#dc8474"
 :grid-selected-font-color "#000000"
 :block-title-selected-font-color "#ffffff"
 :grid-selected-background-color "#a3d3ff"
 :grid-font-color "#ffffff"
 :canvas-background-css {:background-image      "linear-gradient(#2a2e5070,#2a2e5012),url(images/gray-brick.png)"
                         :transition            "all 0.6s ease-in-out"
                         :background-blend-mode "normal"
                         :background-color      "#424f57"}
 :editor-font-color "#ffffff"
 :base-font "Rubik"
 :block-tab-selected-font-color "#c9d1ff"
 :editor-background-color "#000006"
 :editor-grid-font-color "#ffffff"
 :pop-1 "#c7aec5"}


