{:generated-from "assets/openai-images/upscaled/b64-image3-38197-58658-8k.webp"
 :codemirror-theme "rvbbit-dynamic"
 :editor-param-background-color "#000000"
 :pop-2 "#6494ac"
 :base-block-style {:text-shadow     "4px 4px 4px #00000088"
                    :border-radius   "12px 12px 12px 12px"
                    :filter          "brightness(120%)"
                    :backdrop-filter "brightness(35%) blur(4px)"}
 :vega-defaults {:mark {:font "Lato" :stroke "#434e76" :color "#434e7665"}
                 :legend {:labelFont  "Lato"
                          :legendFont "Lato"
                          :labelColor "#ffffff99"
                          :titleColor "#ffffff99"
                          :stroke     "#ffffff99"
                          :titleFont  "Lato"}
                 :header {:labelFont "Lato" :titleFont "Lato" :titleColor "#ffffff99"}
                 :title {:font "Lato" :subtitleFont "Lato" :labelFont "Lato" :titleFont "Lato" :titleColor "#ffffff99"}
                 :point {:font "Lato" :stroke "#434e76" :color "#434e7665"}
                 :area {:font "Lato" :stroke "#434e76" :color "#434e7665"}
                 :axis {:domainColor "#ffffff22"
                        :grid        true
                        :font        "Lato"
                        :labelColor  "#ffffff88"
                        :titleFont   "Lato"
                        :titleColor  "#ffffff99"
                        :labelFont   "Lato"
                        :domain      false
                        :gridColor   "#ffffff22"
                        :tickColor   "#ffffff22"
                        :axisFont    "Lato"}
                 :tooltip {:fill "white" :stroke "steelblue" :strokeWidth 1 :color "black"}
                 :view {:stroke "transparent"}}
 :grid-selected-column-css {:background-color "#00000088" :filter "brightness(200%)"}
 :generated-tree {:second-darkest         "#2e344b"
                  :highest-saturation     "#c34071"
                  :most-contrasting       "#c34071"
                  :darkest                "#2a2028"
                  :contrast-with-dominant "#c34071"
                  :colors                 ["#d8a4b4" "#434e76" "#6494ac" "#8fb0c1" "#9c649c" "#2a2028" "#863372"
                                           "#c34071" "#4c6c94" "#2e344b" "#393e59"]
                  :most-frequent          "#393e59"
                  :data-colors            {"float"       "#cfd8a4"
                                           "boolean"     "#ded272"
                                           "map"         "#c1af8f"
                                           "list"        "#b8379e"
                                           "string"      "#f5faf3"
                                           "any"         "#63a050"
                                           "vector"      "#8ea1bd"
                                           "keyword"     "#cde7de"
                                           "rabbit-code" "#bb6791"
                                           "datetime"    "#774546"
                                           "integer"     "#94cdad"
                                           "unknown"     "#653851"
                                           "date"        "#283437"}
                  :dominant               "#393e59"
                  :most-contrasting-dark  "#c34071"
                  :second-brightest       "#8fb0c1"
                  :brightest              "#d8a4b4"
                  :most-contrasting-light "#d8a4b4"}
 :base-block-color-selected "#00030a"
 :block-title-font-color "#ffffff"
 :base-block-color "#08060899"
 :pop-3 "#d8a4b4"
 :editor-rim-color "#8fb0c199"
 :base-block-filter-selected "drop-shadow(0.35rem 0.35rem 0.4rem #8dceff) drop-shadow(-0.35rem -0.35rem 0.4rem #8dceff)"
 :_vega-default-color-scheme {:scheme "pastel2"}
 :data-colors {"float"       "#cfd8a4"
               "boolean"     "#ded272"
               "map"         "#c1af8f"
               "list"        "#b8379e"
               "string"      "#f5faf3"
               "any"         "#63a050"
               "vector"      "#8ea1bd"
               "keyword"     "#cde7de"
               "rabbit-code" "#bb6791"
               "datetime"    "#774546"
               "integer"     "#94cdad"
               "unknown"     "#653851"
               "date"        "#283437"}
 :editor-grid-selected-font-color "#000000"
 :monospaced-font "JetBrains Mono"
 :editor-grid-selected-background-color "#dc9cb0"
 :nivo-defaults
   {:font-family "Instagram Sans"
    :labels      {:text {:fill "#ffffff" :font-size "16px" :font-family "Instagram Sans" :font-weight 700}}
    :tooltip     {:container {:background   "#000"
                              :color        "#ffffff"
                              :text         {:fill "#eeeeee"}
                              :fontSize     "18px"
                              :borderRadius "4px"
                              :boxShadow    "0 1px 2px rgba(0, 0, 0, 0.55)"
                              :padding      "5px 9px"}
                  :basic     {:whiteSpace "pre" :display "flex" :alignItems "center"}
                  :tableCell {:padding "3px 5px"}}
    :axis        {:legend {:text {:fill "#ffffff" :font-size "14px" :font-family "Instagram Sans" :font-weight 700}}
                  :ticks  {:line {:stroke "#ffffff60"} :text {:fill "#ffffff60" :font-weight 700}}}
    :grid        {:line {:stroke "#ffffff" :strokeWidth 0 :strokeDasharray "0 0"}}}
 :editor-outer-rim-color "#8fb0c1"
 :grid-selected-font-color "#000000"
 :block-title-selected-font-color "#ffffff"
 :grid-selected-background-color "#a3d3ff"
 :grid-font-color "#ffffff"
 :canvas-background-css {:background-image      "linear-gradient(#393e5970,#393e5912),url(images/gray-brick.png)"
                         :transition            "all 0.6s ease-in-out"
                         :background-blend-mode "normal"
                         :background-color      "#424f57"}
 :editor-font-color "#ffffff"
 :base-font "Space Grotesk"
 :block-tab-selected-font-color "#c9d1ff"
 :editor-background-color "#000006"
 :editor-grid-font-color "#ffffff"
 :pop-1 "#434e76"}


