{:generated-from "assets/openai-images/upscaled/b64-image3-28977-17764-4k.webp"
 :codemirror-theme "rvbbit-dynamic"
 :editor-param-background-color "#000000"
 :pop-2 "#415b73"
 :base-block-style {:text-shadow     "4px 4px 4px #00000088"
                    :border-radius   "12px 12px 12px 12px"
                    :filter          "brightness(120%)"
                    :backdrop-filter "brightness(35%) blur(4px)"}
 :vega-defaults {:mark {:font "Lato" :stroke "#abb7c8" :color "#abb7c865"}
                 :legend {:labelFont  "Lato"
                          :legendFont "Lato"
                          :labelColor "#ffffff99"
                          :titleColor "#ffffff99"
                          :stroke     "#ffffff99"
                          :titleFont  "Lato"}
                 :header {:labelFont "Lato" :titleFont "Lato" :titleColor "#ffffff99"}
                 :title {:font "Lato" :subtitleFont "Lato" :labelFont "Lato" :titleFont "Lato" :titleColor "#ffffff99"}
                 :point {:font "Lato" :stroke "#abb7c8" :color "#abb7c865"}
                 :area {:font "Lato" :stroke "#abb7c8" :color "#abb7c865"}
                 :axis {:domainColor "#ffffff22"
                        :grid        true
                        :font        "Lato"
                        :labelColor  "#ffffff88"
                        :titleFont   "Lato"
                        :titleColor  "#ffffff99"
                        :labelFont   "Lato"
                        :domain      false
                        :gridColor   "#ffffff22"
                        :tickColor   "#ffffff22"
                        :axisFont    "Lato"}
                 :tooltip {:fill "white" :stroke "steelblue" :strokeWidth 1 :color "black"}
                 :view {:stroke "transparent"}}
 :grid-selected-column-css {:background-color "#00000088" :filter "brightness(200%)"}
 :generated-tree {:second-darkest         "#201925"
                  :highest-saturation     "#cc54a4"
                  :most-contrasting       "#cc54a4"
                  :darkest                "#15111a"
                  :contrast-with-dominant "#cc54a4"
                  :colors                 ["#ad686f" "#abb7c8" "#415b73" "#15111a" "#5b3240" "#1f3447" "#54acbc"
                                           "#cc54a4" "#2c2c5c" "#64847c" "#201925"]
                  :most-frequent          "#2c2c5c"
                  :data-colors            {"float"       "#c8b6ab"
                                           "boolean"     "#c887d9"
                                           "map"         "#a8859c"
                                           "list"        "#7d326a"
                                           "string"      "#f1f4ed"
                                           "any"         "#3b617b"
                                           "vector"      "#9ebc54"
                                           "keyword"     "#e7bc8f"
                                           "rabbit-code" "#4e9c5c"
                                           "datetime"    "#233f61"
                                           "integer"     "#99ce9e"
                                           "unknown"     "#311e24"
                                           "date"        "#142217"}
                  :dominant               "#201925"
                  :most-contrasting-dark  "#15111a"
                  :second-brightest       "#54acbc"
                  :brightest              "#abb7c8"
                  :most-contrasting-light "#cc54a4"}
 :base-block-color-selected "#00030a"
 :block-title-font-color "#ffffff"
 :base-block-color "#04030599"
 :pop-3 "#abb7c8"
 :editor-rim-color "#54acbc99"
 :base-block-filter-selected "drop-shadow(0.35rem 0.35rem 0.4rem #8dceff) drop-shadow(-0.35rem -0.35rem 0.4rem #8dceff)"
 :_vega-default-color-scheme {:scheme "pastel2"}
 :data-colors {"float"       "#c8b6ab"
               "boolean"     "#c887d9"
               "map"         "#a8859c"
               "list"        "#7d326a"
               "string"      "#f1f4ed"
               "any"         "#3b617b"
               "vector"      "#9ebc54"
               "keyword"     "#e7bc8f"
               "rabbit-code" "#4e9c5c"
               "datetime"    "#233f61"
               "integer"     "#99ce9e"
               "unknown"     "#311e24"
               "date"        "#142217"}
 :editor-grid-selected-font-color "#000000"
 :monospaced-font "JetBrains Mono"
 :editor-grid-selected-background-color "#dc9cb0"
 :nivo-defaults
   {:font-family "Instagram Sans"
    :labels      {:text {:fill "#ffffff" :font-size "16px" :font-family "Instagram Sans" :font-weight 700}}
    :tooltip     {:container {:background   "#000"
                              :color        "#ffffff"
                              :text         {:fill "#eeeeee"}
                              :fontSize     "18px"
                              :borderRadius "4px"
                              :boxShadow    "0 1px 2px rgba(0, 0, 0, 0.55)"
                              :padding      "5px 9px"}
                  :basic     {:whiteSpace "pre" :display "flex" :alignItems "center"}
                  :tableCell {:padding "3px 5px"}}
    :axis        {:legend {:text {:fill "#ffffff" :font-size "14px" :font-family "Instagram Sans" :font-weight 700}}
                  :ticks  {:line {:stroke "#ffffff60"} :text {:fill "#ffffff60" :font-weight 700}}}
    :grid        {:line {:stroke "#ffffff" :strokeWidth 0 :strokeDasharray "0 0"}}}
 :editor-outer-rim-color "#54acbc"
 :grid-selected-font-color "#000000"
 :block-title-selected-font-color "#ffffff"
 :grid-selected-background-color "#a3d3ff"
 :grid-font-color "#ffffff"
 :canvas-background-css {:background-image      "linear-gradient(#20192570,#20192512),url(images/gray-brick.png)"
                         :transition            "all 0.6s ease-in-out"
                         :background-blend-mode "normal"
                         :background-color      "#424f57"}
 :editor-font-color "#ffffff"
 :base-font "Poppins"
 :block-tab-selected-font-color "#c9d1ff"
 :editor-background-color "#000006"
 :editor-grid-font-color "#ffffff"
 :pop-1 "#abb7c8"}


