{:theme-name "saved-by-the-bell2",
 :codemirror-theme "rvbbit-dynamic",
 :editor-param-background-color "#000000",
 :pop-2 "#FF1493",
 :base-block-style
 {:box-shadow
  "4px 4px 0 #FF1493,                                      8px 8px 0 #00ffff,                                      12px 12px 0 #ffff00",
  :transform "rotate(-1deg)",
  :transition "transform 0.2s cubic-bezier(.42,0,.58,1)",
  :border-left-color "#ffffff",
  :background-color "#2a0b2f99",
  :backdrop-filter "brightness(15%)",
  :border-right-color "#000000",
  :filter "none",
  :border-top-color "#ffffff",
  :text-shadow "none",
  :border "4px solid",
  :border-bottom-color "#000000",
  :border-radius "0",
  :before
  {:content "''",
   :position "absolute",
   :top "0",
   :right "0",
   :width "20px",
   :height "20px",
   :background "#FF1493",
   :clip-path "polygon(100% 0, 0 0, 100% 100%)"},
  :background-size "20px 20px"},
 :vega-defaults
 {:mark {:font "Gochi Hand", :stroke "#FF1493", :color "#FF149365"},
  :legend
  {:labelFont "Gochi Hand",
   :legendFont "Gochi Hand",
   :labelColor "#ffffff",
   :titleColor "#ffffff",
   :stroke "#FF1493",
   :titleFont "Gochi Hand"},
  :header {:labelFont "Gochi Hand", :titleFont "Gochi Hand", :titleColor "#ffffff"},
  :title
  {:font "Gochi Hand",
   :subtitleFont "Gochi Hand",
   :labelFont "Gochi Hand",
   :titleFont "Gochi Hand",
   :titleColor "#ffffff"},
  :point {:font "Gochi Hand", :stroke "#FF1493", :color "#FF149365"},
  :area {:font "Gochi Hand", :stroke "#FF1493", :color "#FF149365"},
  :axis
  {:domainColor "#ffffff",
   :grid true,
   :font "Gochi Hand",
   :labelColor "#ffffff",
   :titleFont "Gochi Hand",
   :titleColor "#ffffff",
   :labelFont "Gochi Hand",
   :domain false,
   :gridColor "#ffffff22",
   :tickColor "#ffffff",
   :axisFont "Gochi Hand"},
  :tooltip {:fill "#000000", :stroke "#FF1493", :strokeWidth 3, :color "#ffffff"},
  :view {:stroke "transparent"}},
 :grid-selected-column-css
 {:background-color "#FF1493",
  :filter "none",
  :box-shadow
  "4px 4px 0 #00ffff,                                             8px 8px 0 #ffff00",
  :transform "rotate(1deg)"},
 :base-block-color-selected "#d951ff",
 :block-title-font-color "#ffffff",
 :base-block-color "#b21be3",
 :pop-3 "#00ffff",
 :editor-rim-color "#FF1493",
 :base-block-filter-selected "none",
 :data-colors
 {"float" "#FF1493",
  "boolean" "#00ffff",
  "map" "#ffff00",
  "list" "#FF1493",
  "string" "#00ffff",
  "any" "#FF1493",
  "vector" "#00ffff",
  "keyword" "#ffff00",
  "rabbit-code" "#FF1493",
  "datetime" "#00ffff",
  "integer" "#ffff00",
  "unknown" "#FF1493",
  "date" "#00ffff"},
 :editor-grid-selected-font-color "#000000",
 :monospaced-font "Chicago Kare",
 :editor-grid-selected-background-color "#FF1493",
 :_vega-default-color-scheme {:scheme "custom"},
 :nivo-defaults
 {:font-family "Gochi Hand",
  :labels
  {:text
   {:fill "#ffffff",
    :font-size "16px",
    :font-family "Gochi Hand",
    :font-weight 400}},
  :tooltip
  {:container
   {:background "#000000",
    :color "#ffffff",
    :text {:fill "#ffffff"},
    :fontSize "16px",
    :borderRadius "0",
    :border "3px solid #ffffff",
    :box-shadow
    "4px 4px 0 #FF1493,                                             8px 8px 0 #00ffff",
    :padding "8px 12px"},
   :basic {:whiteSpace "pre", :display "flex", :alignItems "center"},
   :tableCell {:padding "4px 8px"}},
  :axis
  {:legend
   {:text
    {:fill "#ffffff",
     :font-size "16px",
     :font-family "Gochi Hand",
     :font-weight 400}},
   :ticks {:line {:stroke "#ffffff60"}, :text {:fill "#ffffff", :font-weight 400}}},
  :grid {:line {:stroke "#ffffff22", :strokeWidth 2, :strokeDasharray "8 8"}}},
 :editor-outer-rim-color "#FF1493",
 :grid-selected-font-color "#000000",
 :block-title-selected-font-color "#ec68ff",
 :grid-selected-background-color "#FF1493",
 :grid-font-color "#ffffff",
 :canvas-background-css
 {:background-image
  "url(https://www.remindmagazine.com/wp-content/uploads/2024/08/saved-by-the-bell-collage.jpg)",
  :background-size "cover",
  :transition "none",
  :background-color "#000000"},
 :editor-font-color "#ffffff",
 :base-font "Gochi Hand",
 :block-tab-selected-font-color "#eca8ff",
 :editor-background-color "#000000",
 :editor-grid-font-color "#ffffff",
 :pop-1 "#282828"}