{:codemirror-theme "rvbbit-dynamic"
 :editor-param-background-color "#858585"
 :pop-2 "#4f5359"
 :base-block-style {:text-shadow         "none"
                    :border-radius       "0px"
                    :filter              "none"
                    :backdrop-filter     "none"
                    :border              "2px solid"
                    :border-top-color    "#ffffff"
                    :border-left-color   "#ffffff"
                    :border-right-color  "#424242"
                    :border-bottom-color "#424242"
                    :box-shadow          "inset -1px -1px 0px #666666, inset 1px 1px 0px #dddddd"}
 :vega-defaults {:mark    {:font "Lucida Sans Typewriter" :stroke "#666666" :color "#66666665"}
                 :legend  {:labelFont  "Lucida Sans"
                           :legendFont "Lucida Sans"
                           :labelColor "#000000"
                           :titleColor "#000000"
                           :stroke     "#666666"
                           :titleFont  "Lucida Sans"}
                 :header  {:labelFont "Lucida Sans" :titleFont "Lucida Sans" :titleColor "#000000"}
                 :title   {:font         "Lucida Sans"
                           :subtitleFont "Lucida Sans"
                           :labelFont    "Lucida Sans"
                           :titleFont    "Lucida Sans"
                           :titleColor   "#000000"}
                 :point   {:font "Lucida Sans" :stroke "#666666" :color "#66666665"}
                 :area    {:font "Lucida Sans" :stroke "#666666" :color "#66666665"}
                 :axis    {:domainColor "#424242"
                           :grid        true
                           :font        "Lucida Sans"
                           :labelColor  "#000000"
                           :titleFont   "Lucida Sans"
                           :titleColor  "#000000"
                           :labelFont   "Lucida Sans"
                           :domain      false
                           :gridColor   "#66666633"
                           :tickColor   "#424242"
                           :axisFont    "Lucida Sans"}
                 :tooltip {:fill "#a0a0a0" :stroke "#424242" :strokeWidth 2 :color "#000000"}
                 :view    {:stroke "transparent"}}
 :grid-selected-column-css
   {:background-color "#5d9696" :filter "none" :box-shadow "inset 1px 1px 0px #ffffff, inset -1px -1px 0px #424242"}
 :base-block-color-selected "#969696"
 :block-title-font-color "#000000"
 :base-block-color "#858585"
 :pop-3 "#5d9696"
 :editor-rim-color "#424242"
 :base-block-filter-selected "none"
 :_vega-default-color-scheme {:scheme "greys"}
 :data-colors {"float"       "#5d9696"
               "boolean"     "#969696"
               "map"         "#666666"
               "list"        "#858585"
               "string"      "#000000"
               "any"         "#5d9696"
               "vector"      "#969696"
               "keyword"     "#666666"
               "rabbit-code" "#5d9696"
               "datetime"    "#969696"
               "integer"     "#666666"
               "unknown"     "#5d9696"
               "date"        "#969696"}
 :editor-grid-selected-font-color "#000000"
 :monospaced-font "Lucida Sans Typewriter"
 :editor-grid-selected-background-color "#5d9696"
 :nivo-defaults
   {:font-family "Lucida Sans"
    :labels      {:text {:fill "#000000" :font-size "12px" :font-family "Lucida Sans" :font-weight 400}}
    :tooltip     {:container {:background          "#969696"
                              :color               "#000000"
                              :text                {:fill "#000000"}
                              :fontSize            "12px"
                              :borderRadius        "0px"
                              :border              "2px solid"
                              :border-top-color    "#ffffff"
                              :border-left-color   "#ffffff"
                              :border-right-color  "#424242"
                              :border-bottom-color "#424242"
                              :padding             "4px 6px"}
                  :basic     {:whiteSpace "pre" :display "flex" :alignItems "center"}
                  :tableCell {:padding "3px 5px"}}
    :axis        {:legend {:text {:fill "#000000" :font-size "12px" :font-family "Lucida Sans" :font-weight 400}}
                  :ticks  {:line {:stroke "#424242"} :text {:fill "#000000" :font-weight 400}}}
    :grid        {:line {:stroke "#666666" :strokeWidth 1 :strokeDasharray "none"}}}
 :editor-outer-rim-color "#424242"
 :grid-selected-font-color "#000000"
 :block-title-selected-font-color "#000000"
 :grid-selected-background-color "#5d9696"
 :grid-font-color "#000000"
 :canvas-background-css {:background-image
                           "repeating-linear-gradient(45deg, #85858522 0px, #85858522 2px, #666666 2px, #666666 4px)"
                         :transition "all 0.3s ease-in-out"
                         :background-blend-mode "multiply"
                         :background-color "#858585"}
 :editor-font-color "#000000"
 :base-font "Lucida Sans"
 :block-tab-selected-font-color "#000000"
 :editor-background-color "#858585"
 :editor-grid-font-color "#000000"
 :pop-1 "#666666"}


