{:client-name :angelic-champagne-parrot-banned-from-inselberg,
 :keypath ["openai-image-gen-ladder" :pop-color],
 :value "#da9566",
 :last-vals
 {["openai-image-gen-ladder" :pop-color] "#eeb393",
  ["openai-image-gen-ladder" :dominant-color] "#30223e",
  ["openai-image-gen-ladder" :output-revised-prompt]
  "A meticulously detailed, high-definition, hyperreal, vivid 16:9 stylized cyberpunk portrayal of a woman in her late 20s, reminiscent of Alice from a classic children's tale but not directly referencing it. She is a beautiful Caucasian woman with blonde hair, full lips, and a slightly upturned nose. Adorned with intricate tattoos, she retains a slight charm of the 'Alice' character through her features and attire. She's dynamically interacting with a wall covered in cut-out shapes, tediously fitting a piece into place. A fantastical machine on the other side of the wall interacts with her, inserting and retracting shapes. The surrounding is a gritty urban setting, bathed in the atmospheric glow of colorful neon lights, echoing a cyberpunk aesthetic. She exhibits a robust, exaggerated curvaceous physique. Her attire includes a choker ribbon and a long necklace, adding a burlesque touch to her look.",
  ["openai-image-gen-ladder" :relative-url-path-for-png-version] "./images/gen/b64-image-91102-96794.png",
  ["openai-image-gen-ladder" :*running?] true},
 :subs-at-time
 (:flow/live-scratch-flow>*running?
   :flow/openai-image-gen-ladder>*running?
   :flow/flow-forever>*running?
   :flow/openai-image-gen-ladder>:output-revised-prompt
   :flow/openai-image-gen-ladder>:relative-url-path-for-png-version
   :flow/openai-image-gen-ladder>:dominant-color
   :flow/flow-forever>:final-math
   :flow/openai-image-gen-ladder>:pop-color),
 :child-atoms
 ("client-keepalive" "openai-image-gen-ladder" "flow-forever" "openai-image-gen-ladder/node-js-color-thief-script")}