{:client-name :trusting-ivory-alligator-of-crevasse,
 :keypath ["openai-image-gen-ladder" :relative-url-path-for-png-version],
 :value "./images/gen/b64-image-32886-15117.png",
 :last-vals
 {["openai-image-gen-ladder" :output-revised-prompt]
  "Create a high-definition, hyperreal, vivid 16:9 highly stylized & exaggerated illustration that portrays a woman in her late 20s, reminiscent of a character from a classic children's book. She is a beautiful Caucasian female with blonde hair, pouty lips, and a slightly upturned nose. Detailed as a pin-up style illustration, she has intricate tattoos yet still hints at an association with the literature that inspires her look. She's engaged in a complex interaction with a wall filled with cut-out shapes, where she is fitting a piece into place. A whimsical machine operates the other side of the wall, inserting and retracting shapes. The setting is a gritty urban environment with colorful neon lights providing atmospheric illumination, emanating a cyberpunk vibe. The female character has a robust and hyper curvaceous physique, elegant with a choker ribbon and a long necklace, and a touch of burlesque style.",
  ["openai-image-gen-ladder" :relative-url-path-for-png-version] "./images/gen/b64-image-27842-87672.png",
  ["openai-image-gen-ladder" :dominant-color] "#384950",
  ["openai-image-gen-ladder" :pop-color] "#d88f6f",
  ["openai-image-gen-ladder" :*running?] true},
 :subs-at-time
 (:flow/live-scratch-flow>*running?
   :flow/openai-image-gen-ladder>:relative-url-path-for-png-version
   :flow/openai-image-gen-ladder>:dominant-color
   :flow/flow-forever>*running?
   :flow/openai-image-gen-ladder>*running?
   :flow/openai-image-gen-ladder>:pop-color
   :flow/openai-image-gen-ladder>:output-revised-prompt
   :flow/flow-forever>:final-math),
 :child-atoms
 ("client-keepalive" "openai-image-gen-ladder" "flow-forever" "openai-image-gen-ladder/node-js-color-thief-script")}