{:client-name :trusting-ivory-alligator-of-crevasse,
 :keypath ["openai-image-gen-ladder" :*running?],
 :value false,
 :last-vals
 {["openai-image-gen-ladder" :output-revised-prompt]
  "A high-definition, hyperreal, vivid 16:9 highly stylized & exaggerated illustration inspired by the bold aesthetics of classic pinup art. The main subject is a late-20s woman of Caucasian descent, with blonde hair, pouty lips, and a slightly upturned nose. She carries the essence of the Alice character from the 19th century classic Alice in Wonderland, recognizable through cues in her features and attire. She is adorned with intricate tattoos and interacts in a complex manner with a wall filled with cut-out shapes, delicately fitting a piece into place. On the other side, a whimsical machine operates, inserting and retracting shapes. The backdrop is a gritty urban setting soaked in the glow of multicolored neon lights, reminiscent of a surreal, futuristic city. The woman's physique is voluptuous, with pronounced curves. Adding to her allure is a choker ribbon and a lengthy necklace. The overall feel of the scene borrows heavily from the suggestive, audacious spirit of burlesque.",
  ["openai-image-gen-ladder" :relative-url-path-for-png-version] "./images/gen/b64-image-91102-96794.png",
  ["openai-image-gen-ladder" :dominant-color] "#30223e",
  ["openai-image-gen-ladder" :pop-color] "#eeb393",
  ["openai-image-gen-ladder" :*running?] false},
 :subs-at-time
 (:flow/live-scratch-flow>*running?
   :flow/openai-image-gen-ladder>:relative-url-path-for-png-version
   :flow/openai-image-gen-ladder>:dominant-color
   :flow/flow-forever>*running?
   :flow/openai-image-gen-ladder>*running?
   :flow/openai-image-gen-ladder>:pop-color
   :flow/openai-image-gen-ladder>:output-revised-prompt
   :flow/flow-forever>:final-math),
 :child-atoms
 ("client-keepalive" "openai-image-gen-ladder" "flow-forever" "openai-image-gen-ladder/node-js-color-thief-script")}