{:client-name :angelic-champagne-parrot-banned-from-inselberg,
 :keypath ["openai-image-gen-ladder" :output-revised-prompt],
 :value
 "Design a hyperreal, dynamic 16:9 cyberpunk-themed artwork, that showcases a late-20s fictional character, in a distinct pinup style. The character takes inspiration from a well-known story about a girl exploring a fantastical world, characterized by her Caucasian descent, blonde hair, pouty lips, and slightly upturned nose. Detailed tattoos decorate her skin, but her design should still hint at her fictional identity. Engage her in an intricate interaction with a wall filled with cut-out shapes, as she fits a piece into place. An eccentric machine operates on the other side of the wall, interacting with the shapes. The setting is an edgy urban environment with radiant, multicolored neon lights casting atmospheric illumination. The character has a generously curved figure and she is adorned in a choker ribbon and long necklace, creating an aesthetic reminiscent of a burlesque performance.",
 :last-vals
 {["openai-image-gen-ladder" :pop-color] "#da9566",
  ["openai-image-gen-ladder" :dominant-color] "#233d58",
  ["openai-image-gen-ladder" :output-revised-prompt]
  "A meticulously detailed, high-definition, hyperreal, vivid 16:9 stylized cyberpunk portrayal of a woman in her late 20s, reminiscent of Alice from a classic children's tale but not directly referencing it. She is a beautiful Caucasian woman with blonde hair, full lips, and a slightly upturned nose. Adorned with intricate tattoos, she retains a slight charm of the 'Alice' character through her features and attire. She's dynamically interacting with a wall covered in cut-out shapes, tediously fitting a piece into place. A fantastical machine on the other side of the wall interacts with her, inserting and retracting shapes. The surrounding is a gritty urban setting, bathed in the atmospheric glow of colorful neon lights, echoing a cyberpunk aesthetic. She exhibits a robust, exaggerated curvaceous physique. Her attire includes a choker ribbon and a long necklace, adding a burlesque touch to her look.",
  ["openai-image-gen-ladder" :relative-url-path-for-png-version] "./images/gen/b64-image-36720-52185.png",
  ["openai-image-gen-ladder" :*running?] true},
 :subs-at-time
 (:flow/live-scratch-flow>*running?
   :flow/openai-image-gen-ladder>*running?
   :flow/flow-forever>*running?
   :flow/openai-image-gen-ladder>:output-revised-prompt
   :flow/openai-image-gen-ladder>:relative-url-path-for-png-version
   :flow/openai-image-gen-ladder>:dominant-color
   :flow/flow-forever>:final-math
   :flow/openai-image-gen-ladder>:pop-color),
 :child-atoms
 ("client-keepalive" "openai-image-gen-ladder" "flow-forever" "openai-image-gen-ladder/node-js-color-thief-script")}