{:flowmaps
 {:+
  {:w 200,
   :h 100,
   :x 1426.5692742695571,
   :y 1359.038642789821,
   :z 0,
   :data
   {:flow-item
    {:description "Clojure add function.",
     :category ":clojure-base",
     :name ":+",
     :icon "zmdi-plus",
     :types
     {:value1 [:integer :float],
      :value2 [:integer :float],
      :out [:integer :float]},
     :input_types "[[:integer :float] [:integer :float]]",
     :inputs [:value1 :value2],
     :output_types "[:integer :float]",
     :full_map
     "{:description \"Clojure add function.\", :view (fn [_]), :fn +, :inputs [:value1 :value2], :icon \"zmdi-plus\", :types {:value1 [:integer :float], :value2 [:integer :float], :out [:integer :float]}}"},
    :name "drag-from-",
    :w 5,
    :source-panel :flow-fn-list*,
    :root [596 209],
    :h 6,
    :connection-id nil,
    :queries
    {:name-drag-4
     {:select
      [:name
       :full_map
       :description
       :inputs
       :icon
       :input_types
       :output_types
       :category],
      :from [[:query/flow-fn-sys :ii499]],
      :where [:= :name ":+"]}},
    :drag-meta
    {:data-type "string",
     :source-query :flow-fn-sys,
     :param-full ":+",
     :param-field :name,
     :source-panel-key :flow-fn-list*,
     :type :where,
     :param-table :flow-fn-sys,
     :source-table :query/flow-fn-sys,
     :connection-id nil,
     :target :name,
     :row-num 11}},
   :icon "zmdi-plus",
   :ports
   {:in {:value1 [:integer :float], :value2 [:integer :float]},
    :out {:out [:integer :float]}}},
  :open-input
  {:w 200,
   :h 60,
   :data {:drag-meta {:type :open-block}, :user-input 123},
   :z 0,
   :ports {:out {:out :integer}},
   :x 1070.9453521901582,
   :y 1308.4623894213728},
  :open-input-1
  {:w 200,
   :h 60,
   :data {:drag-meta {:type :open-block}, :user-input 555},
   :z 0,
   :ports {:out {:out :integer}},
   :x 1046.9263775254017,
   :y 1486.4883105561053}},
 :flow-id "step1",
 :flowmaps-connections
 [[:open-input :+/value1] [:open-input-1 :+/value2] [:+ :done]]}