{:kks ("openai-image-gen-ladder"),
 :value {:port-in? true, :hiccup-image-box-w-png/color "#dead5f"},
 :diff {"openai-image-gen-ladder" {:hiccup-image-box-w-png/color {:start 1711063579493, :in-chan? false}}}}