{:kks ("openai-image-gen-ladder/node-js-color-thief-script"),
 :value nil,
 :diff
 {"openai-image-gen-ladder/node-js-color-thief-script"
  {:shell-command-in {:start 1711063884759, :end 1711063884759, :static? true}}}}