{:kks ("openai-image-gen-ladder"),
 :value
 {:port-in? true,
  :just-the-image/x
  {:created 1711064824,
   :data
   [{:b64_json "**huge base64 string**",
     :revised_prompt
     "A high-definition, hyperreal, vivid 16:9 highly stylized & exaggerated cyberpunk illustration that portrays a late-20s character inspired by a storybook, detailed in a pin-up style illustration. She is a beautiful Caucasian woman with blonde hair - pouty lips and a slightly upturned nose. She has intricate tattoos, keeping her recognizably fictional yet with features and attire that hint at her storybook identity. She's engaged in a complex interaction with a wall filled with cut-out shapes, where she is fitting a piece into place. The other side of the wall is operated by a complex, whimsical machine, inserting and retracting shapes. The setting is a gritty urban environment with colorful neon lights providing visual depth, reminiscent of a future-tech neon-lit city. She is buxom, robust, with a hyper curvaceous physique. She wears a ribbon choker and a long necklace, adding to her burlesque look."}]}},
 :diff {"openai-image-gen-ladder" {:just-the-image/x {:end 1711064826588}}}}