{:kks ("openai-image-gen-ladder"),
 :value
 {:port-in? true,
  :node-js-color-thief-script-dominantColor/in
  {:dominantColor "#26262e",
   :colorPalette ["#eec7a3" "#88c7d0" "#9a5935" "#121421" "#6383a5" "#346e7b" "#602c1a" "#db7d32" "#1d5068" "#d5453d"]}},
 :diff {"openai-image-gen-ladder" {:node-js-color-thief-script-dominantColor/in {:end 1711063056707}}}}