{:kks ("openai-image-gen-ladder"),
 :value {:port-in? true, :hiccup-image-box-w-png/color "#eab58b"},
 :diff {"openai-image-gen-ladder" {:hiccup-image-box-w-png/color {:start 1711063885577, :in-chan? false}}}}