{:kks ("openai-image-gen-ladder/node-js-color-thief-script"),
 :value
 {:dominantColor "#433359",
  :colorPalette ["#e096bd" "#6c7fc8" "#372547" "#964168" "#4d6398" "#6baedd" "#6e3052" "#c43959" "#d45a51" "#4e6678"]},
 :diff {"openai-image-gen-ladder/node-js-color-thief-script" {:done {:start 1711082789959, :in-chan? nil}}},
 :full
 {:json-to-edn/json-string
  {:port-in? true,
   :json-to-edn/json-string
   "{   \"dominantColor\": \"#433359\",   \"colorPalette\": [     \"#e096bd\",     \"#6c7fc8\",     \"#372547\",     \"#964168\",     \"#4d6398\",     \"#6baedd\",     \"#6e3052\",     \"#c43959\",     \"#d45a51\",     \"#4e6678\"   ] }"},
  :done
  {:dominantColor "#433359",
   :colorPalette ["#e096bd" "#6c7fc8" "#372547" "#964168" "#4d6398" "#6baedd" "#6e3052" "#c43959" "#d45a51" "#4e6678"]},
  :shell-command-1
  {:output
   ["{"
    "  \"dominantColor\": \"#433359\","
    "  \"colorPalette\": ["
    "    \"#e096bd\","
    "    \"#6c7fc8\","
    "    \"#372547\","
    "    \"#964168\","
    "    \"#4d6398\","
    "    \"#6baedd\","
    "    \"#6e3052\","
    "    \"#c43959\","
    "    \"#d45a51\","
    "    \"#4e6678\""
    "  ]"
    "}"],
   :exception [],
   :seconds [],
   :command "cd /home/ryanr/color-thief-project ; node ./colorThief2.js /home/ryanr/rvbbit-out/b64-image-79274-43366.webp"},
  :clojure-string-join-1/value-2
  {:port-in? true, :clojure-string-join-1/value-2 "/home/ryanr/rvbbit-out/b64-image-79274-43366.webp"},
  :shell-command-1-output
  ["{"
   "  \"dominantColor\": \"#433359\","
   "  \"colorPalette\": ["
   "    \"#e096bd\","
   "    \"#6c7fc8\","
   "    \"#372547\","
   "    \"#964168\","
   "    \"#4d6398\","
   "    \"#6baedd\","
   "    \"#6e3052\","
   "    \"#c43959\","
   "    \"#d45a51\","
   "    \"#4e6678\""
   "  ]"
   "}"],
  :join-output-as-string/value
  {:port-in? true,
   :join-output-as-string/value
   ["{"
    "  \"dominantColor\": \"#433359\","
    "  \"colorPalette\": ["
    "    \"#e096bd\","
    "    \"#6c7fc8\","
    "    \"#372547\","
    "    \"#964168\","
    "    \"#4d6398\","
    "    \"#6baedd\","
    "    \"#6e3052\","
    "    \"#c43959\","
    "    \"#d45a51\","
    "    \"#4e6678\""
    "  ]"
    "}"]},
  :clojure-string-join-1/delimiter {:port-in? true, :clojure-string-join-1/delimiter " "},
  :parent-run-id "6650fc21-412a-4fe5-9165-641791034288",
  :json-to-edn
  {:dominantColor "#433359",
   :colorPalette ["#e096bd" "#6c7fc8" "#372547" "#964168" "#4d6398" "#6baedd" "#6e3052" "#c43959" "#d45a51" "#4e6678"]},
  :clojure-string-join-1/value-1
  {:port-in? true, :clojure-string-join-1/value-1 "cd /home/ryanr/color-thief-project ; node ./colorThief2.js"},
  :clojure-string-join-1
  "cd /home/ryanr/color-thief-project ; node ./colorThief2.js /home/ryanr/rvbbit-out/b64-image-79274-43366.webp",
  :image-path "/home/ryanr/rvbbit-out/b64-image-79274-43366.webp",
  :opts-map
  {:debug? false,
   :debux? false,
   :close-on-done? false,
   :run-id "28ed802d-48dd-401e-bf92-aaee53859599",
   :increment-id? false,
   :flow-id "openai-image-gen-ladder/node-js-color-thief-script",
   :parent-run-id "6650fc21-412a-4fe5-9165-641791034288",
   :client-name :valued-ivory-pronghorn-hailing-from-landforms-by-shape},
  :clojure-string-join-1delimiter " ",
  :shell-command-1/command
  {:port-in? true,
   :shell-command-1/command
   "cd /home/ryanr/color-thief-project ; node ./colorThief2.js /home/ryanr/rvbbit-out/b64-image-79274-43366.webp"},
  :shell-command-1-output/in
  {:port-in? true,
   :shell-command-1-output/in
   {:output
    ["{"
     "  \"dominantColor\": \"#433359\","
     "  \"colorPalette\": ["
     "    \"#e096bd\","
     "    \"#6c7fc8\","
     "    \"#372547\","
     "    \"#964168\","
     "    \"#4d6398\","
     "    \"#6baedd\","
     "    \"#6e3052\","
     "    \"#c43959\","
     "    \"#d45a51\","
     "    \"#4e6678\""
     "  ]"
     "}"],
    :exception [],
    :seconds [],
    :command
    "cd /home/ryanr/color-thief-project ; node ./colorThief2.js /home/ryanr/rvbbit-out/b64-image-79274-43366.webp"}},
  :join-output-as-string
  "{   \"dominantColor\": \"#433359\",   \"colorPalette\": [     \"#e096bd\",     \"#6c7fc8\",     \"#372547\",     \"#964168\",     \"#4d6398\",     \"#6baedd\",     \"#6e3052\",     \"#c43959\",     \"#d45a51\",     \"#4e6678\"   ] }",
  :run-id "28ed802d-48dd-401e-bf92-aaee53859599",
  :shell-command-in "cd /home/ryanr/color-thief-project ; node ./colorThief2.js"}}