{:kks ("openai-image-gen-ladder"),
 :value {:port-in? true, :save-base64-to-webp-file/file-path "/home/ryanr/rvbbit-out/b64-image-91102-96794.webp"},
 :diff {"openai-image-gen-ladder" {:save-base64-to-webp-file/file-path {:end 1711064946823}}}}