{:kks ("openai-image-gen-ladder"),
 :value {:port-in? true, :create-png-path/x "/home/ryanr/rvbbit-out/b64-image-12250-27332.webp"},
 :diff {"openai-image-gen-ladder" {:create-png-path/x {:end 1711064826616}}}}