{:kks ("openai-image-gen-ladder"),
 :value "/home/ryanr/rvbbit/frontend/resources/public/images/gen",
 :diff {"openai-image-gen-ladder" {:base-web-directory {:start 1711063696157, :end 1711063696157, :static? true}}}}