{:kks ("openai-image-gen-ladder/node-js-color-thief-script"),
 :value
 {:port-in? true,
  :json-to-edn/json-string
  "{   \"dominantColor\": \"#e49a88\",   \"colorPalette\": [     \"#eab19b\",     \"#2b2824\",     \"#905248\",     \"#44b6aa\",     \"#d63789\",     \"#2b7569\",     \"#d68621\",     \"#663933\",     \"#7b70a9\",     \"#5a3c6d\"   ] }"},
 :diff {"openai-image-gen-ladder/node-js-color-thief-script" {:json-to-edn/json-string {:end 1711065995830}}}}