{:kks ("openai-image-gen-ladder"),
 :value
 {:port-in? true,
  :execute-shell-command/command
  "convert /home/ryanr/rvbbit-out/b64-image-61274-16371.webp /home/ryanr/rvbbit/frontend/resources/public/images/gen/b64-image-61274-16371.png"},
 :diff {"openai-image-gen-ladder" {:execute-shell-command/command {:end 1711063056005}}}}