{:kks ("openai-image-gen-ladder"),
 :value "/home/ryanr/rvbbit/frontend/resources/public/images/gen",
 :diff {"openai-image-gen-ladder" {:base-web-directory {:start 1711066165089, :end 1711066165089, :static? true}}}}