{:kks ("openai-image-gen-ladder"),
 :value {:port-in? true, :create-convert-command-line/y "/home/ryanr/rvbbit-out/b64-image-60508-14683.webp"},
 :diff {"openai-image-gen-ladder" {:create-convert-command-line/y {:end 1711083121349}}},
 :full
 {:request-body-map/quality* {:port-in? true, :request-body-map/quality* "hd"},
  :save-base64-to-webp-file/file-path
  {:port-in? true, :save-base64-to-webp-file/file-path "/home/ryanr/rvbbit-out/b64-image-60508-14683.webp"},
  :quality-param "hd",
  :base-save-directory "/home/ryanr/rvbbit-out",
  :size-param "1792x1024",
  :create-png-path/base-dir {:port-in? true, :create-png-path/base-dir "/home/ryanr/rvbbit-out"},
  :generate-file-path/base-dir {:port-in? true, :generate-file-path/base-dir "/home/ryanr/rvbbit-out"},
  :base-web-directory "/home/ryanr/rvbbit/frontend/resources/public/images/gen",
  :request-body-map/size* {:port-in? true, :request-body-map/size* "1792x1024"},
  :create-png-path/base-web-dir
  {:port-in? true, :create-png-path/base-web-dir "/home/ryanr/rvbbit/frontend/resources/public/images/gen"},
  :prompt
  "PLEASE USE EXACTLY THIS PROMPT: A high-definition, hyperreal, vivid 16:9 highly stylized & exaggerated pinup style cyberpunk illustration that portrays a late-20s Alice from Alice in Wonderland, detailed in a pin-up style illustration. She is a beautiful white girl with blonde hair - pouty lips and a slightly upturned nose. \n\nShe should have intricate tattoos but still be recognizably Alice, with features and attire that hint at her Alice in Wonderland identity. \n\nShe's engaged in a complex interaction with a wall filled with cut-out shapes, where she is fitting a piece into place. \n\nThe other side of the wall is operated by a whimsical machine, inserting and retracting shapes. The setting is a gritty urban environment with colorful neon lights providing atmospheric illumination, reminiscent of a Cyberpunk 2077 scene.\n\nShe is buxom, robust, hyper curvaceous. She wears a choker ribbon and a long necklace. Burlesque.",
  :create-convert-command-line/y
  {:port-in? true, :create-convert-command-line/y "/home/ryanr/rvbbit-out/b64-image-60508-14683.webp"},
  :request-body-map/prompty*
  {:port-in? true,
   :request-body-map/prompty*
   "PLEASE USE EXACTLY THIS PROMPT: A high-definition, hyperreal, vivid 16:9 highly stylized & exaggerated pinup style cyberpunk illustration that portrays a late-20s Alice from Alice in Wonderland, detailed in a pin-up style illustration. She is a beautiful white girl with blonde hair - pouty lips and a slightly upturned nose. \n\nShe should have intricate tattoos but still be recognizably Alice, with features and attire that hint at her Alice in Wonderland identity. \n\nShe's engaged in a complex interaction with a wall filled with cut-out shapes, where she is fitting a piece into place. \n\nThe other side of the wall is operated by a whimsical machine, inserting and retracting shapes. The setting is a gritty urban environment with colorful neon lights providing atmospheric illumination, reminiscent of a Cyberpunk 2077 scene.\n\nShe is buxom, robust, hyper curvaceous. She wears a choker ribbon and a long necklace. Burlesque."},
  :opts-map
  {:overrides
   {:prompt
    "PLEASE USE EXACTLY THIS PROMPT: A high-definition, hyperreal, vivid 16:9 highly stylized & exaggerated pinup style cyberpunk illustration that portrays a late-20s Alice from Alice in Wonderland, detailed in a pin-up style illustration. She is a beautiful white girl with blonde hair - pouty lips and a slightly upturned nose. \n\nShe should have intricate tattoos but still be recognizably Alice, with features and attire that hint at her Alice in Wonderland identity. \n\nShe's engaged in a complex interaction with a wall filled with cut-out shapes, where she is fitting a piece into place. \n\nThe other side of the wall is operated by a whimsical machine, inserting and retracting shapes. The setting is a gritty urban environment with colorful neon lights providing atmospheric illumination, reminiscent of a Cyberpunk 2077 scene.\n\nShe is buxom, robust, hyper curvaceous. She wears a choker ribbon and a long necklace. Burlesque.",
    :style-param "vivid"},
   :flow-id "openai-image-gen-ladder",
   :client-name :favorable-rose-camel-hailing-from-hanging-valley,
   :debux? false,
   :close-on-done? true,
   :debug? false,
   :opts {:retries 400, :retry-on-error? true, :close-on-done? true},
   :increment-id? false,
   :run-id "66575942-9446-4ebf-aa5f-e77c08b252c7"},
  :generate-file-path "/home/ryanr/rvbbit-out/b64-image-60508-14683.webp",
  :run-id "66575942-9446-4ebf-aa5f-e77c08b252c7"}}