{:kks ("openai-image-gen-ladder/node-js-color-thief-script"),
 :value {:port-in? true, :clojure-string-join-1/delimiter " "},
 :diff {"openai-image-gen-ladder/node-js-color-thief-script" {:clojure-string-join-1/delimiter {:end 1711083162431}}},
 :full
 {:done nil,
  :parent-run-id "66575942-9446-4ebf-aa5f-e77c08b252c7",
  :run-id "48783d43-142c-4efd-9ba3-e8ef2440d625",
  :opts-map
  {:debug? false,
   :debux? false,
   :close-on-done? false,
   :run-id "48783d43-142c-4efd-9ba3-e8ef2440d625",
   :increment-id? false,
   :flow-id "openai-image-gen-ladder/node-js-color-thief-script",
   :parent-run-id "66575942-9446-4ebf-aa5f-e77c08b252c7",
   :client-name :favorable-rose-camel-hailing-from-hanging-valley},
  :image-path "/home/ryanr/rvbbit-out/b64-image-60508-14683.webp",
  :clojure-string-join-1delimiter " ",
  :shell-command-in "cd /home/ryanr/color-thief-project ; node ./colorThief2.js",
  :clojure-string-join-1/delimiter {:port-in? true, :clojure-string-join-1/delimiter " "}}}