{:kks ("openai-image-gen-ladder"),
 :value
 {:created 1711066054,
  :data
  [{:b64_json "**huge base64 string**",
    :revised_prompt
    "Create a high-definition, hyperreal, vivid 16:9 highly stylized & exaggerated illustration that portrays a woman in her late 20s, reminiscent of a character from a classic children's book. She is a beautiful Caucasian female with blonde hair, pouty lips, and a slightly upturned nose. Detailed as a pin-up style illustration, she has intricate tattoos yet still hints at an association with the literature that inspires her look. She's engaged in a complex interaction with a wall filled with cut-out shapes, where she is fitting a piece into place. A whimsical machine operates the other side of the wall, inserting and retracting shapes. The setting is a gritty urban environment with colorful neon lights providing atmospheric illumination, emanating a cyberpunk vibe. The female character has a robust and hyper curvaceous physique, elegant with a choker ribbon and a long necklace, and a touch of burlesque style."}]},
 :diff {"openai-image-gen-ladder" {:oai-api-call {:end 1711066056354}}}}