{:kks ("openai-image-gen-ladder"),
 :value
 {:port-in? true,
  :node-js-color-thief-script-dominantColor/in
  {:dominantColor "#233d58",
   :colorPalette ["#da9566" "#1e304c" "#9b6765" "#7684c2" "#60cbd1" "#327394" "#ddc1e5" "#43766b" "#ca3a27" "#361917"]}},
 :diff {"openai-image-gen-ladder" {:node-js-color-thief-script-dominantColor/in {:end 1711065254497}}}}