{:kks ("openai-image-gen-ladder/node-js-color-thief-script"),
 :value nil,
 :diff
 {"openai-image-gen-ladder/node-js-color-thief-script"
  {:clojure-string-join-1/value-1 {:start 1711066056412, :in-chan? false}}}}