{:kks ("openai-image-gen-ladder/node-js-color-thief-script"),
 :value {:port-in? true, :clojure-string-join-1/value-2 "/home/ryanr/rvbbit-out/b64-image-12250-27332.webp"},
 :diff {"openai-image-gen-ladder/node-js-color-thief-script" {:clojure-string-join-1/value-2 {:end 1711064826634}}}}