{:kks ("openai-image-gen-ladder/node-js-color-thief-script"),
 :value
 {:port-in? true,
  :json-to-edn/json-string
  "{   \"dominantColor\": \"#30223e\",   \"colorPalette\": [     \"#eeb393\",     \"#201630\",     \"#6ad1d2\",     \"#954f58\",     \"#7062b7\",     \"#e73486\",     \"#424782\",     \"#622e42\",     \"#d77439\",     \"#576661\"   ] }"},
 :diff {"openai-image-gen-ladder/node-js-color-thief-script" {:json-to-edn/json-string {:end 1711064999123}}}}