{:kks ("openai-image-gen-ladder"),
 :value
 {:port-in? true,
  :hiccup-image-box-w-png/_
  "convert /home/ryanr/rvbbit-out/b64-image-59261-112.webp /home/ryanr/rvbbit/frontend/resources/public/images/gen/b64-image-59261-112.png"},
 :diff {"openai-image-gen-ladder" {:hiccup-image-box-w-png/_ {:end 1711064729160}}}}