{:kks ("openai-image-gen-ladder"),
 :value
 {:port-in? true,
  :color-palette/x
  {:dominantColor "#26262e",
   :colorPalette ["#eec7a3" "#88c7d0" "#9a5935" "#121421" "#6383a5" "#346e7b" "#602c1a" "#db7d32" "#1d5068" "#d5453d"]}},
 :diff {"openai-image-gen-ladder" {:color-palette/x {:start 1711063056706, :in-chan? nil}}}}