{:kks ("openai-image-gen-ladder"),
 :value "/home/ryanr/rvbbit/frontend/resources/public/images/gen/b64-image-27842-87672.png",
 :diff {"openai-image-gen-ladder" {:create-png-path {:end 1711065995131}}}}