{:kks ("openai-image-gen-ladder/node-js-color-thief-script"),
 :value {:port-in? true, :clojure-string-join-1/value-1 "cd /home/ryanr/color-thief-project ; node ./colorThief2.js"},
 :diff {"openai-image-gen-ladder/node-js-color-thief-script" {:clojure-string-join-1/value-1 {:end 1711064826636}}}}