{:kks ("openai-image-gen-ladder/node-js-color-thief-script"),
 :value nil,
 :diff {"openai-image-gen-ladder/node-js-color-thief-script" {:clojure-string-join-1 {:start 1711065253799, :in-chan? nil}}}}