{:kks ("openai-image-gen-ladder"),
 :value
 "convert /home/ryanr/rvbbit-out/b64-image-59261-112.webp /home/ryanr/rvbbit/frontend/resources/public/images/gen/b64-image-59261-112.png",
 :diff {"openai-image-gen-ladder" {:execute-shell-command-command {:end 1711064729158}}}}