{:kks ("openai-image-gen-ladder/node-js-color-thief-script"),
 :value nil,
 :diff
 {"openai-image-gen-ladder/node-js-color-thief-script"
  {:join-output-as-string/value {:start 1711066057223, :in-chan? false}}}}