{:kks ("openai-image-gen-ladder"),
 :value
 [:v-box
  :padding
  "10px"
  :gap
  "8px"
  :width
  :width-px
  :style
  {:background-color "#e9a14b", :border-radius "20px", :font-size "12px", :font-weight 700, :color "#eaa841"}
  :children
  [[:box :child "./images/gen/b64-image-59261-112.png"]
   [:box :size "auto" :child [:img {:src "./images/gen/b64-image-59261-112.png", :style {:border-radius "30px"}}]]]],
 :diff {"openai-image-gen-ladder" {:hiccup-image-box-w-png {:end 1711064729472}}}}