{:kks ("openai-image-gen-ladder"),
 :value
 "convert /home/ryanr/rvbbit-out/b64-image-12250-27332.webp /home/ryanr/rvbbit/frontend/resources/public/images/gen/b64-image-12250-27332.png",
 :diff {"openai-image-gen-ladder" {:create-convert-command-line {:end 1711064826625}}}}