{:kks ("openai-image-gen-ladder"),
 :value {:port-in? true, :generate-file-path/base-dir "/home/ryanr/rvbbit-out"},
 :diff {"openai-image-gen-ladder" {:generate-file-path/base-dir {:end 1711064746823}}}}