{:kks ("openai-image-gen-ladder"),
 :value
 {:port-in? true,
  :oai-api-call/req-map
  {:headers
   {"Authorization" "Bearer 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", "Content-Type" "application/json"},
   :method :post,
   :url "https://api.openai.com/v1/images/generations",
   :body
   {:prompt
    "PLEASE USE EXACTLY THIS PROMPT: A high-definition, hyperreal, vivid 16:9 highly stylized & exaggerated pinup style cyberpunk illustration that portrays a late-20s Alice from Alice in Wonderland, detailed in a pin-up style illustration. She is a beautiful white girl with blonde hair - pouty lips and a slightly upturned nose. \n\nShe should have intricate tattoos but still be recognizably Alice, with features and attire that hint at her Alice in Wonderland identity. \n\nShe's engaged in a complex interaction with a wall filled with cut-out shapes, where she is fitting a piece into place. \n\nThe other side of the wall is operated by a whimsical machine, inserting and retracting shapes. The setting is a gritty urban environment with colorful neon lights providing atmospheric illumination, reminiscent of a Cyberpunk 2077 scene.\n\nShe is buxom, robust, hyper curvaceous. She wears a choker ribbon and a long necklace. Burlesque.",
    :n 1,
    :size "1792x1024",
    :style "vivid",
    :response_format "b64_json",
    :model "dall-e-3",
    :quality "hd"}}},
 :diff {"openai-image-gen-ladder" {:oai-api-call/req-map {:end 1711063801542}}}}