{:kks ("openai-image-gen-ladder"),
 :value
 {:port-in? true,
  :pop-color/x
  {:dominantColor "#e49a88",
   :colorPalette ["#eab19b" "#2b2824" "#905248" "#44b6aa" "#d63789" "#2b7569" "#d68621" "#663933" "#7b70a9" "#5a3c6d"]}},
 :diff {"openai-image-gen-ladder" {:pop-color/x {:start 1711065995850, :in-chan? nil}}}}