{:kks ("openai-image-gen-ladder/node-js-color-thief-script"),
 :value
 "{   \"dominantColor\": \"#30223e\",   \"colorPalette\": [     \"#eeb393\",     \"#201630\",     \"#6ad1d2\",     \"#954f58\",     \"#7062b7\",     \"#e73486\",     \"#424782\",     \"#622e42\",     \"#d77439\",     \"#576661\"   ] }",
 :diff {"openai-image-gen-ladder/node-js-color-thief-script" {:join-output-as-string {:end 1711064999121}}}}