{:kks ("openai-image-gen-ladder/node-js-color-thief-script"),
 :value nil,
 :diff
 {"openai-image-gen-ladder/node-js-color-thief-script"
  {:clojure-string-join-1/value-2 {:start 1711063790991, :in-chan? false}}}}