{:kks ("openai-image-gen-ladder/node-js-color-thief-script"),
 :value nil,
 :diff
 {"openai-image-gen-ladder/node-js-color-thief-script" {:shell-command-1-output {:start 1711063791633, :in-chan? nil}}}}