{:kks ("openai-image-gen-ladder"),
 :value {:port-in? true, :save-base64-to-webp-file/file-path "/home/ryanr/rvbbit-out/b64-image-33746-63791.webp"},
 :diff {"openai-image-gen-ladder" {:save-base64-to-webp-file/file-path {:start 1711064408648, :in-chan? false}}}}