{:kks ("openai-image-gen-ladder/node-js-color-thief-script"),
 :value nil,
 :diff
 {"openai-image-gen-ladder/node-js-color-thief-script"
  {:image-path {:start 1711082788843, :end 1711082788843, :static? true}}},
 :full
 {:parent-run-id "6650fc21-412a-4fe5-9165-641791034288",
  :run-id "28ed802d-48dd-401e-bf92-aaee53859599",
  :opts-map
  {:debug? false,
   :debux? false,
   :close-on-done? false,
   :run-id "28ed802d-48dd-401e-bf92-aaee53859599",
   :increment-id? false,
   :flow-id "openai-image-gen-ladder/node-js-color-thief-script",
   :parent-run-id "6650fc21-412a-4fe5-9165-641791034288",
   :client-name :valued-ivory-pronghorn-hailing-from-landforms-by-shape}}}