{:kks ("openai-image-gen-ladder"),
 :value
 {:port-in? true,
  :create-convert-command-line/x "/home/ryanr/rvbbit/frontend/resources/public/images/gen/b64-image-36720-52185.png"},
 :diff {"openai-image-gen-ladder" {:create-convert-command-line/x {:end 1711065253781}}}}