{:kks ("openai-image-gen-ladder"),
 :value "/home/ryanr/rvbbit/frontend/resources/public/images/gen/b64-image-12250-27332.png",
 :diff {"openai-image-gen-ladder" {:create-png-path {:end 1711064826618}}}}