{:kks ("openai-image-gen-ladder/node-js-color-thief-script"),
 :value nil,
 :diff
 {"openai-image-gen-ladder/node-js-color-thief-script" {:json-to-edn/json-string {:start 1711064827316, :in-chan? false}}}}