{:kks ("openai-image-gen-ladder/node-js-color-thief-script"),
 :value nil,
 :diff
 {"openai-image-gen-ladder/node-js-color-thief-script" {:shell-command-1-output/in {:start 1711064729407, :in-chan? nil}}}}