{:kks ("openai-image-gen-ladder"),
 :value {:port-in? true, :node-js-color-thief-script/image-path "/home/ryanr/rvbbit-out/b64-image-27842-87672.webp"},
 :diff {"openai-image-gen-ladder" {:node-js-color-thief-script/image-path {:end 1711065995129}}}}