{:kks ("openai-image-gen-ladder"),
 :value {:port-in? true, :create-png-path/x "/home/ryanr/rvbbit-out/b64-image-27842-87672.webp"},
 :diff {"openai-image-gen-ladder" {:create-png-path/x {:end 1711065995129}}}}