{:kks ("openai-image-gen-ladder/node-js-color-thief-script"),
 :value
 {:port-in? true,
  :join-output-as-string/value
  ["{"
   "  \"dominantColor\": \"#e9a14b\","
   "  \"colorPalette\": ["
   "    \"#eaa841\","
   "    \"#141f3b\","
   "    \"#975a41\","
   "    \"#68c1af\","
   "    \"#3a7eb5\","
   "    \"#5f3937\","
   "    \"#e42950\","
   "    \"#417b7b\","
   "    \"#e7cfc3\","
   "    \"#3a537e\""
   "  ]"
   "}"]},
 :diff {"openai-image-gen-ladder/node-js-color-thief-script" {:join-output-as-string/value {:end 1711064729411}}}}