{:kks ("openai-image-gen-ladder"),
 :value {:port-in? true, :create-png-path/x "/home/ryanr/rvbbit-out/b64-image-59261-112.webp"},
 :diff {"openai-image-gen-ladder" {:create-png-path/x {:start 1711064728716, :in-chan? false}}}}