{:kks ("openai-image-gen-ladder"),
 :value
 {:created 1711063882,
  :data
  [{:b64_json "**huge base64 string**",
    :revised_prompt
    "Create a high-definition, hyperreal and vivid 16:9 highly stylized illustration resembling the pinup style. The subject is a late-20s woman of Caucasian descent, influenced by the Alice in Wonderland character. She features blonde hair, pouty lips, a slightly upturned nose, and intricate tattoos. Although her style is decidedly modern and edgy, she still bears recognizable elements that hint at her inspiration, the storybook character Alice. The woman is interacting with a wall filled with cut-out shapes, looking to snugly fit a piece into place. On the flip side, a fantastical machine puts in and pulls out shapes. This all takes place within a gritty, urban scene, a city bathed in the atmospheric glow of brilliant neon lights which imbue the scene with a vibe reminiscent of a cyberpunk setting. She has a robust, heavily curvaceous figure and is dressed in a stylish ensemble that includes a choker ribbon and a long necklace, adding a touch of burlesque to her overall look."}]},
 :diff {"openai-image-gen-ladder" {:oai-api-call {:end 1711063884715}}}}