{:kks ("openai-image-gen-ladder"),
 :value "/home/ryanr/rvbbit/frontend/resources/public/images/gen/b64-image-62291-79599.png",
 :diff {"openai-image-gen-ladder" {:create-png-path {:end 1711063884749}}}}