{:kks ("openai-image-gen-ladder"),
 :value {:port-in? true, :create-png-path/base-dir "/home/ryanr/rvbbit-out"},
 :diff {"openai-image-gen-ladder" {:create-png-path/base-dir {:start 1711064534669, :in-chan? false}}}}