{:vibrant-antelope-solver
 {:signal :signal/cool-raccoon-signal-yo,
  :persist? false,
  :type :clojure2,
  :default -1,
  :data (+ 1 2 3 88 (rand-int 1234))},
 :dazzling-gnu-solver
 {:signal :signal/hourly?,
  :persist? false,
  :type :clojure,
  :default -1,
  :data (+ 1 2 3 90 (rand-int 12345))},
 :static-data
 {:signal :signal/genius-gnat-signal,
  :persist? false,
  :type :clojure,
  :default -1,
  :data
  [(apply + [1 2 3])
   :solver/wallpaper-of-the-moment
   :solver/wallpaper-of-the-moment-8k]},
 :color-theft
 {:signal :signal/changed-wallpaper?,
  :persist? false,
  :type :flow,
  :default -1,
  :data
  {:flowmap "node-color-thief-js-webp",
   :opts {:overrides {:image-path :solver/wallpaper-of-the-moment}},
   :return nil}},
 :wallpaper-of-the-moment-8k
 {:signal :signal/every-5-minutes,
  :persist? false,
  :type :clojure2,
  :default -1,
  :data
  (let
   [dir
    "/home/ryanr/rvbbit/frontend/resources/public/images/large"
    rel-dir
    "./images/large/"
    files
    (->>
     (file-seq (clojure.java.io/file dir))
     (filter (fn [x] (.isFile x)))
     (filter
      (fn [x] (clojure.string/includes? (str (.getName x)) "8k")))
     (map (fn [x] (.getName x)))
     (shuffle))
    random-file
    (first files)]
   (str rel-dir random-file))},
 :wallpaper-of-the-moment
 {:signal :signal/every-5-minutes,
  :persist? false,
  :type :clojure,
  :default -1,
  :data
  (let
   [dir
    "/home/ryanr/rvbbit/frontend/resources/public/images/large"
    rel-dir
    "./images/large/"
    files
    (->>
     (file-seq (clojure.java.io/file dir))
     (filter (fn [x] (.isFile x)))
     (filter
      (fn
       [x]
       (not (clojure.string/includes? (str (.getName x)) "8k"))))
     (map (fn [x] (.getName x)))
     (shuffle))
    random-file
    (first files)]
   (str rel-dir random-file))},
 :readable-wallpaper?
 {:signal :signal/changed-wallpaper?,
  :persist? false,
  :type :clojure,
  :default -1,
  :data
  (true?
   (clojure.string/ends-with?
    :solver/wallpaper-of-the-moment
    ".png"))},
 :colors-of-the-moment
 {:signal :signal/changed-wallpaper?,
  :persist? false,
  :type :flow,
  :default -1,
  :data
  {:flowmap "node-color-thief-js-webp",
   :opts {:overrides {:image-path :solver/wallpaper-of-the-moment}},
   :return nil}}}
