
{:simple-horizontal-bar  {:axes {:x [:and :dimension?
                                     [:or :low-cardinality? :very-low-cardinality?]
                                     :is-string?
                                     [:and [:not :is-date?] [:not :is-datetime?]]]
                                 :y [:measure?]}

                          :sql-maps [{:select [[[[:sum :y-field]] :y-field] :x-field]  ;; aliasing as original name to lessen confusion?
                                      :from [:table]
                                      :group-by [:x-field]}]

                          :library-shapes [:vega-lite {;:data {:values (play-data "munchkin" "witch" "dog" "lion" "tiger" "bear")}
                                                          ;:data {:url "https://your.data.url/path"}
                                                          :mark "bar"
                                                          :encoding {:x {:field :x-field
                                                                         :type "ordinal"}
                                                                     :y {:aggregate "sum"
                                                                         :field :y-field
                                                                         :type "quantitative"}}}]
                          :base-score 1}
 
 
 :simple-horizontal-bar-cnt  {:axes {:x [:and :dimension?
                                     [:or :low-cardinality? :very-low-cardinality?]
                                     :is-string?
                                     [:and [:not :is-date?] [:not :is-datetime?]]]
                                 :y [:dimension?]}

                          :sql-maps [{:select [[[[:count :y-field]] :y-field] :x-field]  ;; aliasing as original name to lessen confusion?
                                      :from [:table]
                                      :group-by [:x-field]}]

                          :library-shapes [:vega-lite {;:data {:values (play-data "munchkin" "witch" "dog" "lion" "tiger" "bear")}
                                                          ;:data {:url "https://your.data.url/path"}
                                                          :mark "bar"
                                                          :encoding {:x {:field :x-field
                                                                         :type "ordinal"}
                                                                     :y {:aggregate "sum"
                                                                         :field :y-field
                                                                         :type "quantitative"}}}]
                          :base-score 1}

 :simple-horizontal-bar-color  {:axes {:x [:and :dimension? :is-string?
                                           [:and [:not :is-date?] [:not :is-datetime?]]]
                                       :y [:measure?]
                                       :color [:and :dimension? [:or :low-cardinality? :very-low-cardinality?]]}

                                :sql-maps [{:select [[[[:sum :y-field]] :y-field] :x-field :color-field] ;; aliasing as original name to lessen confusion?
                                            :from [:table]
                                            :group-by [:x-field :color-field]}]

                                :library-shapes [:vega-lite {;:data {:values (play-data "munchkin" "witch" "dog" "lion" "tiger" "bear")}
                                                                ;:data {:url "https://your.data.url/path"}
                                                                :mark "bar"
                                                                :encoding {:x {:field :x-field
                                                                               :type "ordinal"}
                                                                           :y {:aggregate "sum"
                                                                               :field :y-field
                                                                               :type "quantitative"}
                                                                           :color {:field :color-field
                                                                                   :type "nominal"}}}]
                                :base-score 1}





 :simple-horizontal-bar-color-cnt  {:axes {:x [:and :dimension? [:or :low-cardinality? :very-low-cardinality?] :is-string?
                                               [:and [:not :is-date?] [:not :is-datetime?]]]
                                           :y [:dimension?]
                                           :color [:and :dimension? [:or :low-cardinality? :very-low-cardinality?]]}

                                    :sql-maps [{:select [[[[:count :y-field]] :y-field] :x-field :color-field]
                                                :from [:table]
                                                :group-by [:x-field :color-field]}]

                                    :library-shapes [:vega-lite {:mark "bar"
                                                                    :encoding {:x {:field :x-field
                                                                                   :type "ordinal"}
                                                                               :y {:aggregate "sum"
                                                                                   :field :y-field
                                                                                   :type "quantitative"}
                                                                               :color {:field :color-field
                                                                                       :type "nominal"}}}]
                                    :base-score 1}




  :simple-timeseries-line-color  {:axes {:x [:and :dimension? [:or :low-cardinality? :very-low-cardinality?] :is-string?
                                             [:and :is-date? :is-datetime?]]
                                         :y [:measure?]
                                         :color [:and :dimension? [:or :low-cardinality? :very-low-cardinality?]]}

                                  :sql-maps [{:select [[[[:sum :y-field]] :y-field] :x-field :color-field] ;; aliasing as original name to lessen confusion?
                                              :from [:table]
                                              :group-by [:x-field :color-field]}]

                                  :library-shapes [:vega-lite {;:data {:values (play-data "munchkin" "witch" "dog" "lion" "tiger" "bear")}
                                                                ;:data {:url "https://your.data.url/path"}
                                                                  :mark "line"
                                                                  :encoding {:x {:field :x-field
                                                                                 :type "quantitative"}
                                                                             :y {:aggregate "sum"
                                                                                 :field :y-field
                                                                                 :type "quantitative"}
                                                                             :color {:field :color-field
                                                                                     :type "nominal"}}}]
                                  :base-score 1}


 :simple-timeseries-line  {:axes {:x [:and :dimension? [:or :low-cardinality? :very-low-cardinality?] :is-string?
                                      [:and :is-date? :is-datetime?]]
                                  :y [:measure?]
                                   ;:color [:and :dimension? [:or :low-cardinality? :very-low-cardinality?]]
                                  }

                           :sql-maps [{:select [[[[:sum :y-field]] :y-field] :x-field :color-field] ;; aliasing as original name to lessen confusion?
                                       :from [:table]
                                       :group-by [:x-field :color-field]}]

                           :library-shapes [:vega-lite {;:data {:values (play-data "munchkin" "witch" "dog" "lion" "tiger" "bear")}
                                                                ;:data {:url "https://your.data.url/path"}
                                                           :mark "line"
                                                           :encoding {:x {:field :x-field
                                                                          :type "quantitative"}
                                                                      :y {:aggregate "sum"
                                                                          :field :y-field
                                                                          :type "quantitative"}
                                                                       ;:color {:field :color-field
                                                                       ;        :type "nominal"}
                                                                      }}]
                           :base-score 1}


  :simple-timeseries-line-color-cnt  {:axes {:x [:and :dimension? [:or :low-cardinality? :very-low-cardinality?] :is-string?
                                             [:and :is-date? :is-datetime?]]
                                         :y [:dimension?]
                                         :color [:and :dimension? [:or :low-cardinality? :very-low-cardinality?]]}

                                  :sql-maps [{:select [[[[:count :y-field]] :y-field] :x-field :color-field] ;; aliasing as original name to lessen confusion?
                                              :from [:table]
                                              :group-by [:x-field :color-field]}]

                                  :library-shapes [:vega-lite {;:data {:values (play-data "munchkin" "witch" "dog" "lion" "tiger" "bear")}
                                                                ;:data {:url "https://your.data.url/path"}
                                                                  :mark "line"
                                                                  :encoding {:x {:field :x-field
                                                                                 :type "quantitative"}
                                                                             :y {:aggregate "sum"
                                                                                 :field :y-field
                                                                                 :type "quantitative"}
                                                                             :color {:field :color-field
                                                                                     :type "nominal"}}}]
                                  :base-score 1}


:simple-timeseries-line-cnt  {:axes {:x [:and :dimension? [:or :low-cardinality? :very-low-cardinality?] :is-string?
                                     [:and :is-date? :is-datetime?]]
                                 :y [:dimension?]
                                   ;:color [:and :dimension? [:or :low-cardinality? :very-low-cardinality?]] 
                                 }

                          :sql-maps [{:select [[[[:count :y-field]] :y-field] :x-field :color-field] ;; aliasing as original name to lessen confusion?
                                      :from [:table]
                                      :group-by [:x-field :color-field]}]

                          :library-shapes [:vega-lite {;:data {:values (play-data "munchkin" "witch" "dog" "lion" "tiger" "bear")}
                                                                ;:data {:url "https://your.data.url/path"}
                                                          :mark "line"
                                                          :encoding {:x {:field :x-field
                                                                         :type "quantitative"}
                                                                     :y {:aggregate "sum"
                                                                         :field :y-field
                                                                         :type "quantitative"}
                                                                       ;:color {:field :color-field
                                                                       ;        :type "nominal"}
                                                                     }}]
                          :base-score 1}


}